.front-view-content {
    padding: 32px 26.5px 25.5px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("^assets/emm-assets/image/home/homeFrontAndRearViewImgs/qst_bg.png");
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.9);
    position: relative;
    
    .front-item {
        position: absolute;
        width: calc(50% - 29px);
        min-width: calc(50% - 29px);
        height: 30.4px;
        background-color: #828087;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .front-item-content {
            padding-left: 8px;
            display: flex;
            align-items: center;

            .item-name {
                font-size: 8px;
                color: #BAC3D5;
            }

            .status-img {
                margin-right: 3px;
                display: inline-block;
                width: 10px;
                height: 10px;
            }
        }
    }

    .full{
        width: calc(100% - 54px);
        background-image: url('^assets/emm-assets/image/home/homeFrontAndRearViewImgs/jx_bj_17.png');
        z-index: 10;
    }
    .half{
        height: 31px;
        width: calc(50% - 28.5px);
        background-image: url('^assets/emm-assets/image/home/homeFrontAndRearViewImgs/jx_bj_20.png');
        z-index: 8;
    }
    .quarter{
        height: 15px;
        background-image: url('^assets/emm-assets/image/home/homeFrontAndRearViewImgs/jx_bj_21.png');
        z-index: 5;
    }
                
    .blade1.full{
        top: 272px; left: 28px;
    }
    .blade1.half{
        top: 272px; left: 28px;
    }
    .blade1.quarter{
        top: 288px; left: 28px;
    }
    .blade1.Disabled{
        top: 272px; left: 28px;
    }
    .blade2.full{
        top: 238px; left: 28px;
    }
    .blade2.half{
        top: 238px; left: 28px;
    }
    .blade2.quarter{
        top: 254px; left: 28px;
    }
    .blade2.Disabled{
        top: 238px; left: 28px;
    }
    .blade3.full{
        top: 204px; left: 28px;
    }
    .blade3.half{
        top: 204px; left: 28px;
    }
    .blade3.quarter{
        top: 220px; left: 28px;
    }
    .blade3.Disabled{
        top: 204px; left: 28px;
    }
    .blade4.full{
        top: 170px; left: 28px;
    }
    .blade4.half{
        top: 170px; left: 28px;
    }
    .blade4.quarter{
        top: 186px; left: 28px;
    }
    .blade4.Disabled{
        top: 170px; left: 28px;
    }
    .blade5.full{
        top: 136px; left: 28px;
    }
    .blade5.half{
        top: 136px; left: 28px;
    }
    .blade5.quarter{
        top: 152px; left: 28px;
    }
    .blade5.Disabled{
        top: 136px; left: 28px;
    }
    .blade6.full{
        top: 102px; left: 28px;
    }
    .blade6.half{
        top: 102px; left: 28px;
    }
    .blade6.quarter{
        top: 118px; left: 28px;
    }
    .blade6.Disabled{
        top: 102px; left: 28px;
    }
    .blade7.full{
        top: 68px; left: 28px;
    }
    .blade7.half{
        top: 68px; left: 28px;
    }
    .blade7.quarter{
        top: 84px; left: 28px;
    }
    .blade7.Disabled{
        top: 68px; left: 28px;
    }
    .blade8.full{
        top: 34px; left: 28px;
    }
    .blade8.half{
        top: 34px; left: 28px;
    }
    .blade8.quarter{
        top: 50px; left: 28px;
    }
    .blade8.Disabled{
        top: 34px; left: 28px;
    }
    .blade9.full{
        top: 272px; left: 28px;
    }
    .blade9.half{
        top: 272px; right: 26px;
        z-index: 8;
    }
    .blade9.quarter{
        top: 288px; right: 26px;
    }
    .blade9.Disabled{
        top: 272px; right: 26px;
    }
    .blade10.full{
        top: 238px; left: 28px;
    }
    .blade10.half{
        top: 238px; right: 26px;
    }
    .blade10.quarter{
        top: 254px; right: 26px;
    }
    .blade10.Disabled{
        top: 238px; right: 26px;
    }
    .blade11.full{
        top: 204px; left: 28px;
    }
    .blade11.half{
        top: 204px; right: 26px;
    }
    .blade11.quarter{
        top: 220px; right: 26px;
    }
    .blade11.Disabled{
        top: 204px; right: 26px;
    }
    .blade12.full{
        top: 170px; left: 28px;
    }
    .blade12.half{
        top: 170px; right: 26px;

    }
    .blade12.quarter{
        top: 186px; right: 26px;
    }
    .blade12.Disabled{
        top: 170px; right: 26px;
    }
    .blade13.full{
        top: 136px; left: 28px;
    }
    .blade13.half{
        top: 136px; right: 26px;
    }
    .blade13.quarter{
        top: 152px; right: 26px;
    }
    .blade13.Disabled{
        top: 136px; right: 26px;
    }
    .blade14.full{
        top: 102px; left: 28px;
    }
    .blade14.half{
        top: 102px; right: 26px;
    }
    .blade14.quarter{
        top: 118px; right: 26px;
    }
    .blade14.Disabled{
        top: 102px; right: 26px;
    }
    .blade15.full{
        top: 68px; left: 28px;
    }
    .blade15.half{
        top: 68px; right: 26px;
    }
    .blade15.quarter{
        top: 84px; right: 26px;
    }
    .blade15.Disabled{
        top: 68px; right: 26px;
    }
    .blade16.full{
        top: 34px; left: 28px;
    }
    .blade16.half{
        top: 34px; right: 26px;
    }
    .blade16.quarter{
        top: 50px; right: 26px;
    }
    .blade16.Disabled{
        top: 34px; right: 26px;
    }
    .blade17.full{
        top: 272px; left: 28px;
    }
    .blade17.half{
        top: 272px; left: 28px;
    }
    .blade17.quarter{
        top: 272px; left: 28px;
    }
    .blade17.Disabled{
        top: 272px; left: 28px;
    }
    .blade18.full{
        top: 238px; left: 28px;
    }
    .blade18.half{
        top: 238px; left: 28px;
    }
    .blade18.quarter{
        top: 238px; left: 28px;
    }
    .blade18.Disabled{
        top: 238px; left: 28px;
    }
    .blade19.full{
        top: 204px; left: 28px;
    }
    .blade19.half{
        top: 204px; left: 28px;
    }
    .blade19.quarter{
        top: 204px; left: 28px;
    }
    .blade19.Disabled{
        top: 204px; left: 28px;
    }

    .blade20.full{
        top: 170px; left: 28px;
    }
    .blade20.half{
        top: 170px; left: 28px;
    }
    .blade20.quarter{
        top: 170px; left: 28px;
    }
    .blade20.Disabled{
        top: 170px; left: 28px;
    }
    .blade21.full{
        top: 136px; left: 28px;
    }
    .blade21.half{
        top: 136px; left: 28px;
    }
    .blade21.quarter{
        top: 136px; left: 28px;
    }
    .blade21.Disabled{
        top: 136px; left: 28px;
    }
    .blade22.full{
        top: 102px; left: 28px;
    }
    .blade22.half{
        top: 102px; left: 28px;
    }
    .blade22.quarter{
        top: 102px; left: 28px;
    }
    .blade22.Disabled{
        top: 102px; left: 28px;
    }

    .blade23.full{
        top: 68px; left: 28px;
    }
    .blade23.half{
        top: 68px;; left: 28px;
    }
    .blade23.quarter{
        top: 68px; left: 28px;
    }
    .blade23.Disabled{
        top: 68px; left: 28px;
    }

    .blade24.full{
        top: 34px; left: 28px;
    }
    .blade24.half{
        top: 34px; left: 28px;
    }
    .blade24.quarter{
        top: 34px; left: 28px;
    }
    .blade24.Disabled{
        top: 34px; left: 28px;
    }
    .blade25.full{
        top: 272px; left: 28px;
    }
    .blade25.half{
        top: 272px; right: 26px;
    }
    .blade25.quarter{
        top: 272px; right: 26px;
    }
    .blade25.Disabled{
        top: 272px; right: 26px;
    }
    .blade26.full{
        top: 238px; left: 28px;
    }
    .blade26.half{
        top: 238px; right: 26px;
    }
    .blade26.quarter{
        top: 238px; right: 26px;
    }
    .blade26.Disabled{
        top: 238px; right: 26px;
    }
    .blade27.full{
        top: 204px; left: 28px;
    }
    .blade27.half{
        top: 204px; right: 26px;
    }
    .blade27.quarter{
        top: 204px; right: 26px;
    }
    .blade27.Disabled{
        top: 204px; right: 26px;
    }

    .blade28.full{
        top: 170px; left: 28px;
    }
    .blade28.half{
        top: 170px; right: 26px;
    }
    .blade28.quarter{
        top: 170px; right: 26px;
    }
    .blade28.Disabled{
        top: 170px; right: 26px;
    }


    .blade29.full{
        top: 136px; left: 28px;
    }
    .blade29.half{
        top: 136px; right: 26px;
    }
    .blade29.quarter{
        top: 136px; right: 26px;
    }
    .blade29.Disabled{
        top: 136px; right: 26px;
    }

    .blade30.full{
        top: 102px; left: 28px;
    }
    .blade30.half{
        top: 102px; right: 26px;
    }
    .blade30.quarter{
        top: 102px; right: 26px;
    }
    .blade30.Disabled{
        top: 102px; right: 26px;
    }

    .blade31.full{
        top: 68px; left: 28px;
    }
    .blade31.half{
        top: 68px; right: 26px;
    }
    .blade31.quarter{
        top: 68px; right: 26px;
    }
    .blade31.Disabled{
        top: 68px; right: 26px;
    }

    .blade32.full{
        top: 34px; left: 28px;
    }
    .blade32.half{
        top: 34px; right: 26px;
    }
    .blade32.quarter{
        top: 34px; right: 26px;
    }
    .blade32.Disabled{
        top: 34px; right: 26px;
    }
}