:host {
    .container {
        border: 1px solid #DCDFE6;
        border-radius: 2px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        height: 48px;
        line-height: 48px;
        padding: 0 32px;
        background-color: #F0F3FA;
        border-bottom: 1px solid #DCDFE6;
    }
    .headerTitle {
        display: flex;
    }
    .title {
        color: #000;
        font-size: 16px;
        font-weight: 600;
    }
    .archivesImg {
        background: url('^assets/common-assets/image/icon-archives.png') no-repeat center center;
        width: 20px;
        height: 21px;
        margin-right: 8px;
        margin-top: 15px;
    }
    .content {
        padding: 17px 32px 0 32px;
        font-size: 14px;
        display: flex;
    }
    .editIcon {
        margin-right: 20px;
    }
    .icon {
        font-size: 16px;
        color: #B8BECC;
        cursor: pointer;
        &:hover {
            color: #6C7280;
        }
    }
    .labelPart {
        display: flex;
        flex-direction: column;
        padding-right: 61px;
        flex-grow: 0;
        white-space: nowrap;
    }
    .contentPart {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        word-break: break-all;
        width: 100%;
    }
    .label {
        padding-bottom: 14px;
        font-size: 14px;
        line-height: 20px;
        color: #9EA4B3;
    }
    .labelContent {
        color: #282B33;
        padding-bottom: 14px;
        font-size: 14px;
        line-height: 20px;
    }
    .labelContent:last-of-type {
        padding-bottom: 17px;
    }
    .lockingText {
        cursor: not-allowed;
        color: #D4D9E6;
        pointer-events: none !important;
    }
}
