$topDis: 32px;
:host {
    .container {
        display: flex;
        min-height: calc(100vh - 310px);
    }
    .contain {
        width: 100%;
    }
    .menu {
        width: 200px;
        padding-left: 24px;
        border: 1px solid #E6EBF5;
        border-right: none;
    }
    .numberDetail {
        margin-top: $topDis;
        color: #6C7280;
        font-size: 14px;
        cursor: pointer;
    }
    .activatedDetail {
        color: #6C92FA;
    }
    .summary {
        display: flex;
        margin-bottom: 25px;
        line-height: 16px;
    }
    .cpuImg {
        background: url('^assets/common-assets/image/icon-cpu.png') no-repeat center center;
        width: 16px;
        height: 16px;
        margin-right: 9px;
    }
    .label {
        color: #9EA4B3;
        font-size: 14px;
    }
    .labelContent {
        font-size: 14px;
        color: #000;
        margin-right: 20px;
        margin-left: 8px;
    }
    .contentThin {
        width: calc(100% - 200px);
        padding-top: $topDis;
        padding-left: 32px;
    }
    .contentBoarder {
        border: 1px solid #E6EBF5;
    }
    .detail {
        margin-top: $topDis;
        color: #6C7280;
    }
    .activeDetail{
        margin-top: $topDis;
        color: #6C92FA;
    }
}
