#spUpgrade{
    .alertStyle{
        width: 100%;
    }
    .spUpgradeTitle{
        font-size: 14px;
        color: #9EA4B3;
        letter-spacing: 0;
        line-height: 18px;
    }
    .spUpgradeTableHeader{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;
    }
    .spUpgradeTableTitle{
        font-size: 16px;
        color: #282B33;
        line-height: 16px;
        font-weight: bold;
    }
    #spUpgradeLock{
        margin-top: 12px;
    }
    #upgradeDelete{
        min-width: 96px;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
    }
    ::ng-deep {
        .ti3-form > tbody tr > td {
            vertical-align: inherit;
        }
        .ti3-form{
            .ti3-form-label {
                font-size: 14px !important;
                color: #9EA4B3;
                padding: 0 !important;
                line-height: 32px;
            }
            .ti3-form-content {
                padding: 0 0 20px 32px !important;
                line-height: 32px;
            }
        }
    }
    .hiddenPagination{
        display:none !important;
    }
}