@import 'src/assets/common-assets/scss/varible.scss';
.baseContent{
    img{
        height: 16px;
        width: 16px;
        margin-right: 4px;
    }
}
.second-drop-ul{
    margin-left: -14px;
    li.login{
        &:hover{
            background-color: $common_select_bg_color_hover;
            color: $common_select_text_color_hover;
        }
        &.active{
            background-color: $common_select_bg_color_active;
            color:  $common_select_text_color_active;
        }
    }
}
.space-line{
    height: 10px;
}
