:host {
    .loginStartTiDatas{
        margin: 0 8px;
    }
    .noEditStatus {
        width: 80px;
    }
    .statusDiv1 {
        height: 20px;
        border-radius: 12px;
        text-align: center;
        background: #DCDFE6;
        color: #ffffff;
        line-height: 20px;
    }
    .statusDiv {
        width: 75px;
        height: 20px;
        border-radius: 12px;
        text-align: center;
        background: #7ADFA0;
        line-height: 20px;
    }
    .statusLabel {
        color: #fff;
        padding: 0;
        border-radius: 3px;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 84px;
        vertical-align: sub;
    }
    .notAllowed {
        cursor: not-allowed !important;
        color: #B8BECC!important;
        &:hover {
            color: #B8BECC!important;
        }
    }
    .lockingText {
        pointer-events: none !important;
        color: #B8BECC !important;
        cursor: not-allowed !important;
    }
    .editableButton {
        cursor: pointer;
        color: #5B7EDE;
        &:hover {
            color: #3D58A6;
        }
    }
    .saveBtn {
        margin-right: 24px;
    }
    input {
        width: 200px;
    }
    .timeInput {
        width: 40%;
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis;
    }
    .ipInput {
        width: 90%;
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis;
    }
    .macInput {
        width: 90%;
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis;
    }
}
