.eventLevelInformational{
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    margin-right: 3px;
    background: url('^assets/common-assets/image/alarmEvent/normal.png') no-repeat left center;
}
.eventLevelMinor{
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    margin-right: 3px;
    background: url('^assets/common-assets/image/alarmEvent/minor.png') no-repeat left center;
}
.eventLevelMajor{
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    margin-right: 3px;
    background: url('^assets/common-assets/image/alarmEvent/emergency.png') no-repeat left center;
}
.eventLevelCritical {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    margin-right: 3px;
    background: url('^assets/common-assets/image/alarmEvent/severe.png') no-repeat left center;
}