#versionView {
    #activeInfor {
        padding-top: 16px;
    }
    .butClass{
        background: #6C92FA;
        border: 1px solid #6C92FA;
        color: #FFFFFF;
        border-radius: 1px;    
        font-size: 14px;
        line-height: 16px;
        height: 40px;
        min-width: 160px;
        width:auto;
        cursor: pointer;
    }
    .firmWareUpdateBut1 {
        background: #6C92FA;
        border-radius: 1px;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 16px;
        height: 40px;
        border: 1px solid #6C92FA;
        margin-left: 16px;
        cursor: pointer;
        width: auto;
    }
    #versionList {
        padding-top: 20px;
    }
}
:host ::ng-deep{
    #versionView .ti3-form .ti3-form-label{
        font-size: 14px;
        color: #9EA4B3;
        letter-spacing: 0;
        line-height: 14px;
        padding: 20px 32px 0px 0;
    }
    #versionView .ti3-form .ti3-form-content{
        padding-bottom: 0px;
    }
    #versionView .ti3-form > tbody tr > td {
        vertical-align: baseline;
        white-space: normal;
    }
    #versionView .ti3-form > tbody tr > td {
        vertical-align: baseline;
        white-space: normal;
        display: inline-block;
    }
}