
.powerSet{
    margin-bottom: 20px;
}
.powerProgress{
    width: 200px;
    display: inline-block;
    margin-right: 8px;
}
.ti3-table-detail-container{
    overflow: hidden;
    .tableTitle{
        font-size: 14px;
        color: #282B33;
        letter-spacing: 0;
        line-height: 14px;
        margin-bottom: 20px;
    }
    .tableDetails{
        float: left;
        width: 50%;
        tr{
            td{
                padding-bottom: 20px;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 14px;
            }
        }
        td:nth-of-type(1){
            color: #9EA4B3;
            white-space: nowrap;
            padding-right: 32px;
        }
        td:nth-of-type(2){
            width: 99%;
        }
        tr:first-child td{
            color: #282B33;
            font-weight: bold;
        }
        tr:last-child td{
            padding-bottom: 0px;
        }
    }
}
.powerStateImg{
    border-radius: 8px;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 8px;
        }
        .notPosition{
            background: #B8BECC;
            border: 1px solid #B8BECC;
        }
        .abnormal{
            background: #F45C5E;
            border: 1px solid #F45C5E;
        }
        .sleeping{
            background: #6C92FA;
            border: 1px solid #6C92FA;;
        }
        .health{
            background: #7ADFA0;
            border: 1px solid #7ADFA0;
        }
