@import 'src/assets/common-assets/scss/varible.scss';
@import 'src/assets/common-assets/scss/tiny.customize.scss';

h2{
    color: $fontColor;
    font-size: 18px;
    font-weight: 600;
}

.ti3-modal-body{
    overflow: hidden;
}
#userPwd{
    width: 320px;
}
.footer{
    text-align: center;
    margin-top: 30px;
    button{
        width: 98px;
        height: 32px;
    }
    button+button{
        margin-left: 15px;
    }
}
.fileError{
    color: #f66f6a;
    margin-top: 10px;
    line-height: 1;;
}

:host ::ng-deep{
    ti-alert{
        width: 100%;
    }
    .ti3-alert-container{
        font-size: 12px;
        background-color: #E2F1FC;
        border-color: #6CBFFF;
    }
    .ti3-form{
        width: 100%;
        .ti3-form-label{
            color: #6C7280;
            font-size: 14px;
        }
    }
    .ti3-alert-circle{
        background-color: #6CBFFF;
    }
    .ti3-aui-file-field-container{
        width: 214px;
    }
    .ti3-modal-footer{
        padding-top: 2px;
    }
    #ldapCrlBox {
        .ti3-aui-upload-btn {
            font-size: 14px !important;
        }
    }
}


