.bmcNetContainer {
    margin-top: 15px;
    margin-bottom: 15px;
}
#ipv4BatchSetting {
    font-size: 14px;
}
.saveBtn {
    min-width: 120px;
    height: 40px;
    font-size: 16px;
}
:host ::ng-deep {
    [tiText][disabled]:disabled {
        color: #999;
    }

    ti-ip.ti_input_ip_container_ipv4[disabled] .ti_input_ip_division {
        color: #999;
    }

    .ti_input_ip_container_ipv4 input {
        font-size: 14px !important;
    }
}