
.isSelectedLabel {
    border-left: solid 1px #6c92fa;
    border-top: solid 1px #6c92fa;
    border-bottom: solid 1px #6c92fa;
    cursor: pointer;
}
.unselectedLabel {
    border-left: solid 1px #eeeeee;
    border-top: solid 1px #eeeeee;
    border-bottom: solid 1px #eeeeee;
    cursor: pointer;
}
.isSelectedContent {
    border-top: solid 1px #6c92fa;
    border-bottom: solid 1px #6c92fa;
    cursor: pointer;
}

.unselectedContent {
    border-top: solid 1px #eeeeee;
    border-bottom: solid 1px #eeeeee;
    cursor: pointer;
}
.isSelectedImg {
    border-right: solid 1px #6c92fa;
    border-top: solid 1px #6c92fa;
    border-bottom: solid 1px #6c92fa;
    cursor: pointer;
}
.unselectedImg {
    border-right: solid 1px #eeeeee;
    border-top: solid 1px #eeeeee;
    border-bottom: solid 1px #eeeeee;
    cursor: pointer;
}
.tab {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 16px;
    tr {
        height: 40px;
    }
}
.tdContent {
    padding-right: 15px;
}
.label {
    font-size: 14px;
    color: #282B33;
    text-align: center;
    line-height: 18px;
    margin-left: 16px;
    white-space: nowrap;
}
.content{
    width: 100%;
    font-size: 12px;
    color: #9EA4B3;
    letter-spacing: 0;
    line-height: 14px;
}
.imgState {
    float: right;
    margin-top: -19px;
}
.selectedImg{
    height: 16px;
    width: 16px; 
    background: url('^assets/common-assets/image/icon_div_select.png') no-repeat left center;
}
.custom {
    margin-bottom: 16px;
}
.tdBottomNone {
    border-bottom: none !important;
}
.customSelected {
    width: 100%;
    border: solid #6c92fa 1px;
    margin-top: -17px;
    border-top: solid 0;
    padding: 16px;
}
.customUnselected {
    width: 100%;
    border: solid #eeeeee 1px;
    margin-top: -17px;
    border-top: solid 0;
    padding: 16px;
}
.cpuOutletTemperature {
    height: 40px;
}
.model-tabel3 {
    font-size: 14px;
    color: #999999;
    line-height: 14px;
    padding-right: 15px;
    white-space: nowrap;
}
.rangeTemperature {
    overflow: auto;
    margin-top: 24px;
    td{
        border: 1px solid #D4D9E6;
        text-align: center;
        
        label{
            white-space: pre;
            
        }
    }
    .oneTr td, .labeltd{
        padding: 0 8px;
        background: #F0F3FA;
    }
}

.fansClass {
    width: 100%;
    text-align: center;
    height: 32px;
}

:host ::ng-deep {
    ti-alert{
        width: 100%;
    }
    [tiText]{
      height: 32px;
      line-height: 30px;
    }
    .rangeTemperature{
        [tiText]{
            border: none !important;
            width: 100%;
        }
    }
    [tiButton]{
        padding: 0 16px;
        font-size: 14px;
        text-align: center;
        line-height: 14px;
        min-width: 96px;
        height: 32px;
        border-radius: 1px;
    }
    .ti3-btn-primary[disabled] {
        background: #E6EBF5;
        border: 1px solid #D4D9E6;
        color: #B8BECC;
        border-radius: 1px;
    }
    .ti3-btn-primary:not([disabled]){
        background: #6C92FA;
        border-color: #6A92FA;
    }
    .ti3-modal-header{
        padding: 32px;
    }
    .ti3-modal-footer button:nth-of-type(2){
        margin-left: 16px;
    }
}