@import 'src/assets/common-assets/scss/custom.scss';
:host ::ng-deep {
  .volumnEditBody {
    max-height: none !important;
    .inputText {
      width: 200px;
      font-size: 14px;
    }
    .radioBtn {
      display: inline-block;
      margin-right: 20px;
    }
    .ti3-form .ti3-form-label {
      white-space: normal;
    }
  }
}
.ti3-modal-body {
  overflow-y: hidden;
}

.capacity {
  width: 200px !important;
}
.unit {
  width: 80px !important;
}

#okBtn, #cancelBtn {
  height: 32px;
  font-size: 14px;
}

:host ::ng-deep {
  .ti3-form .ti3-form-label {
      font-size: 14px !important;
      color: #9EA4B3 !important;
  }
}
