#networkViewId {
    ::ng-deep {
        .ti_input_ip_container_ipv4[disabled] .ti_input_ip_octet{
            color: #B8BECC;
        }
    }
}
.contentContent {
    margin-bottom: 8px;
    .contentTitle {
        display: block;
        font-weight: bold;
        margin-bottom: 32px;
        font-size: 16px;
        color: #282B33;
        line-height: 16px;
    }
    .inputClass{
        width: 300px;
        height:32px;
        border-radius: 1px;
        font-size: 14px;
    }
    .buttonClass {
        height: 40px !important;
        margin-top: 30px;
        padding: 0px 10px !important;
        margin-bottom: 21px !important;
    }
    .errPosition{
        position: relative;
    }
}

:host ::ng-deep {
    .ti3-form .ti3-form-list .ti3-form-label {
        padding-right: 32px;
    }
    .ti3-switch.ti3-switch-on .ti3-switch-track{
        background: #6C92FA;
        border-radius: 100px;
    }
    .ti3-form .ti3-form-label{
        font-size: 14px !important;
        color: #9EA4B3;
        letter-spacing: 0;
        line-height: 14px;
        padding: 0 32px 32px 0;
        width : 120px;
    }
    .ti3-form .ti3-form-content{
        padding-bottom: 32px;
    }
    .ti3-switch.ti3-switch-on .ti3-switch-track{
        background: #6C92FA;
        border-radius: 100px;
    }
    .ti3-form .ti3-form-list .ti3-form-label {
        min-width: 120px;
    }
    [tiButton] {
        font-size: 18px !important;
    }
    .ti3-form > tbody tr > td {
        vertical-align: baseline;
    }
}
