#ntpAuthen {
    .ntpSwitchDiv {
        margin-bottom: 30px;
    }
    #ntpUpload {
        width: auto;
        display: inline-block;
    }
    .iconOk{
        display: inline-block;
        height: 24px;
        width: 24px;
        background: url('^assets/common-assets/image/icon_ok.png') no-repeat center center;
        cursor: pointer;
        vertical-align: text-top;
        margin-right: 8px;
    }
    .uploadTip {
        display: inline-block;
        margin-left: 10px;
        .uploaded {
            vertical-align: middle;
        }
    }
}
:host ::ng-deep {
    #ntpAuthen {
        #authenSwitch {
            vertical-align: middle;
        }
        .ti3-file-btn{
            border-radius: 1px;
            min-width: 96px;
            height: 32px;
            font-size: 14px;
        }
    }
}