@import 'src/assets/common-assets/scss/varible.scss';
#kerberos{
    .content{
        h4{
            font-size: 16px;
            color: #282B33;
            margin-bottom: 28px;
        }
        .header{
            margin-bottom: 50px;
            span{
                font-size: 14px;
                color: #9EA4B3;
                margin-right: 30px;
                .iconHelp{
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    height: 16px;
                    width: 16px;
                    background: url('^assets/common-assets/image/icon_help.png') no-repeat 0 0;
                    background-size: contain;
                    cursor: pointer;
                    top: -1px;
                }
            }
            #kerberosSwitch {
                vertical-align: top;
            }
        }
        h3.title{
            margin-bottom: 20px;
        }
        .formGroup{
            margin-bottom: 30px;
            .inputItem{
                width: 300px;
                height: 32px;
                font-size: 14px;
            }
        }
        .krbSecretTip {
            color: #9EA4B3;
            margin-top: 5px;
            display: inline-block;
        }
        .save{
            margin-bottom: 44px;
            .saveBtn{
                width: 120px;
                height: 40px;
                background: #6C92FA;
                color: #fff;
                font-size: 18px;
                outline: none;
                border: 0;
                cursor: pointer;
                border-radius: 2px;
                &.disabled{
                    color: #fff;
                    background: #ccc;
                    cursor: not-allowed;
                }
            }
        }
        .group{
            .addGroup {
                height: 32px;
                font-size: 14px;
            }
            .groupTable{
                margin-top: 16px;
                td{
                    .operator{
                        display: inline-block;
                        color: #6C92FA;
                        text-decoration: none;
                        &:first-child{
                            margin-right: 25px;
                        }
                        &:hover{
                            color: #3D58A6;
                        }
                        &.disabled{
                            color: #999;
                            cursor: not-allowed;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
:host ::ng-deep{
    .ti3-form{
        .ti3-form-label{
            font-size: 14px !important;
            color: #9EA4B3;
            padding-right: 32px;
        }
        .ti3-text-form-content{
            position: relative;
        }
    }
    .formGroup{
        .ti3-unifyvalid-tip-error-container {
            min-width: 300px;
            top: 0px;
            position: absolute;
            left: 310px;
        }
        .ti3-aui-file-field-container {
            width: 194px;
        }
    }
    .ti3-aui-upload-btn {
        font-size: 14px;
    }
}