.bladeList {
    width: 103px;
}

.operatorButoon {
    margin-left: 15px;
    font-size: 14px;
}

.operatorButoon:hover {
    background: #6C92FA !important;
    border-color: #6C92FA !important;
    color: #fff !important;
}

#bmcUsersTbInfo {
    margin-top: 15px;
}

.operator{
    margin-right: 25px;
    color: #6C92FA;
    cursor: pointer;

    &:hover{
        color: #3D58A6;
    }

    &.disabled{
        color: #999;
        cursor: not-allowed;
        text-decoration: none;
    }
}

.noDataBox{
    padding-top: 48px;
    text-align: center;
    font-size: 14px;
    color: #727885;
    .noData{
        text-align: center;
        background: url('^assets/common-assets/image/icon-no-data.png') no-repeat center center;
        width: 100%;
        height: 100px;
        margin-bottom: 12px;
    }
}

:host ::ng-deep {
    .ti3-icon-checkmark:before {
        content: '';
        color: white;
    }
}
