.pageView {
    width: 100%;
    height: 100%;
    font-size: 14px;
    .contentDetails {    
        padding: 32px 16px 32px 32px;
    }
}
:host{
    #powerPageView{
        ::ng-deep {
            .ti3-tabs {
                height: 20px;
                margin-bottom: 8px;
            }
            .ti3-tabs > li{
                font-size: 16px;
                color: #6C7280;
                line-height: 16px;
                height: 16px;
            }
            .ti3-tabs > li > a{
                padding: 0;
                height: 16px;
                line-height: 16px;
            }
            .ti3-tabs .ti3-tab-li:not(:last-child):after{
                bottom: 0;
                background-color: #D4D9E6;
            }
            .ti3-tabs > li.ti3-tab-active:not(.disabled) > a {
                cursor: default;
                color: #6C92FA;
            }
            .ti3-tabs + .ti3-tab-slider{
                border-color:#6C92FA;
            }
            .ti3-tab-content{
                border-top: none;
            }
            .ti3-tab-pane{
                padding-top: 20px;
            }
        }
    }   
}