.nav-dropdown{
    position: absolute;
    left: 0;
    padding: 20px 0;
    background-color: #202228;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.5);
    li{
        line-height: 20px;
        padding: 8px 30px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        color: #9EA4B3;
        font-size: 14px;
    }
}
.nav-dropdown.default{
    background-color: #202228;
    li{
        color: #9EA4B3;
    }
    li:hover{
        color: #86a6fc;
    }
}
.nav-dropdown.beautiful{
    background-color: #485CC7;
    li{
        color: #fff;
    }
    li:hover{
        color: #429AFF;
    }
}
.nav-dropdown.standard{
    background-color: #1D7DDF;
    li{
        color: #fff;
    }
    li:hover{
        color: #065BFF;
    }
}
.nav-dropdown.simple{
    background-color: #202228;
    li{
        color: #9EA4B3;
    }
    li:hover{
        color: #86a6fc;
    }
}