:host {
	margin-bottom: 40px;
	cursor: pointer;
	.title {
		color: #282b33;
		font-size: 16px;
		font-weight: 600;
		white-space: nowrap;
	}
	.resourceContent {
		margin-top: 18px;
		display: flex;
	}
	.resourceDetailInfor,
	.resourceDetailLabel {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.resourceDetailLabel {
		font-size: 14px;
		color: #9ea4b3;
		span {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 110px;
		}
	}
	.resourceDetailInfor {
		margin-left: 8px;
		font-size: 14px;
		color: #282b33;
		font-weight: 600;
	}
	.commonImg {
		min-width: 82px;
		height: 82px;
		background-size: cover;
		margin-right: 16px;
	}
	.powerImg {
		background: url("/assets/irm-assets/image/home/default/power.png") no-repeat;
	}
	.batteryImg {
		background: url("/assets/irm-assets/image/home/battery.png") no-repeat;
	}
	.funImg {
		background: url("/assets/irm-assets/image/home/default/fun.png") no-repeat;
	}
	@media (max-width: 1440px){
		.commonImg {
		min-width: 66px;
		height: 66px;
		background-size: cover;
		margin-right: 6px;
		}
	}
}
