#ldap{
    .content{
        h4{
            font-size: 16px;
            color: #282B33;
            margin-bottom: 28px;
        }
        .header{
            margin-bottom: 26px;
            span{
                font-size: 14px;
                color: #9EA4B3;
                margin-right: 30px;
                .iconHelp{
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    height: 16px;
                    width: 16px;
                    background: url('^assets/common-assets/image/icon_help.png') no-repeat 0 0;
                    background-size: contain;
                    cursor: pointer;
                    top: -2px;
                }
            }
            #ldapFuncSwitch {
                vertical-align: top;
            }
        }
        h3.title{
            margin-top: 30px;
            margin-bottom: 30px;
        }
        span.textRequied{
            color: #f66f6a;
            font-size: 16px;
            vertical-align: middle;
        }
        .tabs{
            .header {
                font-size: 16px;
            }
        }
        .formGroup{
            margin-bottom: 30px;
            .inputItem{
                width: 300px;
                height: 32px;
                font-size: 14px;
            }
        }
        .levelItem{
            display: inline-block;
            margin-right: 20px
        }
        .ldapTip {
            display: inline-block;
            padding-top: 10px;
            color: #9EA4B3;
        }
        .save{
            margin-bottom: 44px;
            .saveBtn{
                width: 120px;
                height: 40px;
                background: #6C92FA;
                color: #fff;
                font-size: 18px;
                outline: none;
                border: 0;
                cursor: pointer;
                border-radius: 2px;
                &.disabled{
                    color: #fff;
                    background: #ccc;
                    cursor: not-allowed;
                }
            }
        }
        .group{
            .addGroup {
                height: 32px;
                font-size: 14px;
            }
            .groupTable{
                margin-top: 16px;
                td{
                    .operator{
                        display: inline-block;
                        color: #6C92FA;
                        text-decoration: none;
                        &:first-child{
                            margin-right: 25px;
                        }
                        &:hover{
                            color: #3D58A6;
                        }
                        &.disabled{
                            color: #999;
                            cursor: not-allowed;
                            text-decoration: none;
                        }
                    }
                    .interfaceItem{
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
:host ::ng-deep{
    #ldap .ti3-form{
        .ti3-form-label{
            font-size: 14px !important;
            color: #9EA4B3;
            min-width: 166px;
        }
        .ti3-text-form-content{
            position: relative;
        }
    }
    .ldapCertify{
        .ti3-form{
            .ti3-form-label{
                min-width: 132px;
            }
        }
    }
    .ldapSecondPwd {
        .ti3-form{
            .ti3-form-label{
                min-width: 152px;
            }
            .inputItem{
                margin-left: -16px;
            }
        }
    }
    .ti3-tabs {
        margin-left: -12px;
        li {
            margin: 0 12px !important;
        }
    }
    .ti3-tabs > li:not(:last-child):after {
        top: 6px;
        right: -12px;
    }
    .tabs {
        .ti3-tab-content {
            border-top: 0 !important;
        }
        .ti3-tabs >li >a{
            padding: 0 !important;
        }
    }
    .ti3-tooltip .ti3-tooltip-content{
        word-wrap: break-word !important;
        word-break: break-all !important;
        width: 100%;
    }
    .levelTip{
        position: relative;
        display: inline-block;
        .ti3-alert-container{
            position: absolute;
            top: -23px;
            padding-top: 8px;
            padding-bottom: 8px;
        }
        #ldapAlert{
            width: 100%;
            white-space: nowrap;
        }
    }
    .tabContent{
        .ti3-aui-file-field-container {
            width: 194px;
        }
        .ti3-unifyvalid-tip-error-container {
            min-width: 300px;
            top: 0px;
            position: absolute;
            left: 310px;
        }
        #ldapFileUpload {
            .ti3-aui-upload-btn {
                font-size: 14px !important;
            }
        }
    }
}