@import 'src/assets/common-assets/scss/common';
:host ::ng-deep {
    // 级别图标样式
    .commonEventIcon{
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        top: 2px;
        margin-right: 5px;
    }
    .eventLevelInformational{
        background: url('^assets/common-assets/image/alarmEvent/normal.png') no-repeat left center;
    }
    .eventLevelMinor{
        background: url('^assets/common-assets/image/alarmEvent/minor.png') no-repeat left center;
    }
    .eventLevelMajor{
        background: url('^assets/common-assets/image/alarmEvent/emergency.png') no-repeat left center;
    }
    .eventLevelCritical{
        background: url('^assets/common-assets/image/alarmEvent/severe.png') no-repeat left center;
    }
    .configCancel {
        margin-left: 20px;
    }
    .buttonConfig {
        margin-bottom: 10px;
        .ti3-btn-primary {
            height: 32px;
            font-size: 14px;
        }
    }
    .noDataBox{
        padding-top: 48px;
        text-align: center;
        font-size: 14px;
        color: #727885;
        .noData{
            text-align: center;
            background: url('^assets/common-assets/image/icon-no-data.png') no-repeat center center;
            width: 100%;
            height: 100px;
            margin-bottom: 12px;
        }
    }
}