.pageView {
    width: 100%;
    height: 100%;
    font-size: 14px;
    .contentDetails {
        padding: 0px;
        background-color: #F0F2F5;
        .iconHelp{
            display: inline-block;
            height: 18px;
            width: 16px;
            line-height: 28px;
            background: url('^assets/common-assets/image/icon_help.png') no-repeat center center;
            cursor: pointer;
            vertical-align: text-top;
            margin-left: 8px;
        }
        .halfwidthLeft{
            width: calc(50% - 9px);
            background: #fff;
            margin: 0px 9px 16px 0px;
            padding: 32px;
            float: left;
            position:relative;
            .threshold{
                font-size: 14px;
                color: #6C7280;
                line-height: 14px;
                margin-left: 16px;
                margin-right: 8px;
            }
            .noDataTip{
                width: 70%;
                text-align: center;
                margin: auto;
                color: #6C7280;
            }
            .subtext{
                margin-top: 24px;
            }
        }
        .ibmaTip{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color:#9EA4B3;
            font-size: 12px;
        }
        .monitorHeader{
            padding-bottom: 8px;
        }
        .halfwidthRight{
            width: calc(50% - 9px);
            background: #fff;
            margin: 0px 0px 16px 9px;
            padding: 32px;
            float: left;
            position:relative;
            .threshold{
                font-size: 14px;
                color: #6C7280;
                line-height: 14px;
                margin-left: 16px;
                margin-right: 8px;
            }
            .noDataTip{
                width: 70%;
                text-align: center;
                margin: auto;
                color: #6C7280;
            }
            .subtext{
                margin-top: 24px;
            }
        }
        .fullWidth{
            width: 100%;
            background: #fff;
            padding: 32px;
            clear: both;
            position:relative;
            .threshold{
                font-size: 14px;
                color: #6C7280;
                line-height: 14px;
                margin-right: 8px;
            }
            .noDataTip{
                width: 25%;
                text-align: center;
                margin: auto;
                color: #6C7280;
            }
            .monitorHeader{
                padding-bottom: 8px;
            }
            .ibmaTip{
                margin-bottom: 24px;
            }
            .labelEditor{
                line-height: 32px;
                position: absolute;
                top: -6px !important;
            }
        }
        .subtext{
            position: relative;
            margin-bottom: 32px;
            .currentValue{
                font-size: 32px;
                color: #282B33;
                line-height: 32px;
            }
            .currentLabel{
                margin-left: 8px;
                font-size: 14px;
                color: #6C7280;
                line-height: 14px;
            }
            .subtextLeft{
                display: inline-block;
                width: 50%;
            }
            .subtextRight{
                width: 50%;
                display: inline-block;
                position: absolute;
                .memoryInfo{
                    width:calc(50% - 16px);
                    line-height: 14px;
                    font-size: 14px;
                    margin-bottom: 16px;
                    float: right;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            .subtextSelect{
                float: right;
                height: 32px;
            }
        }
        .lastMonitor{
            padding-bottom: 0px;
            margin-top: 16px;
            .subtext{
                margin-bottom: 32px;
            }

        }
        .labelEditor{
            line-height: 32px;
            position: absolute;
            top: 8px;
            z-index: 10;
        }
        .monitorTitle{
            font-size: 20px;
            color: #282B33;
            line-height: 20px;
        }
        .refresh{
            float: right;
            background: url('^assets/common-assets/image/icon_refresh.png') no-repeat center center;
            width: 14px;
            height: 14px;
            cursor: pointer;
        }
        .clear{
            float: right;
            background: url('^assets/common-assets/image/icon_clear.png') no-repeat center center;
            width: 14px;
            height: 14px;
            cursor: pointer;
            margin-right: 16px;
        }
        .clearDisabled{
            float: right;
            background: url('^assets/common-assets/image/icon_clear_disabled.png') no-repeat center center;
            width: 14px;
            height: 14px;
            cursor: not-allowed;
            margin-right: 16px;
        }
        .customNoData{
            text-align: center;
            padding: 32px 0;
        }
        .customNoDataIcon{
            background: url('^assets/common-assets/image/icon-no-data.png') no-repeat center center;
            width: 100%;
            height: 100px;
            margin-bottom: 32px;
        }
        .totalMemoryIcon{
            background: url('^assets/common-assets/image/icon-total-memory.png') no-repeat center center;
            width: 14px;
            height: 14px;
            line-height: 16px;
            margin-right: 4px;
            display: inline-block;
            cursor: pointer;
        }
        .freeMemoryIcon{
            background: url('^assets/common-assets/image/icon-free-memory.png') no-repeat center center;
            width: 14px;
            height: 14px;
            margin-right: 4px;
            display: inline-block;
            cursor: pointer;
        }
        .cacheMemoryIcon{
            background: url('^assets/common-assets/image/icon-cache-memory.png') no-repeat center center;
            width: 14px;
            height: 14px;
            margin-right: 4px;
            display: inline-block;
            cursor: pointer;
        }
        .bufferMemoryIcon{
            background: url('^assets/common-assets/image/icon-buffer-memory.png') no-repeat center center;
            width: 14px;
            height: 14px;
            margin-right: 4px;
            display: inline-block;
            cursor: pointer;
        }
        @media (max-width: 1680px) {
            .halfwidthLeft{
                width: 100%;
                margin-right: 0px;
            }
            .halfwidthRight{
                width: 100%;
                margin-left: 0px;
            }
        }
    }
}
:host ::ng-deep {
    [tiText]{
        height: 32px;
        line-height: 32px;
        width: 80px;
    }
    .tp-icon-cloud-action-edit{
        margin-left: 8px;
    }
    
    // 火狐45样式兼容处理
    ti-dominator.ti3-select-dominator-container{
        line-height: 32px;
    }
    .ti3-select-dominator-text{
        width: 180px;
    }
}