:host {
    .switch {
        line-height: 42px;
        margin-left: 12px;
    }
    ::ng-deep {
        .ti3-form {
            margin-top: 8px;
        }
    }
    textarea:disabled {
        background-color: #E6EBF5!important;
        cursor: not-allowed;
        color: #9EA4B3;
        font-size: 14px;
    }
    textarea {
        resize: none;
        border: 1px solid #B8BECC;
        color: #000000;
        font-size: 14px;
        border-radius: 1px;
        width: 100%;
        height: 100%;
        padding: 16px 9px 0 16px;
        &:focus {
            outline: none;
            border: 1px solid #6C92FA;
        }
    }
    .button {
        margin-top: 32px;
        min-width: 120px;
        height: 40px;
        font-size: 18px;
        line-height: 18px;
    }
    .restoreButton {
        padding: 0 24px;
    }
    .saveButton {
        margin-right: 16px;
    }
    .extraSizeContainer {
        position: absolute;
        right: 12px;
        bottom: 4px;
        font-size: 12px;
        color: #9EA4B3;
    }
    .extraSize {
        color: #000;
    }
    .textareaContainer {
        position: relative;
        width: 600px;
        height: 300px;
    }
}
