.standard {
    .img {
        height: 191px;
        width: 100%;
        border: 1px solid #F0F1F6;
    }
    ul{
        height: 128px;
        padding: 0px;
        li{
            height: 25px;
            line-height: 25px;
        }
    }
}