:host {
    ::ng-deep {
        .ti3-form-label {
            padding-right: 32px;
            padding-bottom: 16px;
        }
        .ti3-form-content {
            width: 40%;
            padding-bottom: 16px;
        }
        .ti3-table-detail-container {
            padding: 4px 26px !important;
        }
        .ti3-form {
            margin-bottom: 0!important;
            width: 100%!important
        }
    }

    .noData {
        margin-top: 50px;
        background: url('^assets/common-assets/image/icon-no-data.png') no-repeat center center;
        width: 100%;
        height: 100px;
        margin-bottom: 12px;
    }
    .noDataText {
        text-align: center;
        font-size: 14px;
        color: #727885;
    }
    .noDataContainer {
        border-bottom: none;
    }
    .labelTop {
        line-height: 20px;
    }
}
