@import 'src/assets/common-assets/scss/varible.scss';
h3{
    font-size: 18px;
    color: #282B33;
    font-weight: 600;
}
.tip{
    color: #6C7280;
    margin-top: 6px;
    .require{
        color: red;
        vertical-align: middle;
        font-weight: 600;
    }
}
#secondPassword{
    height: 32px;
    width: 297px;
    border: 1px solid #b6b6b6;
    outline: none;
    padding: 5px 10px;
    border-radius: 2px;
    &:hover{
        border-color: $common_bd_color_hover;
    }
    &:focus{
        border-color: $common_bd_color_focus ;
    }
}
.text {
    display: inline-block;
    max-width: 126px;
    vertical-align: middle;
}
.container{
    display: inline-block;
    margin-top: 5px;
    position: relative;
    padding-bottom: 26px;    
    padding-left: 32px;
    .secondErrorMessage{
        padding: 2px;
        position: absolute;
        color: #ff4c4c;
        margin-top: 2px;
    }
}
.modal-footer{
    button{
        height: 32px;
        min-width: 98px;
        border-radius: 1px;
        margin: 0 8px;
        font-size: 14px;
        &.primary{
            background-color: $btn_bg_color;
            border-color: $btn_bd_color;
            color: $btn_font_color;
            &:hover{
                background-color: $btn_bg_color_hover;
                border-color: $btn_bd_color_hover;
                color: $btn_font_color;
            }
        }        
        &.disabled{
            background-color: $btn_bg_disabled_color;
            border-color: $btn_bd_disabled_color;
            color: $btn_font_disabled_color;
            cursor: not-allowed;
            &:hover{
                background-color: $btn_bg_disabled_color;
                border-color: $btn_bd_disabled_color;
                color: $btn_font_disabled_color;
            }
        }
    }
}
