.info{
  margin-top: 20px;
  color:#6C7280
}

.footer{
    text-align: center;  
    button{
        width: 98px;
        height: 32px;                 
    }
    button+button{
        margin-left: 15px;
    }
}

:host ::ng-deep{
    ti-alert{
        width: 100%;
    }
    .ti3-alert-container{       
        font-size: 12px;
        background-color: #E2F1FC;
        border-color: #6CBFFF;
    }
    .ti3-form{
        width: 100%;
        .ti3-form-label{
            color: #6C7280;
            font-size: 14px;
        }
        .ti3-aui-file-field-container {
            width: 254px;
            height: 32px;
        }
        tr>td:nth-child(2){
            min-width: 120px;
        }
        tr>td:nth-child(3){
            width: 90%;
        }
    }
    .ti3-alert-circle{
        background-color: #6CBFFF;
    }
}

:host ::ng-deep{
    .ti3-modal-footer{
        padding-top: 2px;
    }
    .ti3-aui-file-state-general-info{
        display: none;
    }
    span.ti3-file-upload-btnCon{
        display: none;
    }
    .ti3-file-upload-btnCon {
        float: none;
    }
}