.rootView{
    .upload{
        margin: 20px 0 16px;
    }
    .certDetail{
        width: calc(50% - 32px);
        margin-right: 32px;
        display: inline-block;
        vertical-align: top;
        .icon_help{
            display: inline-block;
            height: 18px;
            width: 16px;
            background: url('^assets/common-assets/image/icon_help.png') no-repeat center center;
            cursor: pointer;
            vertical-align: middle;
            margin-left: 8px;
        }
    }
    .uploading{
        display: inline-block;
        height: 16px;
        width: 16px;
        background: url('^assets/common-assets/image/loading_sm.gif') no-repeat center center;
        background-size: cover;
        vertical-align:middle;
        margin-left: 8px;
    }
    .iconOk{
        display: inline-block;
        height: 16px;
        width: 16px;
        background: url('^assets/common-assets/image/icon_ok.png') no-repeat center center;
        margin-right: 8px;
        background-size: cover;
        vertical-align:middle;
    }
    .iconNo{
        display: inline-block;
        height: 16px;
        width: 16px;
        background: url('^assets/common-assets/image/icon_no.png') no-repeat center center;
        margin-right: 8px;
        background-size: cover;
        vertical-align:middle;
    }
    .rootCertDel, .crlDelete{
        cursor: pointer;
        color: #6C92FA;
        &.disabled{
            color: #999;
            cursor: not-allowed;
            text-decoration: none;
        }
    }
    .rootCertDel:not(.disabled):hover,.crlDelete:not(.disabled):hover{
        color: #5B7EDE;
    }
    .crlDelete{
        font-size: 12px;
    }
    .crlUploads{
        margin-left: 32px;
    }
    .crlState{
        width: 66px;
        display: inline-block;
    }
}

#rootTableId {
    table {
        thead {
            tr {
                th:nth-of-type(6) {
                    width: 340px;
                }
            }
        }
        .crlUploads {
            margin-left: 0;
        }         
    }
}

:host ::ng-deep {
    .ti3-form .ti3-form-label{
        padding: 0;
        line-height: 14px;
    }
    .ti3-form .ti3-form-content{
        line-height: 14px;
        padding-left: 32px !important;
    }
    .ti3-file-upload-container{
        display: inline-block;
    }

    .ti3-btn-default:not([disabled]):hover, [tiButton]:hover{
        background: none !important;
    }
    .ti3-btn-default:not([disabled]), [tiButton]{
        background: none !important;
    }
    .upload [tiButton]{
        height: 32px;
        line-height: 32px;

    }
    .rootTable.mgt32{
        margin-top: 20px;
    }
    .rootTable .ti3-file-upload-container [tiButton]{
        padding: 0;
        border: none;
        color: #6C92FA;
        min-width: 0;
        height: auto;
    }
    .rootTable .ti3-file-upload-container [tiButton]:hover{
        color: #5B7EDE;
    }
    .ti3-table > table > tbody > tr.ti3-table-nodata > td{
        background: url(^assets/common-assets/image/icon-no-data.png) 50% 20px no-repeat;
    }

    .ti3-btn-middle{
        font-size: 14px;
        min-width: 98px;
    }
}