.standard{
    .baseInfo{
        .baseContent{
            .nav-icon-dropdown{
                border-top: 5px solid #fff;
            }
        }
        // 下拉列表
        .second-drop-container{
            .second-drop-ul{
                background-color: #1D7DDF;
                margin-left: -25px;
                &.login{
                    background-color: #fff;
                    color: #000;
                    border: 1px solid #fff;
                    padding: 0;
                    li{
                        color: #000;
                        &:hover{
                            background-color: #6C92FA;
                            color: #fff;
                        }
                    }
                }
                li{
                    color: #fff;
                    &:hover{
                        color: #429AFF;
                    }
                    &.active{
                        color: #065BFF;
                    }
                }
            }
        }    
    } 
    .nav-ul-user{
        tr{
            &:last-child{
                td{
                    border-top: 1px solid #fff;
                    span{
                        color: #fff;
                        &:hover{
                            color: #065BFF;
                        }                   
                    }
                }            
            }
            td{            
                color: #fff;
                &:nth-of-type(2){
                    color:#fff;
                }            
            }
        }  
    }
}