.default{
    .baseInfo{
        .baseContent{
            .nav-icon-dropdown{
                border-top: 5px solid #9EA4B3;
            }
        }
        // 下拉列表
        .second-drop-container{
            .second-drop-ul{
                background-color: #202228;
                &.login{
                    background-color: #fff;
                    color: #000;
                    border: 1px solid #6C92FA;
                    padding: 0;
                    li{
                        color: #000;
                        &:hover{
                            background-color: #6C92FA;
                            color: #fff;
                        }
                    }
                }
                li{
                    color: #9EA4B3;
                    &:hover{
                        color: #86A6FC;
                    }
                    &.active{
                        color: #86A6FC;
                    }
                }
            }
        }    
    }
    .nav-ul-user{
        tr{
            &:last-child{
                td{
                    border-top: 1px solid #393C45;
                    span{
                        color: #86A6FC;
                        &:hover{
                            color: #5b7fe0;
                        }                   
                    }
                }            
            }
            td{            
                color: #9EA4B3;
                &:nth-of-type(2){
                    color:#9EA4B3;
                }            
            }
        }  
    }
}