#netwotkLldp {
    .buttonClass {
        margin-top: 13px !important;
        margin-bottom: 13px !important;
    }
    .contentTitle{
        display: flex;
        justify-content: space-between;
        height: 48px;
        background-color: #F0F3FA;
        align-items: center;
        padding: 0 16px;
        &>span{
            line-height: 32px;
        }
        .lldpBox{
            .buttonClass{
                height: 32px !important;
                min-width: 96px;
                width: auto;
                border-radius: 1px;
                font-size: 18px;
                color: #FFFFFF;
                text-align: center;
                line-height: 22px;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
            }
            #lldpEditCancelBtn{
                margin-right: 16px;
                background-color: #fff;
                color: #282B33;
            }
        }
    }
}
:host ::ng-deep {
    .ti3-unifyvalid-tip-error-container {
        min-width: 300px;
        align-content: center;
        top: -6px;
        position: absolute;
        left: 315px;
    }
    .ti3-form {
        margin: 20px 0px 0px 0px;
    }
    .ti3-form .ti3-form-content {
        padding-bottom: 20px;
    }
}