$padding: 32px;

:host {
    .container {
        background-color: #282B33;
        overflow: auto;
    }
    .resourceContainer {
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    .title {
        font-size: 20px;
        font-weight: 600;
    }
    .bottomContainer {
        padding: 1px 32px;
        color: #282B33;
        font-size: 20px;
        background-color: #F0F2F5;
    }
    .detail {
        margin-top: -57px;
        margin-left: 0;
        display: flex;
        justify-content: space-between;
    }
    .resource {
        padding: 32px 32px 0 32px;
        margin-right: 16px;
        background-color: #fff;
    }
    .virtualController {
        padding: 32px;
        background-color: #fff;
    }
    .virtualTitle, .resourceTitle {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        .refreshIcon::after{
            content: "";
            width: 5px;
            height: 5px;
            border-bottom: 2px solid currentColor;
            border-left: 2px solid currentcolor;
            position: absolute;
            top: 8px;
            left: 0px;
            transform: rotate(59deg);
        }
        .refreshIcon{
            border-radius: 50%;
            width: 15px;
            height: 16px;
            cursor: pointer;
            border:2px solid currentColor;
            border-left:2px solid transparent;
            position: relative;
            margin-top: 4px;
        }
        .refreshIcon:hover{
            color: #39f;
        }
        .icon-disabled {
            cursor: not-allowed;
        }
    }
    @media (min-width: 1680px) {
        .resource {
            width: calc(68% - 16px);
        }
        .resouceContent {
            padding-left: 78px;
            padding-right: 110px;
        }
        .virtualController {
            width: 32%;
        }
    }
    @media (max-width: 1680px) {
        .resource {
            width: calc(66% - 16px);
        }
        .resouceContent {
            padding-left: 48px;
            padding-right: 80px;
        }
        .virtualController {
            width: 34%;
        }
    }
    @media (max-width: 1366px) {
        .resource {
            width: calc(60% - 16px);
        }
        .resouceContent {
            padding-left: 16px;
            padding-right: 48px;
        }
        .virtualController {
            width: 40%;
        }
    }
    .virtualContent {
        margin-top: 24px;
    }
    .resouceContent {
        padding-top: 32px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .operation {
        margin-top: 16px;
        padding: 32px;
        background-color: #fff;
        margin-bottom: 32px;
    }
    .operationContent {
        margin-top: 32px;
        display: flex;
    }
    .operationContentDemo{
        margin-bottom: 30px;
        width: 12.5%;
        padding: 0 0.5%;
    }
}
