.tabContent{
    background-color: #fff;
    .powerSetting{
        margin-bottom: 16px;
    }
    .powerInfoItem{
        display: inline-block;
        width:360px;
        margin-right: 16px;
    }
	.ti3-btn-default{
        font-size: 14px;
        height: 32px;
    }
    .powerInfo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
}
