@import 'src/assets/common-assets/scss/varible.scss';
.volumnCreateBtn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    color: #6C92FA; 
    line-height: 16px;
    max-width: 250px;
    white-space: normal;
    margin-right: 20px;
}
.volumnCreateBtn:focus {
    outline: none;
}
.notAllow {
    cursor: not-allowed;
    color: #d0d0d0;
}

.displayNone {
    display: none;
    padding-bottom: 0;
}

.displayTable {
    display: inline-block;
    margin-bottom: var(--ti-formfield-item-padding-bottom);
    max-width: 250px;
    white-space: normal;
}
#okBtn, #cancelBtn {
    height: 32px;
    font-size: 14px;
}

.writeType {
    width: 150px;
}
.writePolicy {
    width: 110px;
    margin-left: 10px;
}

:host ::ng-deep {
    .ti3-form .ti3-form-label {
        font-size: 14px !important;
        color: #9EA4B3 !important;
        max-width: 200px;
        white-space: normal !important;
    }
}

ti-select{
    width: 355px;
}

.consisBox{
    border: 1px solid #DCDFE6;
    display: block;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 16px;
    .content{
        display: flex;
        flex-direction: column;
    }

    ti-select{
        width: 300px;
    }
    #periodSlider{
        max-width: 298px;
    } 
}
.consisRecover{
    margin-top: 20px;
}