:host {
    ::ng-deep {
        ti-formfield.field {
            display: block;
            margin-bottom: 28px;
        }
        .tp-editor-icon {
            margin-left: 10px;
        }
        .tp-editor-icon {
            font-size: 16px;
            color: #B8BECC;
            cursor: pointer;
            &:hover {
                color: #6C7280;
            }
        }
        .lockingText {
            .tp-editor-icon {
                cursor: not-allowed;
                color: #D4D9E6;
                pointer-events: none !important;
            }
        }
        .editIcon {
            cursor: pointer;
            color: #B8BECC;
            margin-left: 5px;
            font-size: 16px;
        }
        .editIcon:hover {
            color: #6C7280;
        }
        .lockingEditIcon {
            cursor: not-allowed;
            color: #D4D9E6;
            pointer-events: none !important;
        }
        .cabinetInfo {
            position: relative;
        }
        .cabinetEditIcon {
            margin-left: 80px;
        }
        .cabinetInput {
            width: 200px;
        }
        .cabinetInputRow {
            width: 100px;
            margin-right: 8px;
        }
        .locationConnector{
            margin: 0 8px;
            font-size: 14px;
            color: #B8BECC;
        }
        #cabinetSaveBtn {
            margin-right: 10px;
        }
        .confirmIcon {
            color: #50D4AB;
            font-size: 16px;
            margin: 0 10px;
            cursor: pointer;
        }
        .cancelIcon {
            color:  #F66F6A;
            font-size: 18px;
            cursor: pointer;
        }
        .startTime {
            width: 210px;
            margin-bottom: 5px;
        }
        .cabinetInfoTitle {
            font-weight: bold;
            margin-bottom: 20px;
            font-size: 16px;
            color: #282B33;
            line-height: 16px;
        }
        [tiButton], [tiText]{
            font-size: 14px !important;
        }
        [tiButton] {
            height: 32px;
        }
    }
}
