.alarmInfo{
    display: inline-block;
    margin-right: 10px;
    .nav-warn-item{
        display: inline-block;
        margin-left: 16px;
        cursor: pointer;
        img{
            width: 16px;
            height: 16px;
            margin-right: 4px;
            vertical-align: middle;
        }
        .nav-count{
            font-size: 14px;
            vertical-align: middle;
        }
    }
}
