:host {
    margin-bottom: 40px;
    .title {
        color: #282B33;
        font-size: 16px;
        font-weight: 600;
        max-width: 150px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: default;
    }
    .iconStatus{
        height: 20px;
        padding: 0 2px;
        margin-left: 8px;
        border-radius: 27px;
        display: inline-flex;
        align-items: center;
        .icon img{
            height: 16px;
            width: 16px;
        }
        .warningTitle{
            display: inline-block;
            font-size: 8px;
            color: #fff;
            padding-left: 4px;
            padding-right: 2px;
            max-width: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: default;
        }
    }
    .warning{
        background-color: #FDCA5A;
    }
    .critical{
        background-color: #F45C5E;
    }
    
    .resourceContent {
        margin-top: 18px;
        display: flex;
    }
    .resourceDetailInfor, .resourceDetailLabel {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .resourceDetailLabel {
        font-size: 14px;
        color: #9EA4B3;
        span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 110px;
        }
    }
    .resourceDetailInfor {
        margin-left: 8px;
        font-size: 14px;
        color: #282B33;
        font-weight: 600;
    }
    .commonImg {
        min-width: 82px;
        height: 82px;
        background-size: cover;
        margin-right: 16px;
    }
    .bladesImg {
        background: url('^assets/emm-assets/image/home/default/blades.png') no-repeat;
    }
    .mmsImg {
        background: url('^assets/emm-assets/image/home/default/mms.png') no-repeat;
    }
    .powerImg {
        background: url('^assets/emm-assets/image/home/default/power.png') no-repeat;
    }
    .fanImg {
        background: url('^assets/emm-assets/image/home/default/fun.png') no-repeat;
    }
    .swisImg {
        background: url('^assets/emm-assets/image/home/default/swis.png') no-repeat;
    }
}
