.pageView {
    width: 100%;
    height: 100%;
    font-size: 14px;
    .pageTitle {
        display: block;
        font-size: 20px;
        color: #282B33;
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 20px !important;
    }
    .contentDetails {
        background: #fff;
        padding: 32px;
        min-height: calc(100vh - 192px);
        .alertStyle {
            max-width: 900px;
            width: auto;
            font-size: 12px;
            margin-bottom: 48px;
        }
        .buttonClass {
            width: 120px;
            height: 40px !important;
            margin-top: 30px;
            padding: 0px 10px !important;
            margin-bottom: 21px !important;
        }
        .picStatus {
            display: inline-block;
            height: 20px;
            width: 20px;
            margin-right: 8px;
            vertical-align: middle;
        }
        .successStatus {
            background: url("^assets/common-assets/image/icon_ok.png") no-repeat left center;
            background-size: cover;
        }
        .notConnected {
            background: url("^assets/common-assets/image/icon_no.png") no-repeat left center;
            background-size: cover;
        }
    }
}
:host ::ng-deep{
    .ti3-form .ti3-form-label{
        padding: 0 0 32px 0;
        font-size: 14px;
        color: #9EA4B3;
        letter-spacing: 0;
        line-height: 24px
    }
    .ti3-form > tbody tr > td {
        vertical-align: baseline;
    }
    .ti3-form .ti3-form-content{
        padding: 0 0px 10px 32px !important;
        font-size: 14px;
        line-height: 24px
    }
    ti-switch.ti3-switch-container {
        position: relative;
        top: 5px;
    }
} 