:host {
    .switchLineHeight {
        line-height: 42px;
    }
    .checkbox {
        line-height: 32px;
        margin-right: 32px;
    }
    .loginFailSelect {
        margin-right: 8px;
        width: 145px;
    }
    ti-select {
        width: 300px;
        height: 32px;
    }
    input[tiText].loginFailInput{
        width: 146px;
    }
    input[tiText] {
        width: 300px;
        height: 32px;
    }
    .inputTopText {
        display: inline-block;
        width: 146px;
    }
    .saveButton {
        margin-top: 12px;
        min-width: 120px;
        height: 40px;
        font-size: 18px;
        line-height: 18px;
    }
    .loginFail {
        display: flex;
        & > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        span {
            margin-bottom: 8px;
            color: #9EA4B3;
        }
    }
    .loginFailLabel {
        display: flex;
        margin-top: 28px;
    }
    .loginLockTip {
        color: #f66f6a!important;
        font-size: 14px;
        position: absolute;
        width: 300px;
        bottom: 28px;
        left: 160px;
    }
    ::ng-deep {
        .ti3-form {
            margin-top: 8px;
        }
        .ti3-form-label {
            padding-right: 32px;
        }
        .ti3-form-content {
            position: relative;
        }
        .ti3-unifyvalid-error-container {
            position: absolute;
            bottom: 28px;
            left: 320px;
            white-space: nowrap;
            .ti3-validate-text {
                line-height: 16px;
            }
        }
        input, ti-select {
            border-radius: 1px;
        }
        .ti3-tab-pane {
            padding-top: 12px!important;
        }
    }
}
