.trapTable{
    table {
        .statusTrue, .statusFalse{
            display: inline-block;
            width: 80px;
            height: 20px;
            border-radius: 12px;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            color: #fff;
        }
        .statusTrue{
            background-color: #7ADFA0;
        }
        .statusFalse{
            background-color: #DCDFE6;
        }
        .operate{
            font-size: 14px;
            color: #6C92FA;
            margin-right: 24px;
            cursor: pointer;
            &:hover{
                color: #5B7EDE;
            }
            &.notAllow{
                color: #B8BECC !important;    
                cursor: not-allowed !important;
            }
        }
        .grey{
            color: grey;
        }
        #trapTable{
            margin-top: 7px;
        }
        .restTrapBtn {
            display: inline-block;
            cursor: pointer;
            font-size: 14px;
            margin-left: 10px;
            color: #5B7EDE;;
        }
        .ti3-table-detail-container{
            .width50{
                width: 50%;
                display: inline-block;
                vertical-align: top;
                .mr20 {
                    margin-right: 20px;
                }
                .mr8{
                    margin-right: 8px;
                }
                .top2{
                    position: relative;
                    top: -2px;
                }
                .pl10{
                    padding-left: 10px;
                }
            }
        }
        .reportCheckbox {
            padding-left: 10px;
        }
    }
}