@import 'src/assets/common-assets/scss/varible.scss';

.emmHeader{
    font-size: 18px;
    color: #282B33;
    line-height: 18px;
    vertical-align: middle;
    ti-icon::before{
        color: orange;
        font-size: 24px;
    }
    span.title{
        position: relative;
        margin-left: 10px;
        top: -3px;
    }
}

.emmSecPwdContainer {
    span {
        display: inline-block;
        margin-right: 32px;
        color: #6C7280;
    }
}

.emmSecTips {
    font-size: 14px;
    color: #6C7280;
    line-height: 14px;
    margin-bottom: 32px;
}

.modal-footer{
    button{
        height: 32px;
        min-width: 98px;
        border-radius: 1px;
        margin: 0 8px;
        font-size: 14px;
        &.primary{
            background-color: $btn_bg_color;
            border-color: $btn_bd_color;
            color: $btn_font_color;
            &:hover{
                background-color: $btn_bg_color_hover;
                border-color: $btn_bd_color_hover;
                color: $btn_font_color;
            }
        }
        &.disabled{
            background-color: $btn_bg_disabled_color;
            border-color: $btn_bd_disabled_color;
            color: $btn_font_disabled_color;
            cursor: not-allowed;
            &:hover{
                background-color: $btn_bg_disabled_color;
                border-color: $btn_bd_disabled_color;
                color: $btn_font_disabled_color;
            }
        }
    }
}
.ti3-modal-body {
    overflow-y: hidden;
}