.main {
	min-height: 100vh;
	background:#bfbfbf;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
	position:relative;
	width:1024px;
	margin:auto;
}

.float-toolbar {
	position:absolute;
	left:162px;
	top:50px;
	width: 700px;
    border-top: 36px solid #f0f0f0;
    border-right: 36px solid transparent;
    border-left: 36px solid transparent;
}

.float-toolbar-panel {
	position:absolute;
	top:-36px;
	width: 628px;
    height:36px;
}

.main-menu > li {
	position:relative;
	height:36px;
	width:22px;
	margin-right:6px;
	float:left;
}

.sub-menu {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	position:absolute;
	text-align:center;
	top:105%;left:-50%;
	display:none;
	background:#e5e5e5;
}

.jslider-value-from{
	display:none;
}

.sub-menu table{
	border:12px solid transparent;
}

.sub-menu td{
    position: relative;
	text-align: left;
	white-space:nowrap;
	border-top:4px solid transparent;
    border-bottom:4px solid transparent;
    .inputSelect{
        position: absolute;
        right: 8px;
        top: 3px;
        z-index:1;
    }
}

.sub-menu .sub-menu-table{
	display: block;
}

.sub-menu .sub-menu-tip{
	display: none;
	width: 330px;
	padding: 15px;
}

.sub-menu-triangle{
	position:absolute;
	top:-6px;
	left:15px;
	border-bottom: 7px solid #e5e5e5;
	border-right: 7px solid transparent;
	border-left:7px solid transparent;
}

.sub-menu >ul >  li {
	white-space:nowrap;
	padding:10px 18px 10px 18px;
	border:1px solid transparent;
}

.disableShow{
	display: none;
}

.sub-menu li:hover {
	color: #42CCEF;
	cursor:pointer;
	border:1px solid #42CCEF;
}

.sub-menu li:first-child {
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

.sub-menu li:last-child {
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

.defined-key {
	width:80px;
	height:36px;
	border:1px solid #c3c3c3;
	border-radius:3px;
	margin:1px;
}

.defined-key:focus {
	border:1px solid #3bf;
}
.float-img {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-2px -2px;width:18px;height:18px;position:absolute; top:50%;left:50%;margin-top:-9px;margin-left:-9px; }
.float-img:hover {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-2px -34px;cursor:pointer; }

.fixed-img {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-1px -70px;width:21px;height:12px;position:absolute; top:50%;left:50%;margin-top:-6px;margin-left:-10px;}
.fixed-img:hover {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-1px -102px;cursor:pointer; }

.fullscreen-img {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-32px 0px;width:22px;height:22px;position:absolute; top:50%;left:50%;margin-top:-11px;margin-left:-11px;}
.fullscreen-img:hover {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-32px -32px;cursor:pointer; }

.normalscreen-img {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-32px -64px;width:22px;height:22px;position:absolute; top:50%;left:50%;margin-top:-11px;margin-left:-11px;}
.normalscreen-img:hover {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-32px -96px;cursor:pointer; }

.power-img {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-64px 0px;width:22px;height:22px;position:absolute; top:50%;left:50%;margin-top:-11px;margin-left:-11px;}
.power-img:hover {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-64px -32px;cursor:pointer; }

.boot-img {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-64px -64px;width:22px;height:22px;position:absolute; top:50%;left:50%;margin-top:-11px;margin-left:-11px;}
.boot-img:hover {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-64px -96px;cursor:pointer; }

.keyboard-img {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-96px -0px;width:22px;height:22px;position:absolute; top:50%;left:50%;margin-top:-11px;margin-left:-11px;}
.keyboard-img:hover {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-96px -32px;cursor:pointer; }

.mouse-img {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-96px -64px;width:22px;height:22px;position:absolute; top:50%;left:50%;margin-top:-11px;margin-left:-11px;}
.mouse-img:hover {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-96px -96px;cursor:pointer; }

.cdrom-img {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-128px 0px;width:22px;height:22px;position:absolute; top:50%;left:50%;margin-top:-11px;margin-left:-11px; }
.cdrom-img:hover {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-128px -32px;cursor:pointer; }

.floppy-img {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-128px -66px;width:18px;height:18px;position:absolute; top:50%;left:50%;margin-top:-9px;margin-left:-9px; }
.floppy-img:hover {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-128px -98px;cursor:pointer; }

.record-img {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-160px 0px;width:22px;height:22px;display:block;overflow:hidden;position:absolute; top:50%;left:50%;margin-top:-11px;margin-left:-11px; }
.record-img:hover {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-160px -32px;cursor:pointer; }

.recording-img {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-160px -64px;width:22px;height:22px;display:block;overflow:hidden;position:absolute; top:50%;left:50%;margin-top:-11px;margin-left:-11px; }
.recording-img:hover {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-160px -96px;cursor:pointer; }

.keyboardlayout-img {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-256px -0px;width:22px;height:22px;display:block;overflow:hidden;position:absolute; top:50%;left:50%;margin-top:-11px;margin-left:-11px; }
.keyboardlayout-img:hover {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-256px -32px;cursor:pointer; }

.help-img {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-194px -2px;width:18px;height:18px;position:absolute; top:50%;left:50%;margin-top:-9px;margin-left:-9px; }
.help-img:hover {background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-194px -34px;cursor:pointer; }

.select-img {position:absolute;left:6px;margin-top:2px;background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-229px -69px;width:12px;height:12px;display:none}
.led-img {margin-left: 12px;background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-197px -69px;width:12px;height:12px;display:block;overflow:hidden; }
.led-light-img {margin-left: 12px;background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;background-position:-197px -101px;width:12px;height:12px;display:block;overflow:hidden; }
.led {
	width:36px;
	height:30px;
	margin-top: 6px;
	margin-right: 12px;
	text-align: center;
}

.radio-align {
	vertical-align:middle;
	margin-bottom:2px;
	*margin-bottom:2px;
}

.cursor-hide {
    cursor:none;
}

.file {
    position: relative;
    display: inline-block;
    background: #e0e0e0;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
	*zoom: 1;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.image {
	background:black;
	margin-top:50px;
    outline:none;
}

.status {
	width:100%;
	line-height:36px;
	height:36px;
	background:#f0f0f0;
}

.status-normal {
	display: block;
}

.status-full-screen {
	display: none;
}

.status-info {
	width:100px;
	margin-right:10px;
	float: right;
}

.status-info2 {
	float: left;
	margin-left:45px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.status-info3 {
	float: left;
	margin-left:38px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#btn_connect_floppy,#btn_insert_floppy,#btn_connect_cdrom,#btn_insert_cdrom{
	padding:0 20px
}
#btn_connect_floppy button{
	width:100%;
	padding:0px 10px 0px 10px
}
#btn_insert_floppy button{
	width:100%;
	padding:0px 10px 0px 10px
}
#btn_connect_cdrom button{
	width:100%;
	padding:0px 10px 0px 10px
}
#btn_insert_cdrom button{
	width:100%;
	padding:0px 10px 0px 10px
}

#slider_definition{
	width: 110px;
	display: inline-block;
	margin: 0 10px;
}
.ti-slider-container{
	position: relative;
	padding: 6px 0;
}
.vedioResolution{
	display: inline-block;
	line-height: 36px;
	color: #666;
}
.vedioResolution-down{
	float: left;
}
.vedioResolution-up{
	float: right;
}
.ti-aui-file-field-container {
	background-color: #fff;
	width: 200px;
}
.ti-aui-file-state-general {
	display: none;
}
.ti-msg-icon.ti-icon-check-circle{
	display: none;
}
.ti-msg-default-width {
	width: 560px;
}
.ti-modal-content {
	top: 200px;
}
.ti-msg-content-wrapper {
	margin: 15px 0;
	width: auto;
}

.btn-op{
    padding: 0;
    width: 98px;
    height: 31px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 28px;
    margin-left: 10px;
}
.ti-msg-icon {
	font-size: 32px !important;
}
.ti-tooltip-top{
	display: none !important;
}

/*button在disabled状态下谷歌和edge浏览器无法监听到标签上的事件，将button内容放在span标签中，用span充满button*/
.btn-text {
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.td-text-align {
	text-align: left;
}

.tool-bar-resolution-slider {
	display: inline-block;
	margin-left: 60px;
	height: 36px
}

.main-menu {
    float: left;
}

.not-support-fullscreen {
	cursor: not-allowed;
	background:url('/assets/common-assets/image/kvm_h5/menu.png') no-repeat;
	background-position:-32px 0px;
	width:22px;
	height:22px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-11px;
	margin-left:-11px;
	opacity: 0.5;
}

.not-support-fullscreen:hover {
	cursor: not-allowed;
}
.keybord{
	width: 566px;
}
.ti-msg-content-wrapper{
	width: 420px;
}
.keybord .ti-msg-content-wrapper{
	width: auto;
}

/* KVM的文件上传组件删除操作按钮 */
.file_kvm .ti-aui-file-size,.file_kvm canvas{
	display: none;
}
.file_kvm .ti-aui-file-size-operate-container{
	display: none;
}
.file_kvm .ti-aui-file-name{
	width: 100%;
}

.ti-btn-danger {
	color: #fff;
	background: #6c92fa !important;
	border-color: #6c92fa !important;
}
.ti-btn-danger:focus {
	color: #fff;
	background: #6c92fa !important;
	border-color: #6c92fa !important;
}
.ti-btn-danger:hover {
	color: #fff;
	background: #6c92fa !important;
	border-color: #6c92fa !important;
}
.ti-btn-danger:active {
	color: #fff;
	background: #066ad4 !important;
	border-color: #066ad4 !important;
}
.ti-btn-danger:focus:not([disabled]):active {
	animation: ti-button-primary-focus-active-keyframes 150ms cubic-bezier(.4, 0, .2, 1) 0s forwards,ti-button-scale-up-keyframes 150ms cubic-bezier(.4, 0, .2, 1) 0s forwards !important;
}

.ti-btn-danger:not(:focus):not([disabled]):hover {
	animation: ti-button-primary-hover-keyframes 150ms cubic-bezier(.4, 0, .2, 1) 0s 1 forwards !important;
}
:host ::ng-deep{
	ti-slider.ti3-slider-container{
		margin: 16px 0;
	}
	.ti3-aui-file-state-general{
		display: none;
    }
    #isoFloppyId, #locationFileId, #isoCdromId {
        .ti3-aui-file-container{
            margin-left: 10px;
            .ti3-aui-file-item.ti3-aui-single-file-item{
                width: 91%;
            }
            .ti3-file-upload-btnCon{
				position: static;
				float: none !important;
                .ti3-aui-upload-btn {
                    position: absolute;
                    min-width: 10px;
                    padding: 13px;
                    margin-left: 0;
                    right: 0;
                    background: transparent;
                    z-index: 2;
                    border: none;
                    &:disabled{
                        z-index: 1;
                        cursor: not-allowed;
                    }
                }
            }
		}
		.ti3-aui-file-field-container{
			background-color: #fff;
		}
		.ti3-aui-file-disable .ti3-aui-file-field-container{
			border-color: #ddd;
			background-color: #ddd
		}
		[tiButton][disabled]{
			background: transparent !important;
			color: #fff !important;
		}
    }
}