:host {
    .monitorChart {
        height: 145px;
        width: 200px;
    }
    .monitorContainer {
        display: flex;
        .monitorContent{
            text-align: center;
            .echartTitle{
                font-size: 16px;
                margin-top: 20px;
            }
        }
    }
}
