.powerCappingInfo{
    margin-right: 16px;
    margin-top: 20px;
    padding: 32px 32px 0px;
    border: 1px solid #DCDFE6;
    border-radius: 1px;
    .postionDiv{
        position: relative;
        .postionCont{
            display: block;
            font-size: 12px;
            color: #9EA4B3;
            letter-spacing: 0;
            line-height: 14px;
        }
    }
    .formDiv{
        width: calc(50% - 24px);
        display: inline-block;
    }
    .util{
        font-size: 14px;
        color: #6C7280;
        margin-left: 4px;
    }
    .capInfoHeader{
        margin-bottom: 28px;
        .capInfoTitle{
            font-size: 16px;
            color: #282B33;
            line-height: 20px;
            display: inline-block;
            font-weight: bold;
        }
        .capInfoOper{
            float: right;
            .time{
                font-size: 14px;
                color: #9EA4B3;
                letter-spacing: 0;
                line-height: 14px;
                margin-right: 16px;
            }
            .setting{
                margin-left: 16px;
            }
        }

    }    
}

:host ::ng-deep {
    .ti3-form .ti3-form-label,
    .ti3-form .ti3-form-content{
        height: 32px;
        line-height: normal;
        padding-bottom: 30px !important;
    }
    .ti3-form .ti3-form-content{
        padding-left: 32px;
        font-size: 24px;
        color: #282B33;
    }
    .ti3-form .ti3-form-label{
        padding-right: 0 !important;
        color: #9EA4B3;
        font-size: 14px;
    }
    @media (max-width: 1366px) {
        .ti3-form .ti3-form-label{
            width: 200px;
            white-space: normal;
        }
    }
}
