
.iconOk{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url('^assets/common-assets/image/icon_ok.png') no-repeat center center;
    cursor: pointer;
    vertical-align: text-top;
    margin-right: 8px;
}
.iconNo{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url('^assets/common-assets/image/icon_no.png') no-repeat center center;
    cursor: pointer;
    vertical-align: text-top;
    margin-right: 8px;
}
:host ::ng-deep {
    .ti3-switch {
        vertical-align: middle;
    }
    .ti3-form .ti3-form-label,
    .ti3-form .ti3-form-content{
        line-height: 32px;
        padding-bottom: 20px !important;
    }
    .ti3-form .ti3-form-content{
        padding-left: 32px;
        color: #282B33;
    }
}