.intervals{
    margin-right: 32px;
}
#powerSleepModal {
    .ti3-form .ti3-form-label,
    .ti3-form .ti3-form-content{
        line-height: 32px;
        padding-bottom: 12px !important;
    }
    .ti3-form .ti3-form-content{
        padding-left: 32px;
        color: #282B33;
    }
    .ti3-switch {
        vertical-align: middle;
    }
}