.ti3-table-detail-container {
    padding: 24px 26px;
    .title {
        font-size: 14px;
        color: #282B33;
        letter-spacing: 0;
        padding: 10px 0;
        font-weight:bold
    }
    .row {
        width: 50%;
        float: left;
        padding: 10px 0;
        font-size: 0; 
        line-height: normal;
        .rowLeft {
            width: 35%;
            display: inline-block;
            font-size: 14px;
            color: #9EA4B3;
        }
        .rowRight {
            width: 65%;
            display: inline-block;
            font-size: 14px;
            color: #282B33;
        }
    }
    .clearBoth {
        clear: both;
    }
}