:host {
    .editableButton {
        cursor: pointer;
        color: #5B7EDE;
        &:hover {
            color: #3D58A6;
        }
    }
    .notAllowed {
        cursor: not-allowed !important;
        color: #B8BECC;
        &:hover {
            color: #B8BECC;
        }
    }
    .lockingText {
        pointer-events: none !important;
        color: #B8BECC !important;
        cursor: not-allowed !important;
    }
    .icon {
        color: #7ADFA0;
    }
    .saveBtn {
        margin-right: 24px;
    }
}
