:host {
    .halfModal {
        top: 65px !important;
        bottom: 0;
    }
    ::ng-deep {
        .tp-halfmodal-close {
            display: none;
        }
        .tp-halfmodal-cotent {
            padding-right: 0;
        }
    }
    .mask {
        position: fixed;
        background: rgba(0,0,0,.1);
        z-index: 900;
    }
    .topMask {
        top: 0;
        height: 64px;
        right: 0;
        left: 0;
    }
    .bottomMask {
        top: 64px;
        left: 0;
        bottom: 0;
        right: 600px;
    }
    .buttons {
        position: absolute;
        bottom: 64px;
        left: 196px;
    }
    .confirmButton {
        margin-right: 16px;
    }
    .cancelBtn, .confirmButton {
        min-width: 96px;
        height: 32px;
        border-radius: 1px;
        font-size: 14px;
        &[disabled] {
            background-color: #E6EBF5;
            border: 1px solid #D4D9E6;
            color: #B8BECC;
        }
    }
    .cancelBtn:hover {
        border: 1px solid #6C7280;
        color: #282B33;
    }
    .textContainer {
        width: 100%;
    }
    .halfBody {
        display: flex;
    }
    .labelPart {
        display: flex;
        flex-direction: column;
        padding-right: 16px;
        flex-grow: 0;
    }
    .contentPart {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .label {
        padding-bottom: 36px;
        font-size: 14px;
        line-height: 14px;
        color: #6C7280;
    }
    .content {
        color: #282B33;
        padding-bottom: 36px;
        font-size: 14px;
        line-height: 14px;
    }
    .addTitle {
        color: #282B33;
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 22px;
        border-bottom: 1px dashed #D4D9E6;
        margin-bottom: 32px;
    }
}
