$padding: 32px;

:host {
    .container {
        margin-top: 24px;
        margin-left: 56px;
        margin-right: 56px;
        min-height: 650px;
        border-radius: 4px;
        position: relative;
    }
    .containerUp {
        display: flex;
    }
    .resourceContainer {
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    .title {
        font-size: 16px;
        color: #7B7D80;
        line-height: 16px;
        font-weight: bold;
    }
    .bottomContainer {
        color: #282B33;
        margin-left: 16px;
        font-size: 20px;
        background: rgb(232, 232, 232);
        width: 55%;
        overflow: hidden;
    }
    .detail {
        display: flex;
        justify-content: space-between;
        height: 50%;
        margin-left: 0px;
    }
    .resource {
        padding: 12px 0 0 24px;
        background-color: #fff;
        height: 293px;
    }
    .virtualController {
        padding: 32px;
        background-color: #fff;
        margin-top: 16px;
        padding: 16px;
        margin-left: 16px;
        width: 35% !important;
        margin-bottom: 32px;
    }
    .homeDetail {
        width: 44.1%;
        padding: 24px;
        background: #FFFFFF;
    }
    @media (min-width: 1680px) {
        .resource {
            width: 100%;
        }
        .resouceContent {
            padding-left: 76px;
            padding-right: 110px;
        }
        .virtualController {
            width: 32%;
        }
    }
    @media (max-width: 1680px) {
        .resource {
            width: 100%;
        }
        .resouceContent {
            padding-left: 48px;
            padding-right: 80px;
        }
        .virtualController {
            width: 34%;
        }
    }
    @media (max-width: 1366px) {
        .resource {
            width: 100%;
        }
        .resouceContent {
            padding-left: 16px;
            padding-right: 48px;
        }
        .virtualController {
            width: 40%;
        }
    }
    .resouceContent {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        transform: scale(1,0.9);
    }
    .operation {
        margin-top: 16px;
        padding: 32px;
        background-color: #fff;
        margin-bottom: 32px;
        width: 65%;
        height: 305px;
    }
    .moreLink {
        color: #6C92FA;
        cursor: pointer;
    }
    .monitorChart {
        height: 170px;
        width: 20%;
    }
    .monitorContainer {
        display: flex;
        margin-top: 28px;
    }
    .systemMonitorContain {
        background: #FFFFFF;
        border-radius: 4px;
        margin-top: 16px;
        height: 48%;
        padding: 24px;
    }
    .systemTitle {
        font-size: 16px;
        color: #7B7D80;
        line-height: 16px;
        font-weight: bold;
    }
    .monitorChartItem {
        max-height: 100%;
    }
    ::ng-deep {
        .ti3-form-label {
            color: #B8BECC;
            padding-bottom: 20px;
            font-size: 14px;
            line-height: 14px;
            padding-right: 32px;
        }
        .ti3-form-content {
            padding-bottom: 20px;
            font-size: 14px;
            line-height: 14px;
            color: #E6EBF5;
            word-break: break-all;
            min-width: 60px;
        }
        canvas {
            cursor: pointer;
        }
    }
    .footer {
        display: flex;
    }
}
