$title-color: #fff;

:host {
    .serverTitle {
        font-size: 26px;
        line-height: 37px;
        max-width: 100%;
        width: 100%;
        color: #000;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .systemTitle {
        font-size: 16px;
        margin-bottom: 16px;
        color: #000;
        padding-left: 30px;
    }
    .serverHostName{
        font-size: 18px;
    }
    .serverContainer {
        padding: 16px 24px;
        margin: 24px 24px 16px 24px;
        display: flex;
        background: #fff;
    }
    .serverLeft, .serverMiddle, .serverRight{
        border-left: 4px solid #7687e3;
        background-color: #F6F7FB;
    }
    .serverLeft {
        width: 26%;
        margin-right: 15px;
    }
    .serverPic {
        padding-top: 5px;
        text-align: center;
        max-width: calc(100% - 50px);
        margin: 0 auto;
        display: flex;
        align-items: center;
        height: 100%;
        img {
        height: auto;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        }
    }
    .serverMiddle {
        width: 26%;
        margin-right: 15px;
        padding: 12px 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: inline;
        div {
            margin-bottom: 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
       .linkBtn{
            width: 98px;
            height: 32px;
            border: 1px solid #D6D7DA;
            border-radius: 1px;
            text-align: center;
            .moreLink {
                font-size: 14px;
                line-height: 30px;
                color: #000;
            }
        }
        .linkBtn:hover{
            cursor: pointer;
        }
    }
    .serverRight {
        width: 48%;
        padding: 12px 30px;
    }
    .deviceInfor {
        color: $title-color;
        padding-left: 30px;
    }
    .deviceInforTitle {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
    }
    ::ng-deep {
        .ti3-form-label {
            color: #B8BECC;
            padding-bottom: 20px;
            font-size: 14px;
            line-height: 14px;
            padding-right: 32px;
        }
        .ti3-form-content {
            padding-bottom: 20px;
            font-size: 14px;
            line-height: 14px;
            color: #000;
            word-break: break-all;
            min-width: 60px;
        }
        canvas {
            cursor: pointer;
        }
    }


}
