.sessionClass {
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 10px;
}
.dnsContainer {
    padding: 15px 30px 0 0;
    margin-right: 5px;
}
.buttonClass {
    margin-top: 12px !important;
}
#netwotkDns{
    .contentTitle{
        display: flex;
        justify-content: space-between;
        height: 48px;
        background-color: #F0F3FA;
        align-items: center;
        padding: 0 16px;
        &>span{
            line-height: 32px;
        }
        .dnsCtrlBox{
            .buttonClass{
                height: 32px !important;
                min-width: 96px;
                width: auto;
                border-radius: 1px;
                font-size: 18px;
                color: #FFFFFF;
                text-align: center;
                line-height: 22px;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
            }
            #dnsEditCancelBtn{
                margin-right: 16px;
                background-color: #fff;
                color: #282B33;
            }
        }
    }
}

:host{
    #netwotkDns{
        ::ng-deep{
            .ti3-form > tbody tr > td {
                vertical-align: initial;
            }
            .ti3-form .ti3-form-content {
                padding-bottom: 20px;
            }
            .ti3-form {
                margin: 20px 0px 0px 0px;
            }
            .ti3-text-form-content{
                position: relative;
            }
            .ti3-unifyvalid-tip-error-container {
                min-width: 300px;
                top: -5px;
                position: absolute;
                left: 305px;
            }
            .dnsContainer {
                .ti3-form .ti3-form-label {
                    min-width : 108px !important;
                }
            }
        }
    }
}