.subComponent{
    background-color: #ffffff;
    padding: 32px 32px;
    margin-bottom: 16px;
    position: relative;
}
.tempHeader{
    margin-bottom: 32px;
}
.title{
    font-size: 16px;
    color: #282B33;
    line-height: 20px;
    font-weight: bold;
}
.refresh{
    float: right;
    background: url('^assets/common-assets/image/icon_refresh.png') no-repeat center center;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.clear{
    float: right;
    background: url('^assets/common-assets/image/icon_clear.png') no-repeat center center;
    width: 14px;
    height: 14px;
    cursor: pointer;
    margin-right: 16px;
}
.clearDisabled{
    float: right;
    background: url('^assets/common-assets/image/icon_clear_disabled.png') no-repeat center center;
    width: 14px;
    height: 14px;
    cursor: not-allowed;
    margin-right: 16px;
}
.subtext{
    margin-bottom: 32px;
    .currentValue{
        font-size: 32px;
        color: #282B33;
        line-height: 32px;
        margin-right: 4px;
    }
    .currentLabel{
        margin-left: 8px;
        font-size: 14px;
        color: #6C7280;
        line-height: 14px;
    }
}
.chart{
    height: 290px;
}
.customNoData{
    text-align: center;
    padding: 32px 0;
}
.customNoDataIcon{
    background: url('^assets/common-assets/image/icon-no-data.png') no-repeat center center;
    width: 100%;
    height: 100px;
    margin-bottom: 32px;
}
.noData{
    text-align: center;
}
