@import 'src/assets/common-assets/scss/custom.scss';
:host ::ng-deep { 
    .volumnEditBody {
        max-height: none !important;
        .inputText {
            width: 200px
        }
        .radioBtn {
            display: inline-block;
            margin-right: 20px
        }
        .ti3-form .ti3-form-label {
            white-space: normal;
        }
    }
}
.ti3-modal-body {
    overflow-y: hidden;
}