#snmpView {
    .fieldContainer {
        border: 1px solid #DCDFE6;
        border-radius: 1px;
        padding: 20px 20px 0 20px;
        margin-right: 5px;
        min-width: 800px;
        margin-top: -14px;
    }
    .containerAlert {
        margin-top: 8px;
    }
    .snmpV3Container {
        border: 1px solid #DCDFE6;
        border-radius: 1px;
        padding: 20px 20px 0 20px;
        margin-right: 5px;
        margin-top: -4px;
    }
    .errPosition{
        position: relative;
    }
    .buttonClass {
        margin-top:12px;
    }
    .isvalided ::ng-deep{
        .ti3-unifyvalid-tip-error-container{
            display: none;
        }
    }
} 
.ruleBottom {
    padding-top: 5px;
    padding-left:23px;
}
.alertStyle{
    position: relative;
    max-width: 600px;
    width: auto;
    top: 10px;
}
.marginSnmp {
    padding-left: 20px;
}
.goRuleList {
    padding: 2px 0;
    font-size: 12px;
    color: #7B7D80;
    vertical-align: middle;
    line-height: 32px;
    td {
        padding-right: 10px;
    }
}
 .loginRulesDisable {	
    font-size: 14px;	
    margin-top:5px;	
    color: #DCDFE6; 	
}
.lockingText {
    pointer-events: none !important;
    color: #ccc !important;    
    cursor: not-allowed !important;
 }
.loginJump{
    display: inline-block;
    font-size: 14px;	
    margin-top:5px;
    cursor: pointer;
    color: #6C92FA;
    &:hover{
        text-decoration: underline;
    }
 }
 .safetyIip {
    margin-left: 8px;
    color: #9EA4B3;
    font-size: 12px;
    margin-top: 5px;
}
:host ::ng-deep {
    ti-select {
        width: 300px;
        height: 32px;
    }
    ti-dominator.ti3-select-dominator-container {
        height: 32px;
    }
    .ti3-select-dominator-text {
        height: 32px;
    }
    .ti3-placeholder {
        line-height: 30px;
    }
    .ti3-overflow-padding {
        padding: 0 10px;
        line-height: 30px;
    }
    .snmpPortErr .ti3-unifyvalid-tip-error-container{
        min-width: 300px;
        align-content: center;
        top: -8px;
        position: absolute;
        left: 395px;
    }
    .ti3-unifyvalid-tip-error-container{
        min-width: 300px;
        align-content: center;
        top: -8px;
        position: absolute;
        left: 316px;
    }
    .fieldContainer .ti3-form, .snmpV3Container .ti3-form {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .snmpV3Container .ti3-form .ti3-form-label{
        padding: 0 0 20px 0;
    }
    .ti3-form {
        margin: 20px 0 0 0;
    }
    .ti3-btn-primary {
        min-width: 120px !important;
    }
}