.clientView {
    margin-top: 20px;
    .iconOk{
        display: inline-block;
        height: 16px;
        width: 16px;
        background: url('^assets/common-assets/image/icon_ok.png') no-repeat center center;
        margin-right: 8px;
        background-size: cover;
        vertical-align:middle;
    }
    .iconNo{
        display: inline-block;
        height: 16px;
        width: 16px;
        background: url('^assets/common-assets/image/icon_no.png') no-repeat center center;
        margin-right: 8px;
        background-size: cover;
        vertical-align:middle;
    }
    .clientCertDel{
        cursor: pointer;
        color: #6C92FA;
        &.disabled, &.disabled:hover {
            color: #999;
            cursor: not-allowed;
            text-decoration: none;
        }
    }
    .clientCertDel:hover{
        color: #5B7EDE;
    }
    .uploading{
        display: inline-block;
        height: 16px;
        width: 16px;
        background: url('^assets/common-assets/image/loading_sm.gif') no-repeat center center;
        background-size: cover;
        vertical-align:middle;
    }
}
:host ::ng-deep {
    .ti3-form .ti3-form-label{
        padding: 0;
        line-height: 14px;
    }
    .ti3-form .ti3-form-content{
        line-height: 14px;
        padding-left: 32px !important;
    }
    .ti3-file-upload-container{
        display: inline-block;
    }
    .ti3-file-upload-container [tiButton]{
        padding: 0 8px 0 0;
        border: none;
        color: #6C92FA;
        min-width: 0;
        height: auto;
    }
    .ti3-file-upload-container [tiButton]:hover{
        color: #5B7EDE;
    }
    .ti3-btn-default:not([disabled]):hover, [tiButton]:hover{
        background: none !important;
    }
    .ti3-btn-default:not([disabled]), [tiButton]{
        background: none !important;
    }
    .upload [tiButton]{
        height: 32px;
        line-height: 32px;

    }
    .ti3-table > table > tbody > tr.ti3-table-nodata > td{
        background: url(^assets/common-assets/image/icon-no-data.png) 50% 20px no-repeat;
    }
    .ti3-btn-middle{
        font-size: 14px;
        padding: 0 8px 0 0 !important;
    }
}