.sessionModel {
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 0px;
    position: relative;
}
.sessionClass {
    display: inline-block;
    margin-right: 80px;
    padding-bottom: 20px;
    position: relative;
}
.isIEBrowser .sessionModel{
    padding-bottom: 8px;
}
.dnsContainer {
    border: 1px solid #DCDFE6;
    border-radius: 1px;
    padding: 0 30px 0 30px;
    margin-right: 5px;
    position: relative;
    top: 15px;
}
.networkOpenStatus{
    width:16px;
    height:16px;
    position: absolute;
    margin-left: 16px;
    top: 3px;
    background: url('^assets/common-assets/image/netWorkOpen.png') no-repeat;
    background-size: 100% 100%;
}
.networkOpenStatus001{
    float:right;
    width:16px;
    height:16px;
    background: url('^assets/common-assets/image/alarmEvent/normal.png') no-repeat;
    background-size: 100% 100%;
}
.networkCloseStatus{
    width:16px;
    height:16px;
    position: absolute;
    margin-left: 16px;
    top: 3px;
    background: url('^assets/common-assets/image/netWorkClose.png') no-repeat;
    background-size: 100% 100%;
}
#netwotkPort .buttonClass {
    margin-top: 48px !important;
}
.netStatus {
    display: inline-block;
    min-width: 62px;
}
.checkboxStatus {
    display: inline-block;
    min-width: 60px;
}
.iconHelp {
    display: inline-block;
    height: 18px;
    width: 16px;
    background: url(^assets/common-assets/image/icon_help.png) no-repeat center center;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 8px;
}
.networkOpenTip{
    width:16px;
    height:16px;
    display: inline-block;
    margin-right: 8px;
    background: url('^assets/common-assets/image/netWorkOpen.png') no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}
.networkOpenTip001{
    width:16px;
    height:16px;
    display: inline-block;
    margin-right: 8px;
    background: url('^assets/common-assets/image/alarmEvent/normal.png') no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;    

}
.networkCloseTip{
    width:16px;
    height:16px;
    display: inline-block;
    margin-right: 8px;
    background: url('^assets/common-assets/image/netWorkClose.png') no-repeat;
    background-size: 100% 100%;
    vertical-align: bottom;
}
.networkOpenTipVal{
    display: inline-block;
    width:calc(100% - 24px);
    vertical-align: middle;
}
.netTip {
    margin-bottom: 8px;
}

:host ::ng-deep{
    #netwotkPort{
        .ti3-form > tbody tr > td {
            vertical-align: initial;
        }
        .ti3-form .ti3-form-content {
            padding-bottom: 0px;
        }
        .ti3-form .ti3-form-label {
            padding: 0 16px 8px 0;
        }
        .ti3-form {
            margin: 20px 0 0 0;
        }
        .dnsContainer {
            .ti3-form .ti3-form-label {
                min-width: 89px !important;
            }
        }
        .isIEBrowser .ti3-form > tbody tr > td{
            vertical-align: middle;
        }
    }
}