.standard {
    .monitorContainer {
        display: flex;
        justify-content: space-between;
        .monitorChart {
            height: 222px;
            width: 254px;
            background: #FFFFFF;
            box-shadow: 0 0 4px 0 rgb(164 168 176 / 40%);
            border-radius: 2px;
            border-top: 6px solid #539FED;
            overflow: hidden;   
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            .monitorChartItem {
                height: 218px;
                margin-top: -17px;
            }
            .standard {
                position: relative;
                display: inline-block;
                top: 14px;
                left: 14px;
                text-overflow: ellipsis;
                overflow: hidden;
                z-index: 1;
                width: 90%;
            }
        }
        .monitorChart:not(:first-child) {
            margin-left: 16px;
        }
    }
}