@import 'src/assets/common-assets/scss/common';
.pageView{
    width: 100%;
    height: 100%;
    .title{
        font-size: 20px;
        margin-bottom: 20px;
    }
}
.contentContent {
    margin-bottom: 40px;
}

:host ::ng-deep {
    .ti3-form > tbody tr > td {
        vertical-align: middle;
    }
    .ti3-form .ti3-form-label{
        font-size: 14px;
        color: #9EA4B3;
        letter-spacing: 0;
        line-height: 14px;
        padding: 0 32px 0px 0;
    }
    ti-switch.ti3-switch-container {
        vertical-align: middle;
    }
}