//GPP TOP Header的相关配置
//GPP_MAX_SIZE: 配置GPP的大小，各个固件的位置, 单位为M
//FW_NUM: GPP分区包含固件个数
//BOOT_SITE: BOOT固件在GPP的位置（负数代表最后往前）
//BOOT_SIZE: BOOT固件的大小（单位byte）
//ROOTFS_Header_SITE: ROOTFS SUB Header在GPP的位置（负数代表最后往前:-8*1024*1024=8388608）
//ROOTFS_Header_SIZE：ROOTFS SUB Header的大小（单位byte）
GPP_MAX_SIZE                =      384
FW_NUM                      =      3
BOOT_NAME                   =      Hi1711_boot_4096.bin
BOOT_SITE                   =      -3145728
BOOT_SIZE                   =      2097152
ROOTFS_Header_NAME          =      NULL
ROOTFS_Header_SITE          =      -4194304
ROOTFS_Header_SIZE          =      1048576
ROOTFS_NAME                 =      rootfs_BOARNAME.img
ROOTFS_SITE                 =      0
ROOTFS_SIZE                 =      0


//ROOTFS SUB HEADER的相关配置
//VendorSig: 产商签名是否开启
//CustomerSig: 客户签名是否开启
VendorSig                   =      ENABLE
CustomerSig                 =      DISABLE
VendorRootPubkCertPath      =      defaultCA.der
VendorCMSSignaturePath      =      rootfs_BOARNAME.img.cms
VendorCRLPath               =      cms.crl
CustomerRootPubkCertPath    =      NULL
CustomerCMSSignaturePath    =      NULL
CustomerCRLPath             =      NULL
ROOTFSPath                  =      rootfs_BOARNAME.img
