#firmwareUpdate {
    .alertStyle{
        font-family: PingFangSC-Regular;
        max-width: 1086px;
        width: auto;
        font-size: 12px;
        margin-bottom: 48px;
    }
    .wrapper {
        .firmwareUpdateProgre1{
            width: 325px;
            border-radius: 3px;
        }
        .firmwareUpdateSpan1{
            margin-left: 16px;
        }
        .firmwareUpdateSpan2{
            margin-left: 32px;
            position: relative;
            top: 2px;
            .firmwareUpdateImg1{
                margin-left: -25px;
            }
        }
        .firmwareUpdateDiv6{
            color: red;
            margin-left: 0px;
        }
    }
    #activeModeSupported{
        margin-bottom: 24px;
        #manualTip {
            padding-left: 5px;
            color: #9EA4B3;
        }
        .activeModeTitle{
            margin-right: 24px;
        }
    }
}
.contentDetails {
    margin-bottom: 25px;
    margin-top: 0;
}

:host ::ng-deep {
    .ti3-aui-file-state-general {
        display: none;
    }
    .ti3-progress-bar {
        background-color: #6C92FA;
    }
    .ti3-form {
        margin: 13px 0 6px 0;
    }
    [tiButton][disabled] {
        background: #E6EBF5 !important;
        border-color: #D4D9E6 !important;
        color: #B8BECC !important;
    }
    #firmwareView{
        .ti3-tabs > li > a{
            padding: 0;
            font-size: 16px;
            line-height: 16px;
        }
        .ti3-tabs {
            height: 20px;
            margin-bottom: 8px;
            margin-left: -12px;
        }
        .ti3-tabs > li{
            margin: 0 12px !important;
        }
        .ti3-tabs >li:not(:last-child):after{
            right: -12px;
            top: 6px;
        }
    }
    #upgradeManual{
        padding-top: 0 !important;
    }
}
