.row {
    width: 50%;
    float: left;
    padding: 10px 0;
    font-size: 0; 
    line-height: normal;
    .rowLeft {
        width: 35%;
        display: inline-block;
        font-size: 14px;
        color: #9EA4B3;
        padding-right: 15px;
    }
    .rowRight {
        width: 65%;
        display: inline-block;
        font-size: 14px;
        color: #282B33;
        vertical-align: top;
        padding-right: 20px;
    }
}
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}