#ntpFunction {
    padding-top: 38px; 
    .dhcpBox {
        padding: 20px 0 14px 0;
        height: auto;
        .getDHCP {
            vertical-align: top;
            margin-top: 8px;
        }
        .ntpBox {
            min-height: 300px; 
            min-width: 500px; 
            border: 1px solid #DCDFE6;
            border-radius: 1px;
            display: inline-block;
            vertical-align: top;
            padding: 20px 32px;
            .radioList {
                padding-bottom: 8px;
                .dhcpRedio {
                    display: inline-block;
                    margin-right: 20px
                }
            }
            .radioList .dhcpRedio:not(:first-child) {
                margin-left: 66px;
            }
            .ntpServe {
                display: inline-block;
                .ntpRow {
                    margin-top: 16px;
                    padding: 13px 16px;
                    .ntpLabel {
                        margin-right: 20px;
                        font-size: 14px;
                        color: #9EA4B3;
                    }
                    .ntpServer{
                        display: inline-block;
                        position: relative;
                    }
                }
                .ntpBackLeft {
                    border: 1px solid #EDEDED;
                    border-right: none;
                    background: #FAFAFA;
                }
                .ntpBackRight {
                    border: 1px solid #EDEDED;
                    border-left: none;
                    background: #FAFAFA;
                    padding-left: 32px;
                }
            }
            .ntpServeAlter {
                margin-right: 32px;
            }
        }
    }
    .timeSync{
        margin-top: 20px;
        .syncBtn{
            display: inline-block;
            margin-left: 24px;
        }
        .syncEnable{
            color: #6bb0ff;
            cursor: pointer;
        }
        .syncDisable{
            pointer-events: none;
            color: #999;
        }
    } 
}

:host ::ng-deep {
    .ntpServerInput {
        width: 300px;
        height: 32px;
    }
    .ti3-text-form-content{
        position: relative;
    }
    .ti3-unifyvalid-tip-error-container {
        min-width: 300px;
        top: -3px;
        position: absolute;
        left: 310px;
    }
}