.iconHelp{
    display: inline-block;
    height: 18px;
    width: 16px;
    background: url('^assets/common-assets/image/icon_help.png') no-repeat center center;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 8px;
}
.en-US, .ja-JA, .fr-FR, .ru-RU{
    .cappingModal{
        width: 780px;
    }
}

#powerCapSet {
    .errorTip{
        color:red;
    }
    .ti3-form .ti3-form-label,
    .ti3-form .ti3-form-content{
        line-height: 32px;
        padding-bottom: 12px !important;
    }
    .ti3-form .ti3-form-content{
        padding-left: 32px;
        color: #282B33;
    }
    .ti3-form .ti3-form-label{
        padding-right: 0 !important;
        font-size: 14px;
        color: #6C7280;
        max-width: 320px;
        white-space: normal;
    }
    [tiText]{
        height: 32px;
        line-height: 32px;
        width: 300px;
    }
    .capfailure-select {
        width: 300px;
    }
    .ti3-switch{
        vertical-align: middle;
    }
    .ti3-modal-footer{
        padding: 8px 32px 32px;
    }
    [tiButton]{
        min-width: 96px;
        height: 32px;
        border-radius: 1px;
    }
    .ti3-btn-primary:not([disabled]){
        background: #6C92FA;
        border-color: #6A92FA;
    }
    .ti3-btn-primary:not([disabled]):hover{
        background: #5B7EDE;
        border-color: #5B7EDE;
    }
    .ti3-btn-primary[disabled] {
        background: #E6EBF5;
        border: 1px solid #D4D9E6;
        color: #B8BECC;
        border-radius: 1px;
    }
    .ti3-btn-default{
        background: #FFFFFF;
        border: 1px solid #B8BECC;
        border-radius: 1px;
        height: 32px;
        line-height: 30px;
        color: #282B33;
    }
    .ti3-btn-default:hover{
        background: #FFFFFF;
        border: 1px solid #6C7280;
        border-radius: 1px;
        color: #282B33;
    }
    .ti3-switch.ti3-switch-on .ti3-switch-track{
        background-color: #6C92FA;
    }
    .ti3-modal-header{
        padding: 32px;
    }
    .ti3-modal-footer button:nth-of-type(2){
        margin-left: 16px;
    }
    .ti3-unifyvalid-tip-error-container{
        line-height: 16px !important;
    }
}