.errorMaxMin {
    display: inline-block;
    color: #ff4c4c;
    margin-left: 5px;
    vertical-align: middle;
}
.tipIcon {
    margin-left: 5px;
    vertical-align: middle;
}
.pollingDiv {
    display: inline-block;
}