body[class~=en-US]{
    #alarmEventviewID{
        .filterSelect{
            left: 150px;
        }
    }
    .crlState{
        width: 115px !important;
    }
    .uploadBox .ti3-file-upload-container .ti3-file-btn{
        min-width: 63px !important;
    }
    #uploadDialog{
        .ti3-modal-dialog {
            width: 660px;
        }
        .ti3-aui-file-field-container {
            width: 71% !important;
        }
        .ti3-file-upload-btnCon {
            width: 29%;
        }
        .ti3-modal {
            z-index: 1044;
        }
    }
    #netwotkPort {
        .iconHelp {
            left: -45px;
        }
    }
    #webView {
        .ti3-unifyvalid-tip-error-container {
            top: -3px;
            left: 354px;
        }
    }
    .portKvm, .portVmm, .portVnc, .snmpPortErr {
        .ti3-unifyvalid-tip-error-container {
            left: 436px;
        }
    }
    .levelTip {
        width: 460px;
    }
    #generateId {
        .inputClass {
            width: 270px !important;
        }
        .ti3-file-upload-btnCon {
            float: none !important;
            display: inline-block;
        }
    }
    #fileCRSId {
        .ti3-modal-dialog {
            width: 600px;
        }
    }
    #biosSecurity {
        .ti3-modal-dialog {
            width: 600px;
        }
    }
    #uploadSSH {
        .ti3-file-upload-btnCon {
            float: none !important;
        }
    }
    #krbSecret {
        .ti3-aui-file-field-container {
            width: 182px;
        }
    }
    .netwotkContent {
        .ti3-form .ti3-form-label {
            width : 165px !important;
        }
    }
    #selectedID{
        .collapsedBox {
            .Titlecolumns {
                .subTitle {
                    width: 120px;
                }
            }
            .serarchInput {
                .subTitle {
                    width:120px;
                }
            }
            .secBtns {
                margin-left: 120px;
            }
        }
    }

    // 英语下，半屏弹窗左侧字段宽度太宽，导致右侧输入框宽度不够
    #halfControl {
        .tp-halfmodal-cotent {
            .ti3-form {
                .ti3-form-label {
                    width: 140px;
                    white-space: normal;
                    line-height: 18px;
                    padding-top: 6px;
                }
            }
            .ti3-form {
                .ti3-form-content {
                    width: auto;
                }
            }
            .snmpv3Container {
                width: 408px;
                table {
                    tr {
                        td:nth-of-type(1){
                            width: 160px;
                            white-space: normal;
                            word-break: unset;
                        }
                        td:nth-of-type(2){
                            width: 212px;
                        }                    
                    }
                }
            }
        }
    }

    // 本地用户操作列小分辨率下显示宽度不够
    @media screen and (max-width: 1370px){
        #localuser {
            #userList {
                thead {
                    tr {
                        th:nth-of-type(6){
                            width: 182px;
                        }
                    }
                }
            }
        }
    }

    // 双因素CRL上传按钮被遮挡，客户端证书删除按钮被遮挡
    @media screen and (max-width: 1600px){
        #rootTableId {
            table {
                thead {
                    tr {
                        th:nth-of-type(6){
                            width: 230px;
                        }
                        th:nth-of-type(7){
                            width: 80px;
                        }
                    }                    
                }
            }
        }
        #clientViewId {
            table {
                thead {
                    tr {                     
                        th:nth-of-type(8){
                            width: 100px;
                        }
                    }                    
                }
            }
        }
    }

    // SSH 弹窗上传组件宽度调整
    .sshUpload {
        .ti3-form {
             .ti3-aui-file-field-container {
                width: 300px;
            }
        }
    }

    // NTP轮训间隔小语种提示词样式优化
    @media screen and (max-width: 1550px){
        #polling {
            .langPolling {
                position: relative;
                .langTip {
                    position: absolute;
                    display: block;
                    width: 200%;
                    margin: 0;
                    .tipIcon {
                        margin-left: 0px;
                    }
                }
            }
            .selectDiv {
                margin-top: 10px;
            }
        }   
    }

    #ldapCrlBox {
        .ti3-file-upload-btnCon {
            width: 104px;
        }
    }
    #automaticView{
        .monthWeek{
            .ti3-unifyvalid-tip-error-container{
                left: 150px !important;
            }
        }
    }
    #spUpgrade{
        .ti3-aui-file-field-container{
            width: 310px;
        }
    }

    //IRM首页英文适配
    .irmTonrainerTopMsgBox{
        div{
            ul{
                li{
                    .name{
                        min-width: 150px !important;
                    }
                    .text{
                        max-width: calc(100% - 150px) !important;
                    }
                }
            }
        }
    }
    .irmConrainerTopUse{
        div{
            div.uItems{
                width: 105px;
            }
        }
    }
    .irmConrainerTopAlarm{
        div{
            div.deviceItems{
                width: 150px;
            }
        }
    }    
    @media screen and (max-width: 1550px){
        .serverContainer{
            padding: 56px 32px !important;
        }
    }
    @media screen and (max-width: 1440px){
        .irmConrainerTopUse{
            margin-left: 5% !important;
        }
        .irmConrainerTopPower{
            width: 18% !important;
            margin-left: 0% !important;
        }
        .deviceTag{
            width: 655px !important;
        }
        .shadow{
            padding: 20px !important;
        }
        .tapshow{
            padding: 0px 0px 0 20px !important;
        }
        .statusItems{
            margin-right: 21px !important;
        }
        .jigInfo{
            width: 365px !important;
            ul{
                li{
                    span.content{
                        max-width: 200px !important;
                    }
                }
            }
        }
    }
}