body[class~=fr-FR]{
    #alarmEventviewID{
        .filterSelect{
            left: 168px;
        }
    }
    .crlState{
        width: 120px !important;
    }
    .uploadBox .ti3-file-upload-container .ti3-file-btn{
        min-width: 63px !important;
    }
    #uploadDialog{
        .ti3-modal-dialog {
            width: 750px;
        }
        .ti3-aui-file-field-container {
            width: 60% !important;
        }
        .ti3-file-upload-btnCon {
            width: 40%;
        }
        .ti3-modal {
            z-index: 1044;
        }
    }
    #uploadDialog .statusBtn {
        width: 130px !important;
    }
    #selectedID{
        .collapsedBox {
            .Titlecolumns {
                .subTitle {
                    width: 205px;
                }
            }
            .serarchInput {
                .subTitle {
                    width:205px;
                }
            }
            .secBtns {
                margin-left: 205px;
            }
        }
    }
    #netwotkPort {
        .iconHelp {
            left: -56px;
        }
    }
    #webView {
        .ti3-unifyvalid-tip-error-container {
            top: -3px;
            left: 470px;
        }
    }
    .portKvm, .portVmm, .portVnc, .snmpPortErr {
        .ti3-unifyvalid-tip-error-container {
            left: 546px;
        }
    }
    .serverMiddle .linkBtn{
        width: 160px !important;
    }
    .levelTip {
        width: 550px;
    }
    #portView .inputClass {
        width: 210px !important;
    }
    @media (max-width: 1440px) {
        #portView .inputClass {
            width: 100px !important;
        }
    }
    #generateId {
        .inputClass {
            width: 256px !important;
        }
        .ti3-file-upload-btnCon {
            float: none !important;
            display: inline-block;
        }
    }
    #fileCRSId {
        .ti3-aui-file-field-container {
            width: 178px !important;
        }
        .ti3-modal-dialog {
            width: 600px;
        }
    }
    #biosSecurity {
        .ti3-modal-dialog {
            width: 650px;
        }
    }
    #uploadSSH {
        .ti3-modal-dialog {
            width: 800px;
        }
        .ti3-file-upload-btnCon {
            float: none !important;
        }
    }
    #krbSecret {
        .ti3-aui-file-field-container {
            width: 140px;
        }
    }
    .netwotkContent {
        .ti3-form .ti3-form-label {
            width : 165px !important;
        }
    }
    #snmpView .ti3-form .ti3-form-label, #vncView .ti3-form .ti3-form-label, #vmmView .ti3-form .ti3-form-label, #kvmView .ti3-form .ti3-form-label {
        white-space: inherit;
        max-width: 148px !important;
    }
    
    @media (max-width: 1560px) {
        #webView .ti3-unifyvalid-tip-error-container {
            top: -30px;
            left: 40px;
        }
        .capInfoOper{
            margin: 16px 0;
        }        
    }
    .webServerDetails{
        width: 430px !important;
    }
    .powerInfoSetModal{
        width: 650px;
    }
    .fanModal {
        width: 760px !important;
    }

    @media(max-width:1350px) {
        #storage .rowLeft {
            width: 100% !important;
        }
    }

    // 小语种下LDAP的 CRL弹框宽度不够修改
    .certifyUpload {
        width: 650px;
    }
    #userPwd {
        width: 343px;
    }

    // LDAP 二次认证密码框宽度不够导致 placeholder显示不全
    #ldap {
        .content {
            .formGroup {
                #ldapSecondPassword {
                    width: 340px;
                }
            }
        }

        .ti3-aui-file-field-container {
            width: 151px;
        }   
        .ti3-form  {
            .ti3-form-label {
                white-space: normal;
                width: 230px;
            }
        }
    }

    // LDAP 证书校验级别的Alert信息样式调整
    @media screen and (max-width: 1390px){
        .levelTip {
            display: block;
            #ldapAlert {
                margin-top: 5px;
                .ti3-alert-container {
                    position: static;               
                }
            }
        }
               
    }

    // 法语下，半屏弹窗左侧字段宽度太宽，导致右侧输入框宽度不够
    #halfControl {
        .tp-halfmodal-cotent {
            .ti3-form {
                .ti3-form-label {
                    width: 120px;
                    white-space: normal;
                    line-height: 18px !important;
                    padding-top: 6px;
                }
            }
            .ti3-form {
                .ti3-form-content {
                    width: auto;
                }
            }
            .snmpv3Container {
                width: 396px;
                table {
                    tr {
                        td:nth-of-type(1){
                            width: 180px;
                            white-space: normal;
                            word-break: unset;
                        }
                        td:nth-of-type(2){
                            width: 190px;
                        }                    
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1700px){
        // 本地用户操作列小分辨率下显示宽度不够
        #localuser {
            #userList {
                thead {
                    tr {
                        th:nth-of-type(6){
                            width: 260px;
                        }
                    }
                }
            }
        }        
        .powerHistory .top{
            height: 64px;
        }
    }
    
    @media(max-width:1366px) {
        .powerHistory .top{
            height: 64px;
        }
        .nav-ul-menu {
            >li {
                padding: 0 8px !important;
            }
        }
    }

     // Kerberos 法语操作按钮被遮挡
     @media screen and (max-width: 1470px){
        #kerberos {
            #krbTable {
                thead {
                    tr {
                        th:nth-of-type(8){
                            width: 180px;
                        }
                    }
                }
            }
        }   
    }
    // NTP轮训间隔小语种提示词样式优化
    @media screen and (max-width: 1650px){
        #polling {
            .langPolling {
                position: relative;
                .langTip {
                    position: absolute;
                    display: block;
                    width: 200%;
                    margin: 5px 0 0 0;
                    .tipIcon {
                        margin-left: 0px;
                    }
                }
            }
        }   
    }

    // 双因素CRL上传按钮被遮挡，客户端证书删除按钮被遮挡
    @media screen and (max-width: 1600px){
        #rootTableId {
            table {
                thead {
                    tr {
                        th:nth-of-type(6){
                            width: 230px;
                        }
                        th:nth-of-type(7){
                            width: 100px;
                        }
                    }                    
                }
            }
        }
        #clientViewId {
            table {
                thead {
                    tr {                     
                        th:nth-of-type(8){
                            width: 100px;
                        }
                    }                    
                }
            }
        }
    }

    // LDAP操作按钮被遮挡
    #ldap {
        #ldapTable {
            thead {
                tr {
                    th:nth-of-type(7){
                        width: 200px;
                    }
                }
            }
        }
    }

    // SSH 弹窗上传组件宽度调整
    .sshUpload {
        .ti3-form {
            .ti3-aui-file-field-container {
                width: 276px;
            }
        }      
    }

    .storage .raidLabel {
        width: calc(100% - 120px) !important;
    }

    #ldapCrlBox {
        .ti3-file-upload-btnCon {
            width: 129px;
        }
    }
    #automaticView{
        .dayTime{
            padding-right: 8px;
        }
    }
    #spUpgrade{
        .ti3-aui-file-field-container{
            width: 360px;
        }
    }

    //IRM首页适配
    .irmTonrainerTopMsgBox{
        div{
            ul{
                li{
                    .name{
                        min-width: 190px !important;
                    }
                    .text{
                        max-width: calc(100% - 190px) !important;
                    }
                }
            }
        }
    }
    .irmConrainerTopUse{
        div{
            div.uItems{
                width: 102px;
            }
        }
    }
    .irmConrainerTopAlarm{
        div{
            div.deviceItems{
                width: 185px;
            }
        }
    }
    @media screen and (max-width: 1842px){
        .irmConrainerTopPower{
           .irmConrainerUseTitle{
                margin: 24px 0 3px 0;
            }
        }
    }
    @media screen and (max-width: 1550px){
        .serverContainer{
            padding: 56px 32px !important;
        }
    }
    @media screen and (max-width: 1456px){
        .irmConrainerTopUse{
            margin-left: 3% !important;
            width: 26% !important;
        }
        .irmConrainerTopAlarm{
            width: 31% !important;
        }
        .irmConrainerTopPower{
            margin-left: -1% !important;
        }  
    }
    @media screen and (max-width: 1440px){   
        .irmConrainerTopUse{
            margin-left: 5% !important;
        }
        .irmConrainerTopAlarm{
            width: 30% !important;
            margin-left: -2% !important;
        }
        .irmConrainerTopPower{
            width: 17% !important;
            margin-left: -1% !important;
        }     
        .deviceTag{
            width: 655px !important;
        }
        .shadow{
            padding: 20px !important;
        }
        .tapshow{
            padding: 0px 0px 0 20px !important;
        }
        .statusItems{
            margin-right: 21px !important;
        }
        .jigInfo{
            width: 365px !important;
            ul{
                li{
                    span.content{
                        max-width: 200px !important;
                    }
                }
            }
        }
    }
}