body[class~=ja-JA]{
    #netwotkPort {
        .iconHelp {
            left: -40px;
        }
    }
    #webView {
        .ti3-unifyvalid-tip-error-container {
            top: -3px;
            left: 378px;
        }
    }
    .portKvm, .portVmm, .portVnc, .snmpPortErr {
        .ti3-unifyvalid-tip-error-container {
            left: 438px;
        }
    }
    .levelTip {
        width: 630px;
    }
    #generateId {
        .inputClass {
            width: 340px !important;
        }
        .ti3-file-upload-btnCon {
            float: none !important;
            display: inline-block;
        }
    }
    #fileCRSId {
        .ti3-aui-file-field-container {
            width: 218px !important;
        }
        .ti3-modal-dialog {
            width: 600px;
        }
    }
    #biosSecurity {
        .ti3-modal-dialog {
            width: 650px;
        }
    }
    #uploadSSH {
        .ti3-modal-dialog {
            width: 770px;
        }
        .ti3-file-upload-btnCon {
            float: none !important;
        }
    }
    #krbSecret {
        .ti3-aui-file-field-container {
            width: 172px;
        }
    }
    #uploadFrim {
        .firmwareUpdateDiv5 {
            left: 520px !important;
        }
    }
    .netwotkContent {
        .ti3-form .ti3-form-label {
            width : 200px !important;
        }
    }
    #snmpView{
        .ti3-form .ti3-form-label {
            white-space: inherit;
            max-width: 148px !important;
        }
        .ti3-unifyvalid-tip-error-container {
            min-width: 275px;
        }
    } 
    #licenseInstall .ti3-file-btn{
        width:125px !important;
    }
    #configUpgrade .exportBtn,
    #configUpgrade .importBtn{
        width:130px !important;
    }
    #uploadDialog{
        .ti3-modal-dialog {
            width: 750px;
        }
        .ti3-aui-file-field-container {
            width: 63% !important;
        }
        .ti3-file-upload-btnCon {
            width: 37%;
        }
        .ti3-modal {
            z-index: 1044;
        }
    }
    #selectedID{
        .collapsedBox {
            .Titlecolumns {
                .subTitle {
                    width: 150px;
                }
            }
            .serarchInput {
                .subTitle {
                    width:150px;
                }
            }
            .secBtns {
                margin-left: 150px;
            }
        }
    }
    .powerInfoSetModal{
        width: 600px;
    }
    .ja-tool-bar-resolution-slider {
        margin-left: 0;
    }

     // 小语种下LDAP的 CRL弹框宽度不够修改
    .certifyUpload {
        width: 600px;
    }
    #userPwd {
        width: 348px;
    }

    // 日语下，半屏弹窗左侧字段宽度太宽，导致右侧输入框宽度不够
    #halfControl {
        .tp-halfmodal-cotent {
            .ti3-form {
                .ti3-form-label {
                    width: 120px;
                    white-space: normal;
                    line-height: 18px;
                    padding-top: 6px;
                }
            }
            .ti3-form {
                .ti3-form-content {
                    width: auto;
                }
            }
            .snmpv3Container {
                width: 400px;
                table {
                    tr {
                        td:nth-of-type(1){
                            width: 150px;
                            white-space: normal;
                            word-break: unset;
                        }
                        td:nth-of-type(2){
                            width: 212px;
                        }                    
                    }
                }
            }
        }
    }

    // LDAP 样式调整
    #ldap {
        .content {
            .formGroup {
                .inputItem {
                    width: 330px !important;
                }
                .ti3-unifyvalid-tip-error-container {
                    left: 340px;
                }
            } 
        } 
        .ti3-aui-file-field-container {
            width: 182px;
        }   
        .ti3-form  {
            .ti3-form-label {
                white-space: normal;
                width: 180px;
            }
        }
    }

     // LDAP 证书校验级别的Alert信息样式调整
     @media screen and (max-width: 1420px){
        .levelTip {
            display: block;
            #ldapAlert {
                margin-top: 5px;
                .ti3-alert-container {
                    position: static;               
                }
            }
        }
               
    }

    // 日语下 KRB的输入框整体长度调整
    #kerberos{
        .content {
            .formGroup {
                .inputItem {
                    width: 320px !important;
                }
                .ti3-unifyvalid-tip-error-container {
                    left: 340px;
                }
            }
        }
    }

    // SSH 弹窗上传组件宽度调整
    .sshUpload {
        .ti3-form {
             .ti3-aui-file-field-container {
                width: 298px;
            }
        }
    }

    // NTP轮训间隔小语种提示词样式优化
    @media screen and (max-width: 1480px){
        #polling {
            .langPolling {
                position: relative;
                .langTip {
                    position: absolute;
                    display: block;
                    width: 200%;
                    margin: 0;
                    .tipIcon {
                        margin-left: 0px;
                    }
                }
            }
            .selectDiv {
                margin-top: 10px;
            }
        }   
    }

    #ldapCrlBox {
        .ti3-file-upload-btnCon {
            width: 134px;
        }
    }
    #spUpgrade{
        .ti3-aui-file-field-container{
            width: 366px;
        }
    }

    //IRM首页适配
    .irmTonrainerTopMsgBox{
        div{
            ul{
                li{
                    .name{
                        min-width: 194px !important;
                    }
                    .text{
                        max-width: calc(100% - 194px) !important;
                    }
                }
            }
        }
    }
    .irmConrainerTopUse{
        div{
            div.uItems{
                width: 80px;
            }
        }
    }
    .irmConrainerTopAlarm{
        div{
            div.deviceItems{
                width: 150px;
            }
        }
    }
    #certificate{
        #uploadBox{
            width: 125px;
        }
    }

    @media screen and (max-width: 1550px){
        .serverContainer{
            padding: 56px 32px !important;
        }
    }
    @media screen and (max-width: 1440px){        
        .deviceTag{
            width: 655px !important;
        }
        .shadow{
            padding: 20px !important;
        }
        .tapshow{
            padding: 0px 0px 0 20px !important;
        }
        .statusItems{
            margin-right: 21px !important;
        }
        .jigInfo{
            width: 365px !important;
            ul{
                li{
                    span.content{
                        max-width: 200px !important;
                    }
                }
            }
        }
    }
}