@font-face {
  font-family: 'icomoon';
  src: url('^assets/common-assets/image/icons/icomoon.eot?2tqfxz');
  src: url('^assets/common-assets/image/icons/icomoon.eot?2tqfxz#iefix') format('embedded-opentype'),
       url('^assets/common-assets/image/icons/icomoon.ttf?2tqfxz') format('truetype'),
       url('^assets/common-assets/image/icons/icomoon.woff?2tqfxz') format('woff'),
       url('^assets/common-assets/image/icons/icomoon.svg?2tqfxz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alarm:before {
  content: "\e900";
  color: #9ea4b3;
}
.icon-asset:before {
  content: "\e901";
  color: #9ea4b3;
}
.icon-battery:before {
  content: "\e902";
  color: #9ea4b3;
}
.icon-bios:before {
  content: "\e903";
  color: #9ea4b3;
}
.icon-certUpdate:before {
  content: "\e904";
  color: #9ea4b3;
}
.icon-config:before {
  content: "\e905";
  color: #9ea4b3;
}
.icon-fans:before {
  content: "\e906";
  color: #9ea4b3;
}
.icon-fdm:before {
  content: "\e907";
  color: #9ea4b3;
}
.icon-ibma:before {
  content: "\e908";
  color: #9ea4b3;
}
.icon-ibmcLog:before {
  content: "\e909";
  color: #9ea4b3;
}
.icon-info:before {
  content: "\e90a";
  color: #9ea4b3;
}
.icon-kerberos:before {
  content: "\e90b";
  color: #9ea4b3;
}
.icon-kerbers:before {
  content: "\e90c";
  color: #9ea4b3;
}
.icon-kvm:before {
  content: "\e90d";
  color: #9ea4b3;
}
.icon-language:before {
  content: "\e90e";
  color: #9ea4b3;
}
.icon-ldap:before {
  content: "\e90f";
  color: #9ea4b3;
}
.icon-level:before {
  content: "\e910";
  color: #9ea4b3;
}
.icon-license:before {
  content: "\e911";
  color: #9ea4b3;
}
.icon-loading .path1:before {
  content: "\e912";
  font-family: "icomoon" !important;
  color: rgb(230, 235, 245);
}
.icon-loading .path2:before {
  content: "\e913";
  margin-left: -1em;
  font-family: "icomoon" !important;
  color: rgb(255, 255, 255);
}
.icon-local:before {
  content: "\e914";
  color: #9ea4b3;
}
.icon-monitor:before {
  content: "\e915";
  color: #9ea4b3;
}
.icon-network:before {
  content: "\e916";
  color: #9ea4b3;
}
.icon-ntp:before {
  content: "\e917";
  color: #9ea4b3;
}
.icon-online:before {
  content: "\e918";
  color: #9ea4b3;
}
.icon-partity:before {
  content: "\e919";
  color: #9ea4b3;
}
.icon-port:before {
  content: "\e91a";
  color: #9ea4b3;
}
.icon-power:before {
  content: "\e91b";
  color: #9ea4b3;
}
.icon-powerOnOff:before {
  content: "\e91c";
  color: #9ea4b3;
}
.icon-report:before {
  content: "\e91d";
  color: #9ea4b3;
}
.icon-restSwi:before {
  content: "\e91e";
  color: #9ea4b3;
}
.icon-security:before {
  content: "\e91f";
  color: #9ea4b3;
}
.icon-snmp:before {
  content: "\e920";
  color: #9ea4b3;
}
.icon-sp:before {
  content: "\e921";
  color: #9ea4b3;
}
.icon-store:before {
  content: "\e922";
  color: #9ea4b3;
}
.icon-systemLog:before {
  content: "\e923";
  color: #9ea4b3;
}
.icon-tpcm:before {
  content: "\e924";
  color: #9ea4b3;
}
.icon-tpcm-gray:before {
  content: "\e925";
  color: #8d98aa;
}
.icon-twoFac:before {
  content: "\e926";
  color: #9ea4b3;
}
.icon-upgrade:before {
  content: "\e927";
  color: #9ea4b3;
}
.icon-usb:before {
  content: "\e928";
  color: #9ea4b3;
}
.icon-video:before {
  content: "\e929";
  color: #9ea4b3;
}
.icon-vmm:before {
  content: "\e92a";
  color: #9ea4b3;
}
.icon-vnc:before {
  content: "\e92b";
  color: #9ea4b3;
}
.icon-web:before {
  content: "\e92c";
  color: #9ea4b3;
}
.icon-wifi:before {
  content: "\e92d";
  color: #9ea4b3;
}
.icon-work:before {
  content: "\e92e";
  color: #9ea4b3;
}
