body[class~=ru-RU]{
    #alarmEventviewID{
        .filterSelect{
            left: 168px;
        }
    }
    .crlState{
        width: 120px !important;
    }
    .uploadBox .ti3-file-upload-container .ti3-file-btn{
        min-width: 80px !important;
    }
    #uploadDialog{
        .ti3-modal-dialog {
            width: 691px;
        }
        .ti3-aui-file-field-container {
            width: 63% !important;
        }
        .ti3-file-upload-btnCon {
            width: 37%;
        }
        .ti3-modal {
            z-index: 1044;
        }
    }
    #netwotkPort {
        .iconHelp {
            left: -56px;
        }
    }
    #generateId {
        .inputClass {
            width: 256px !important;
        }
        .ti3-file-upload-btnCon {
            float: none !important;
            display: inline-block;
        }
    }
    #fileCRSId {
        .ti3-modal-dialog {
            width: 650px;
        }
    }
    #biosSecurity {
        .ti3-modal-dialog {
            width: 600px;
        }
    }
    .powerInfoSetModal{
        width: 700px;
    }
    #uploadSSH {
        .ti3-modal-dialog {
            width: 770px;
        }
        .ti3-file-upload-btnCon {
            float: none !important;
        }
    }
    #krbSecret {
        .ti3-aui-file-field-container {
            width: 152px;
        }
    }
    #webViewId {
        .ti3-unifyvalid-tip-error-container {
            top: -3px;
            left: 470px;
        }
    }
    .portKvm, .portVmm, .portVnc, .snmpPortErr {
        .ti3-unifyvalid-tip-error-container {
            left: 546px;
        }
    }
    .levelTip {
        width: 680px;
        vertical-align: top;
        .ti3-alert-container {
            top: -8px;
        }
    }
    .snmpPortErr {
        .ti3-unifyvalid-tip-error-container {
            left: 600px;
        }
    }
    #webView {
        .ti3-unifyvalid-tip-error-container {
            top: -3px;
            left: 528px;
        }
    }
    #selectedID{
        .collapsedBox {
            .Titlecolumns {
                .subTitle {
                    width: 120px;
                }
            }
            .serarchInput {
                .subTitle {
                    width:120px;
                }
            }
            .secBtns {
                margin-left: 120px;
            }
        }
    }
    .virtualKeyContent {
        .virtualKeyDiv {
            .virtualKey {
                width: 420px !important;
            }
        } 
    }
    #saveBtn.saveBtn {
        width: 130px;
    }

    
    @media (max-width: 1680px) {
        .nav-ul-menu {
            >li {
                padding: 0 6px !important;
            }
        }
        .alarmInfo {
            margin-right:8px !important;
        }
        .baseInfo {
            padding: 0 8px !important;
        }
        .default, .simple{
            #info-navmenu {
                margin-left: auto !important;
                left: 150px !important;
            }
            .navInfo .navFuncContainer li .verticalLine {
                margin: 0px !important;
            }
        }
    }    
    @media (max-width: 1440px) {
        .beautiful {
            .nav-ul-menu {
                >li {
                    padding: 0 2px !important;
                }
            }
            .navInfo .navFuncContainer li .verticalLine {
                margin: 0px !important;
            }
        }
        #webView {
            .ti3-unifyvalid-tip-error-container {
                top: -30px;
                left: 47px;
            }
        }
        .snmpPortErr {
            .ti3-unifyvalid-tip-error-container {
                top: -30px;
                left: 0;
            }
        }
    }
    @media (max-width: 1366px) {
        .simple{
            #info-navmenu {
                margin-left: auto !important;
                left: 135px !important;
            }
            .nav-ul-menu {
                >li {
                    padding: 0 4px !important;
                }
            }
        }
        .nav-ul-menu {
            >li {
                padding: 0 6px !important;
            }
        }
        .alarmInfo {
            margin-right:6px !important;
            .nav-warn-item {
                margin-left: 6px !important;
            }
        }
        .baseInfo {
            padding: 0 6px !important;
        }
        .header.navbar {
            padding:0 15px;
        }
        ti-datetime-range.ti3-datetime-range-input-container{
            width: 300px;
        }
    }
    
    .textForm .ti3-text-form-label {
        padding-right:15px !important;
    }
    .ruReportSyslog {
        width:122px;
    }
    #syslog {
        .cerBox {
            .uploadBtn {
                width:115px !important;
            }
        }
        #emailSaveBtn {
            width:145px !important;
        }
        ti-upload {
            width: 115px !important;
        }
    }
    #emailNoticeViewId {
        #emailSaveBtn {
            width:145px !important;
        }
    }
    #trapComponent {
        #emailSaveBtn {
            width:145px !important;
        } 
    }
    .webServerDetails {
        width:430px !important;
    }
    #kvmView {
        #resetPort {
            width:185px;
            display: inline-block;
            position: relative;
            top:8px;
        }
    }
    #vmmView {
        #vmmResetPort {
            width:185px;
            display: inline-block;
            position: relative;
            top:8px;
        }
    }
    #vncView {
        #vncResetPort {
            width:185px;
            display: inline-block;
            position: relative;
            top:8px;
        }
    }

    #netwotkProtocol {
        .inputClass{
            width:250px !important;
        }
        .netWorkConfigDiv9 {
            min-width:470px !important; 
            .IPv4-div{
                padding-left: 25px !important;
            }
        }
        .netWorkConfigDiv10 {
            min-width:500px !important; 
            .IPv6-div{
                padding-left: 25px !important;
            }
        } 
    }
    @media(max-width:1550px) {
        #netwotkProtocol {
            .inputClass{
                width:200px !important;
            }
            .netWorkConfigDiv9 {
              min-width:430px !important; 
            } 
            .netWorkConfigDiv10 {
              min-width:475px !important; 
            } 
         }
    }
    @media(max-width:1480px) {
        #netwotkProtocol {
            .inputClass{
                width:140px !important;
            }
            .netWorkConfigDiv9 {
              min-width:370px !important; 
            } 
            .netWorkConfigDiv10 {
              min-width:450px !important; 
            } 
            #netMacAddress, #addressIdV6{
                display: inline-block;
                width:140px;
            }
         }
    }
    @media(max-width:1350px) {
        #netwotkProtocol {
            .inputClass{
                width:120px !important;
            }
            .netWorkConfigDiv9 {
              min-width:340px !important; 
            } 
            .netWorkConfigDiv10 {
              min-width:410px !important; 
            } 
            #netMacAddress, #addressIdV6{
                display: inline-block;
                width:120px;
            }
         }
    }
    #firmwareView{
        .butClass{
            min-width:180px !important;
        }
    }
    
    #licenseInstall .ti3-file-btn{
        width:120px !important;
    }
    input[type='checkbox'][tiCheckbox] + .ti3-checkbox{
        white-space: nowrap;
    }
    #portConten{
        .statusDiv1{
            width:90px !important;
        }
        .statusDiv{
            width:90px !important;
        }
    }
    #netCardAttr .row .rowLeft{
        width:125px !important;
    }
 
    @media(max-width:1600px) {
        #storage .rowLeft {
            width: 100% !important;
        }.powerHistory .top{
            height: 64px;
        }
    }
    @media(max-width:1366px) {
        .powerHistory .top{
            height: 64px;
        }
    }

    // 小语种下LDAP的 CRL弹框宽度不够修改
    .certifyUpload {
        width: 600px;
    }
    #userPwd {
        width: 334px;
    }

    // 俄语下，半屏弹窗左侧字段宽度太宽，导致右侧输入框宽度不够
    #halfControl {
        .tp-halfmodal-cotent {
            .ti3-form {
                .ti3-form-label {
                    width: 140px;
                    white-space: normal;
                    line-height: 18px !important;
                    padding-top: 6px;
                }
            }
            .ti3-form {
                .ti3-form-content {
                    width: auto;
                }
            }
            .snmpv3Container {
                width: 390px;
                table {
                    tr {
                        td:nth-of-type(1){
                            width: 140px;
                            white-space: normal;
                            word-break: unset;
                        }
                        td:nth-of-type(2){
                            width: 220px;
                        }                     
                    }
                }
            }
        }
    } 

    // LDAP 样式调整
    #ldap {
        .ti3-aui-file-field-container {
            width: 151px;
        }   
        .ti3-form  {
            .ti3-form-label {
                white-space: normal;
                width: 200px;
            }
        }
    }
    
    // LDAP 证书校验级别的Alert信息样式调整
    @media screen and (max-width: 1490px){
        .levelTip {
            display: block;
            #ldapAlert {
                margin-top: 5px;
                .ti3-alert-container {
                    position: static;               
                }
            }
        }
               
    }

    // 本地用户操作列小分辨率下显示宽度不够
    @media screen and (max-width: 1700px){
        #localuser {
            #userList {
                thead {
                    tr {
                        th:nth-of-type(6){
                            width: 280px;
                        }
                    }
                }
            }
        }
    }    

    // LDAP 俄语操作按钮被遮挡
    @media screen and (max-width: 1360px){
        #ldap {
            #ldapTable {
                thead {
                    tr {
                        th:nth-of-type(7){
                            width: 180px;
                        }
                    }
                }
            }
        }   
    }

    // Kerberos 俄语操作按钮被遮挡
    @media screen and (max-width: 1470px){
        #kerberos {
            #krbTable {
                thead {
                    tr {
                        th:nth-of-type(8){
                            width: 180px;
                        }
                    }
                }
            }
        }   
    }

     // 双因素CRL上传按钮被遮挡, 客户端证书删除按钮被遮挡
     @media screen and (max-width: 1800px){
        #rootTableId {
            table {
                thead {
                    tr {
                        th:nth-of-type(6){
                            width: 250px;
                        }
                        th:nth-of-type(7){
                            width: 90px;
                        }
                    }                    
                }
            }
        }
        #clientViewId {
            table {
                thead {
                    tr {                     
                        th:nth-of-type(8){
                            width: 90px;
                        }
                    }                    
                }
            }
        }   
        .default, .simple{
            #info-navmenu {
                margin-left: auto !important;
                left: 320px;
            }
        }
    }

    // SSH 弹窗上传组件宽度调整
    .sshUpload {
        .ti3-form {
             .ti3-aui-file-field-container {
                width: 287px;
            }
        }      
    }

    .storage .raidLabel {
        width: calc(100% - 125px) !important;
    }

    // NTP轮训间隔小语种提示词样式优化
    #polling {
        .langPolling {
            position: relative;
            .langTip {
                position: absolute;
                display: block;
                width: 250%;
                margin: 0;
                .tipIcon {
                    margin-left: 0px;
                }
                .langErrWord {
                    display: inline;
                }
            }
        }
        .selectDiv {
            margin-top: 15px;
        }
    }

    @media screen and (max-width: 1350px){
        #polling {
            .langTip {
                width: 180% !important;
            }   
        }
    }

    #ldapCrlBox {
        .ti3-file-upload-btnCon {
            width: 120px;
        }
    }
    // 登录规则状态显示宽度调整
    #loginRuleTable .noEditStatus {
        width: 100px;
    }
    #automaticView{
        .dayTime{
            padding-right: 6px;
        }
    }
    #spUpgrade{
        .ti3-aui-file-field-container{
            width: 310px;
        }
    }

    //IRM首页适配
    .irmTonrainerTopMsgBox{
        div{
            ul{
                li{
                    .name{
                        min-width: 227px !important;
                    }
                    .text{
                        max-width: calc(100% - 227px) !important;
                    }
                }
            }
        }
    }
    .irmConrainerTopUse{
        div{
            div.uItems{
                width: 125px;
            }
        }
    }
    .irmConrainerTopAlarm{
        div{
            div.deviceItems{
                width: 185px;
            }
        }
    }
    .operationContentIrm{
        .title{
            min-height: 42px;
        }
    }
    #rootViewId{
        .crlUploads{
            margin-left: 0!important;
        }
    }
    @media screen and (max-width: 1850px){
        .irmConrainerTopPower{
           .irmConrainerUseTitle{
                margin: 24px 0 3px 0;
            }
        }
    }
    @media screen and (min-width: 1550px){
        .irmConrainerTopUse{
            margin-left: 1% !important;
            width: 26% !important;
        }
        .irmConrainerTopPower{
            width: 19% !important;
            margin-left: -1% !important;
        }
    }
    @media screen and (max-width: 1550px){
        .serverContainer{
            padding: 56px 32px !important;
        }
        .irmConrainerTopUse{
            width: 26% !important;
            margin-left: 1% !important;
        }
        .irmConrainerTopPower{
            width: 19% !important;
        }
        .resourceDetailLabel{
            span{
                max-width: 70px !important;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                white-space: nowrap;
            }
        }
    }
    @media screen and (max-width: 1456px){
        .irmConrainerTopUse{
            margin-left: 1% !important;
            width: 26% !important;
        }
        .irmConrainerTopAlarm{
            width: 31% !important;
        }
        .irmConrainerTopPower{
            margin-left: -3% !important;
            width: 20% !important;
        }  
    }
    @media screen and (min-width: 1440px){ 
        .statusItems{
            margin-right: 10px !important;
            max-width: 90px !important;
            p{
                .statusName{
                    max-width: 69px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    white-space: nowrap;
                }
            }
        }
    }
    @media screen and (max-width: 1440px){   
        .irmConrainerTopUse{
            margin-left: 5% !important;
            width: 25% !important;
        }
        .irmConrainerTopAlarm{
            width: 30% !important;
            margin-left: 0% !important;
        }
        .irmConrainerTopPower{
            width: 22% !important;
            margin-left: -7% !important;
        }  
        #ratedPowerChart{
            margin-left: 20%;
        }   
        .deviceTag{
            width: 655px !important;
        }
        .shadow{
            padding: 20px !important;
        }
        .tapshow{
            padding: 0px 0px 0 20px !important;
        }
        .statusItems{
            margin-right: 10px !important;
            max-width: 81px !important;
            p{
                .statusName{
                    max-width: 60px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    white-space: nowrap;
                }
            }
        }
        .jigInfo{
            width: 365px !important;
            ul{
                li{
                    span.content{
                        max-width: 200px !important;
                    }
                }
            }
        }
        .resourceDetailLabel{
            span{
                max-width: 70px !important;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                white-space: nowrap;
            }
        }
    }
}
