$MIN_WIDTH: 1280px;         // 页面最小宽度
$NAV_TOP_HEIGHT: 64px;      // 顶部导航的高度
$NAV_BOTTOM_HEIGHT: 32px;   // 底部版权信息的高度
$mgt-64: 64px;
$mgb-40: 40px;
$common_btn_save_width: 96px;  // 通用保存按钮的宽度
$common_btn_save_height: 32px; // 通用保存按钮的高度
$common_input_height: 32px;    // 通用输入框高度
$rightBgColor: #ddd; // 整体背景色
$btnColor: #6C92FA; // 按钮颜色
$fontColor:#282B33;     //一般正文字体
$primaryBG: #6c92fa;   // 按钮
$primaryDarkBG: #5B7EDE;   // 按钮移入
$defaultBorder:#B8BECC;    // 白色按钮边框
$defaultFocusBorder:#6C7280;   // 白色按钮移入边框
$disableBG:#E6EBF5;    // 禁用元素背景
$disableBorder:#D4D9E6;   // 禁用元素边框
$borderRadius:1px;      // 圆角
$grayText:#6C7280;  // label字体
$labelText: #9EA4B3;
$infoBG:#6CBFFF; // info提示色

$rightBgColor: #ddd;   // 整体背景色
$common_bd_color_focus: #6C92FA;
$common_bd_color_hover: #575d6c;
$common_drop_disabled: #999;    // select三角按钮在被禁用时的颜色
$common_color_link: #6C92FA;    // 通用链接颜色
$common_bg_checkbox: #6C92FA;   // 复选框的背景色
$common_checkbox_bd_color_disabled: #E6EBF5;   // 复选框禁用的边框颜色
$common_checkbox_bg_color_disabled: #E6EBF5;   // 复选框禁用的背景颜色
$btn_bg_color: #6C92FA; // 按钮背景颜色
$btn_bd_color: #6C92FA; // 按钮的边框色
$btn_font_color: #ffffff;
$btn_bg_color_hover: #5B7EDE; // 按钮鼠标hover颜色
$btn_bd_color_hover: #5B7EDE; // 按钮hover边框色
$btn_bg_disabled_color: #E6EBF5; // 按钮禁用背景色
$btn_bd_disabled_color: #D4D9E6; // 按钮禁用边框色
$btn_font_disabled_color: #B8BECC; // 按钮禁用字体色
$common_select_bg_color_active: #6C92FA; // select下拉框选中的背景颜色
$common_select_text_color_active: #ffffff; // select下拉框选中的文字颜色
$common_select_bg_color_hover: #F0F3FA; // select下拉框hover的背景颜色
$common_select_text_color_hover: #6C92FA; // select下拉框hover的文字颜色

// 报错颜色
$common_error_border_color: #f66f6a;