body[class~=zh-CN]{
    #generateId {
        .ti3-file-upload-btnCon {
            float: none !important;
            display: inline-block;
        }
    }
    #uploadDialog {
        .ti3-modal-dialog {
            width: 600px;
        }
        .ti3-aui-file-field-container {
            width: 74% !important;
        }
        .ti3-file-upload-btnCon {
            width: 26%;
        }
        .ti3-aui-upload-btn {
            margin-left: 7px;
        }
        .ti3-modal {
            // 修改让其低于loading盒子的层级
            z-index: 1044;
        }
    }

    .levelTip{
        min-width: 400px;
    }

    // SSH 弹窗上传组件宽度调整
    .sshUpload {
        .ti3-form {
             .ti3-aui-file-field-container {
                width: 360px;
            }
        }
    }

    #ldapCrlBox {
        .ti3-file-upload-btnCon {
            width: 106px;
        }
    }

    #rootTableId {
        table {
            thead {
                tr {
                    th:nth-of-type(6) {
                        width: 260px !important;
                    }
                }
            }
            .crlUploads {
                margin-left: 32px !important;
            }         
        }
    }

    @media (min-width:1561px) {
        .powerInfoItem{
            width:calc(25% - 16px);
        }
    }
    @media (max-width:1560px) {
        .powerInfoItem{
            width:calc(33% - 16px);
        }
    }
}