.simple {
    height: 100px;
    .resourceDetailInfor, .resourceDetailLabel {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .resourceContent {
        margin-top: 0px;
        display: flex;
        position: relative;
        .title {
            position: absolute;
            left: 96px;
            font-weight: 500;
        }
    }
    .resourceDetailInfor {
        margin-top: 28px;
        span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 110px;
            margin-bottom: 9px;
        }
    }
    .resourceDetailLabel {
        font-size: 14px;
        color: #9EA4B3;
        margin-top: 29px;
        span {
            margin-bottom: 8px;
        }
    }
    @media (min-width: 1920px){
        .resourceDetailLabel {
            span {
                max-width: 180px;
            }
        }
        .resourceContent {
            .title {
                max-width: 177px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    @media (max-width: 1919px) and (min-width: 1680px) {
        .resourceDetailLabel {
            span {
                max-width: 122px;
            }
        }
        .resourceContent {
            .title {
                max-width: 155px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    @media (max-width: 1679px) and (min-width: 1280px){
        .resourceDetailLabel {
            span {
                max-width: 110px;
            }
        }
        .resourceContent {
            .title {
                max-width: 135px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    @media (max-width: 1280px) {
        .resourceDetailLabel {
            span {
                max-width: 60px;
            }
        }
        .resourceContent {
            .title {
                max-width: 101px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .commonImg {
        min-width: 80px;
        height: 80px;
        background-size: cover;
        margin-right: 16px;
    }
    .cpuImg {
        background: url('^assets/bmc-assets/image/home/simple/cpu-H3C.png') no-repeat center;
        background-size: 48px 48px;
    }
    .memoryImg {
        background: url('^assets/bmc-assets/image/home/simple/memory-H3C.png') no-repeat center;
        background-size: 48px 48px;
    }
    .storeImg {
        background: url('^assets/bmc-assets/image/home/simple/store-H3C.png') no-repeat center;
        background-size: 48px 48px;
    }
    .powerImg {
        background: url('^assets/bmc-assets/image/home/simple/power-H3C.png') no-repeat center;
        background-size: 48px 48px;
    }
    .fanImg {
        background: url('^assets/bmc-assets/image/home/simple/fan-H3C.png') no-repeat center;
        background-size: 48px 48px;
    }
    .internetImg {
        background: url('^assets/bmc-assets/image/home/simple/net-H3C.png') no-repeat center;
        background-size: 48px 48px;
    }
}