.beautiful{
    margin-bottom: 0px;
    display: flex;
    cursor: pointer;
    background-color:  #F6F7FB;
    .resourceComponent{
        display: flex;
        background-color: #F6F7FB;
    }
    .titleRight {
        margin-top: 20px;
        display: flex;
    }
    .resourceContent{
        margin-top:0px;
    }
    .resourceDetailInfor, .resourceDetailLabel {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .resourceDetailLabel{
        line-height: 24px;
    }
    .resourceDetailInfor {
        span {
            font-weight: normal !important;
        }
    }
    .counteRight{
        margin-top:10px;
        margin-bottom: 5px;
        .title{
            font-weight: normal !important;
        }
    }
    .commonImg{
        background-position: center center;
    }
    @media (min-width: 1920px){
        .commonImg {
            width: 140px;
            height: 140px;
            display: inline-block;
            background:  #EDEFF9 center no-repeat;;
        }
        .counteRight{
            vertical-align: top;
        }
        .resourceDetailLabel {
            font-size: 14px;
            color: #9EA4B3;
            span {
                max-width: 110px;
            }
        }
    }
    @media (max-width: 1919px) and (min-width: 1680px) {
        .commonImg {
            width: 140px;
            height: 140px;
            display: inline-block;
            background:  #EDEFF9 center no-repeat;;
        }
        .counteRight{
            vertical-align: top;
            justify-content: space-between;
            span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 140px;
                display: inline-block;
            }
        }
        .resourceDetailLabel {
            font-size: 14px;
            color: #9EA4B3;
            span {
                max-width: 110px;
            }
        }
    }
    @media (max-width: 1679px) and (min-width: 1440px){
        .commonImg {
            width: 100px;
            height: 140px;
            display: inline-block;
            background:  #EDEFF9 center no-repeat;;
        }
        .counteRight{
            vertical-align: top;
            span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 140px;
                display: inline-block;
            }
        }
        .resourceDetailLabel {
            font-size: 14px;
            color: #9EA4B3;
            span {
                max-width: 115px;
            }
        }
    }
    @media (max-width: 1439px) and (min-width: 1280px){
        .commonImg {
            width: 100px;
            height: 140px;
            display: inline-block;
            background:  #EDEFF9 center no-repeat;;
        }
        .counteRight{
            vertical-align: top;
            span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 110px;
                display: inline-block;
            }
        }
        .resourceDetailLabel {
            font-size: 14px;
            color: #9EA4B3;
            span {
                max-width: 85px;
            }
        }
    }
    @media (max-width: 1280px) {
        .commonImg {
            width: 100px;
            height: 140px;
            margin: inline-block;
            background:  #EDEFF9 center no-repeat;;
        }
        .counteRight{
            vertical-align: top;
            span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 110px;
                display: inline-block;
            }
        }
        .resourceDetailLabel {
            font-size: 14px;
            color: #9EA4B3;
            span {
                max-width: 85px;
            }
        }
    }
    .cpuImg {
        background-image: url('^assets/bmc-assets/image/home/beautiful/CPU.png');
    }
    .memoryImg {
        background-image: url('^assets/bmc-assets/image/home/beautiful/RAM.png');
    }
    .storeImg {
        background-image: url('^assets/bmc-assets/image/home/beautiful/memory.png');
    }
    .powerImg {
        background-image: url('^assets/bmc-assets/image/home/beautiful/power.png');
    }
    .fanImg {
        background-image: url('^assets/bmc-assets/image/home/beautiful/fan.png');
    }
    .internetImg {
        background-image: url('^assets/bmc-assets/image/home/beautiful/networkCard.png');
    } 
}
