@import './home-resource-simple.component.scss';
@import './home-resource-standard.component.scss';
@import './home-resource-beautiful.component.scss';
:host {
    margin-bottom: 40px;
    cursor: pointer;
    .title {
        color: #282B33;
        font-size: 16px;
        font-weight: 600;
        white-space: nowrap;
    }
    .titleRight {
        display: flex;
    }
    .resourceContent {
        margin-top: 18px;
        display: flex;
    }
    .resourceDetailInfor, .resourceDetailLabel {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .resourceDetailLabel {
        font-size: 14px;
        color: #9EA4B3;
        span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    @media (min-width: 1920px){
        .resourceDetailLabel {
            span {
                max-width: 180px;
            }
        }
    }
    @media (max-width: 1919px) and (min-width: 1680px) {
        .resourceDetailLabel {
            span {
                max-width: 122px;
            }
        }
    }
    @media (max-width: 1679px) and (min-width: 1280px){
        .resourceDetailLabel {
            span {
                max-width: 110px;
            }
        }
    }
    @media (max-width: 1280px) {
        .resourceDetailLabel {
            font-size: 14px;
            color: #9EA4B3;
            span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 60px;
            }
        }
    }
    .resourceDetailInfor {
        margin-left: 8px;
        font-size: 14px;
        color: #282B33;
        font-weight: 600;
    }
    .commonImg {
        min-width: 82px;
        height: 82px;
        background-size: cover;
        margin-right: 16px;
    }
    .default {
        .titleRight {
            min-height: 100%;
        }
        .cpuImg {
            background: url('^assets/bmc-assets/image/home/default/CPU.png') no-repeat;
        }
        .memoryImg {
            background: url('^assets/bmc-assets/image/home/default/RAM.png') no-repeat;
        }
        .storeImg {
            background: url('^assets/bmc-assets/image/home/default/memory.png') no-repeat;
        }
        .powerImg {
            background: url('^assets/bmc-assets/image/home/default/power.png') no-repeat;
        }
        .fanImg {
            background: url('^assets/bmc-assets/image/home/default/fun.png') no-repeat;
        }
        .internetImg {
            background: url('^assets/bmc-assets/image/home/default/networkCard.png') no-repeat;
        }
    }
}
