
.powerItem{
    background: #FFFFFF;
    border: 1px solid #DCDFE6;
    padding: 20px 32px 12px;
    position: relative;
    margin-bottom: 16px;
    width: 100%;
    .powerItemTop{
        margin-bottom: 20px;
        line-height: 16px;
        color: #000000;
        line-height: 16px;
    }
    .powerItemMid{
        padding-bottom: 20px;
        border-bottom: 1px solid #E6EBF5;
        margin-bottom: 20px;
        font-size: 14px;
        .powerNameWatts{
            font-size: 24px;
            color: #000000;
            line-height: 16px;
        }
    }
    .powerName{
        font-size: 16px;
        color: #000000;
        line-height: 16px;
    }   
    .powerInputWattText{
        font-weight: 700;
        font-size: 24px;
    }
    .powerStatusBalance{
        font-size: 14px;
        color: #9EA4B3;
        letter-spacing: 0;
        line-height: 16px;
        float: right;
        margin-left: 8px;
    }
    .name{
        display: inline-block;
        font-size: 14px;
        color: #9EA4B3;
        letter-spacing: 0;
        line-height: 14px;
        max-width: 150px;
        white-space: normal;
    } 
    .text{
        font-size: 14px;
        color: #282B33;
        letter-spacing: 0;
        line-height: 14px;
        max-width: 115px;
        white-space: break-spaces;
    }
    .powerImg{
        position: absolute;
        right: 32px;
        bottom: 32px;
        width:55px;
        height:64px;
    }
    .powerImgEnable{
        background: url('^assets/common-assets/image/power_enable.svg') no-repeat left center;
        background-size: cover;
    }
    .powerImgAbsent{
        background: url('^assets/common-assets/image/power_absent.svg') no-repeat left center;
        background-size: cover;
    }
}
:host ::ng-deep {
    .powerItem{
        .ti3-form .ti3-form-label,
        .ti3-form .ti3-form-content{
            line-height: 14px;
            padding-bottom: 20px !important;
            font-size: 14px;
        }
        .ti3-form .ti3-form-content{
            padding-left: 32px;
        }
        .ti3-form .ti3-form-label{
            padding-right: 0 !important;
            width: 100px;
            color: #9EA4B3;
        }
    }
}

