.ibmaModalView{
    .containerStyle{
        padding: 24px 32px;
    }
    .containerStyle>p{
        line-height: 20px;
        font-size: 14px;
        color: #666666;
        padding-bottom: 55px;
    }
    .desBox div{
        line-height: 25px;
        font-size: 14px;
        width: 100%;
        color: #6C7280;
        height:auto;
    }
}