
.isSelectedLabel {
    border-left: solid 1px #6c92fa;
    border-top: solid 1px #6c92fa;
    border-bottom: solid 1px #6c92fa;
    cursor: pointer;
}
.unselectedLabel {
    border-left: solid 1px #eeeeee;
    border-top: solid 1px #eeeeee;
    border-bottom: solid 1px #eeeeee;
    cursor: pointer;
}
.isSelectedContent {
    border-top: solid 1px #6c92fa;
    border-bottom: solid 1px #6c92fa;
    cursor: pointer;
}

.unselectedContent {
    border-top: solid 1px #eeeeee;
    border-bottom: solid 1px #eeeeee;
    cursor: pointer;
}
.isSelectedImg {
    border-right: solid 1px #6c92fa;
    border-top: solid 1px #6c92fa;
    border-bottom: solid 1px #6c92fa;
    cursor: pointer;
}
.unselectedImg {
    border-right: solid 1px #eeeeee;
    border-top: solid 1px #eeeeee;
    border-bottom: solid 1px #eeeeee;
    cursor: pointer;
}
.tab {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 16px;
    tr {
        height: 40px;
    }
}
.tdContent {
    padding-right: 15px;
}
.label {
    font-size: 14px;
    color: #282B33;
    text-align: center;
    line-height: 18px;
    margin-left: 16px;
    white-space: nowrap;
}
.content{
    width: 100%;
    font-size: 12px;
    color: #9EA4B3;
    letter-spacing: 0;
    line-height: 14px;
}
.imgState {
    float: right;
    margin-top: -19px;
}
.selectedImg{
    height: 16px;
    width: 16px; 
    background: url('^assets/common-assets/image/icon_div_select.png') no-repeat left center;
}
:host ::ng-deep {
    [tiButton]{
        font-size: 14px;
        height: 32px;
    }
}