@import 'src/assets/common-assets/scss/varible';
.footer{
    text-align: center;
    clear: both;
    display: block;
    position: fixed;
    bottom: 0;
    color: #6C7280;
    font-size: 12px;
    background-color: #eee;
    height: $NAV_BOTTOM_HEIGHT;
    line-height: $NAV_BOTTOM_HEIGHT;
    width: 100%;
    border: solid 1px #eee;
    z-index: 1000;
    .h-footer-label {
        line-height: 32px;
    }
    .pull-right {
        float: right;
    }
    .mgr-80 {
        margin-right: 80px !important;
    }
}