#emailNoticeViewId{
    input{
        font-size: 14px;
    }
    #smtp{
        margin-top: 7px;
    }
    .midTitle{
        margin-top: 36px;
    }
    .w300{
        width: 300px;
    }
    .mr20{
        margin-right: 20px;
    }
    .pl15{
        padding-left: 15px;
    }
    #emailCancelBtn{
        margin-left: 10px;
    }
}
:host ::ng-deep{
    #emailNoticeViewId table {
        margin-top: 15px;
        input {
            width: 300px;
            height: 32px;
        }
        ti-select{
            height: 32px;
            line-height: 28px;
        }
        .ti3-text-form-label{
            font-size: 14px;
            white-space: pre-wrap !important;
        }
    }
    .ti3-text-form-content{
        position: relative;
    }
    .ti3-unifyvalid-tip-error-container {
        min-width: 300px;
        top: 0px;
        position: absolute;
        left: 305px;
    }
    .emailTable{
        table{
            thead{
                tr{
                    height: 32px;
                }
            }
            tbody{
                tr{
                    height: 48px;
                }
            }
        }
    }
    .emailTls {
        position: relative;
    }
    .alertStyle{
        position: absolute;
        right: -400px;
        top: -10px;
    }
}