.tabContent{
    background-color: #fff;
    .unitsLabel{
        margin-right: 24px;
        font-size: 16px;
        color: #282B33;
        letter-spacing: 0;
        line-height: 20px;
        font-weight: bold;
    }
}
:host ::ng-deep {
    .ti3-btn-item-container{
        .ti3-btn-item{
            width: 96px;
            height: 32px;
            padding: 0px;
            span{
                line-height: 32px;
            }
        }
    }
    .ti3-btn-item{
        background: #FFFFFF;
        border: 1px solid #B8BECC;
    }
    .ti3-btn-item:hover{
        background: #FFFFFF;
        border: 1px solid #6C7280;
    }
    .ti3-btn-item-container.ti3-active .ti3-btn-item.ti3-btn-item-radio{
        background: #6C92FA;
    }
    .ti3-btn-item-container.ti3-active .ti3-btn-item.ti3-btn-item-radio:hover{
        background: #5B7EDE;
        border: 1px solid #5B7EDE;
    }
    .ti3-btn-item-container:first-child .ti3-btn-item.ti3-btn-item-radio{
        border-right: 0px !important;
        border-radius: 1px 0 0 1px;
    }
    .ti3-btn-item-container:last-child .ti3-btn-item.ti3-btn-item-radio{
        border-left: 0px !important;
        border-radius: 0 1px 1px 0;
    }
}