.subComponent{
    background-color: #ffffff;
    padding: 32px 24px;
    min-height: 280px;
    .fanHeader{
        margin-left: 8px;
        .title{
            font-size: 16px;
            color: #282B33;
            line-height: 20px;
            font-weight: bold;
        }
    }
    .fanInfo{
        background: #FFFFFF;
        .fanContent{
            width: calc(25% - 16px);
            border: 1px solid #DCDFE6;
            display: inline-block;
            border-radius: 1px;
            margin: 32px 8px 0px;
            padding: 20px 32px 32px;
            position: relative;
            .fanLabel{
                font-size: 16px;
                color: #000000;
                line-height: 16px;
            }
            .funStatusBalance{
                font-size: 14px;
                color: #9EA4B3;
                letter-spacing: 0;
                line-height: 16px;
                float: right;
                margin-left: 8px;
            }
            .fanState{
                line-height: 25px;
                display: inline-block;
                width: 100%;
            }
            .fanData{
                border-top: 1px solid #E6EBF5;
            }
            
            .stateValue{
                float: right;
                font-size: 14px;
                color: #282B33;
                letter-spacing: 0;
            }
            .fanImg{
                position: absolute;
                right: 32px;;
                bottom: 32px;
                width:55px;
                height:64px;
            }
        }
        @media (max-width:1760px) {
            .fanContent{
                width:calc(33% - 16px);
            }
        }
        @media (max-width:1366px) {
            .fanContent{
                width:calc(50% - 16px);
            }
        }
    }
}

:host ::ng-deep {
    .ti3-form{
        margin: 0px;
    }
    .ti3-form .ti3-form-label,
    .ti3-form .ti3-form-content{
        line-height: 14px !important;
        padding-top: 20px !important;
        padding-bottom: 0px !important;
        font-size: 14px;
    }
    .ti3-form .ti3-form-content{
        padding-left: 24px;
    }
    .ti3-form .ti3-form-label{
        padding-right: 0 !important;
        color: #9EA4B3;
        max-width: 120px;
        white-space: normal !important;
    }
}


