#netwotkProtocol{
    .contentTitle {
        margin-top: 42px !important;
    }
    .inputClass{
        width: 300px;
        height:32px;
        border-radius: 1px;
        font-size: 14px;
    }
    .sessionClass {
        display: inline-block;
        margin-right: 32px;
        padding-bottom: 20px;
    }
    .configIpv46 {
        width: 45%;
        float: left;
        margin-right: 20px;
    }
    .configIpv4, .configIpv6 {
        width: 50%;
        float: left;
    }
    .configIpv66 {
        width: 45%;
        float: left;
    }
    .ipModelText{
        font-size: 14px;
        line-height: 18px;
        color: #282B33;
        margin-bottom: 24px;
    }
    .netWorkConfigDiv9{
        min-width:530px;
        .IPv4-div {
            border: solid 1px #e2e2e2;
            border-radius: 1px;
            margin-bottom:15px;
            position: relative;
            min-height: 300px;
            padding-left: 32px;
        }
        .standby-div{
            min-height: 260px;
        }
        .float-div{
            min-height: 260px;
        }
    }
    .netWorkConfigDiv10{
        min-width:530px;
        .IPv6-div {
            border: solid 1px #e2e2e2;
            border-radius: 1px;
            margin-bottom:15px;
            min-height:300px;
            position: relative;
            padding-left: 32px;
            .showmoreIPv6{
                position: absolute;
                width: 100%;
                left: 0;
                top: calc(100% + 1px);
                padding: 32px 0 0px 32px;
                border: solid 1px #e2e2e2;
                background-color: #fff;
                z-index: 9;
                dt{
                    display: inline-block;
                    padding: 0 32px 20px 0;
                    font-size: 14px;
                    color: #9EA4B3;
                    letter-spacing: 0;
                    line-height: 14px;
                }
                dd{
                    display: inline-block;
                }
            }
        }
        .standby-div{
            min-height: 260px;
        }
        .float-div{
            min-height: 260px;
        }
    }
    @media(max-width:1560px){
        .inputClass{
            width: 230px;
            height:32px;
            border-radius: 1px;
            font-size: 14px;
        } 
        .configIpv46 {
            min-width: 530px;
            width: 55%;
            float: left;
            margin-right: 0;
        }
        .configIpv66 {
            min-width: 530px;
            width: 53%;
            float: left;
        }
    }
    @media(max-width:1880px){
        .inputClass{
            width: 250px;
            height:32px;
            border-radius: 1px;
            font-size: 14px;
        } 
    }
    .LevelTitle {
        display: block;
        font-weight: bold;
        margin-bottom: 27px;
        font-size: 14px;
        color: #282B33;
        line-height: 14px;
        padding-top: 20px;
    }
    .buttonClass {
        margin-top: -2px;
        margin-bottom: 40px !important;
    }
    #expandShutDownId{
        text-align: center;
        cursor: pointer;
        display: inline-block;
        margin-left: 6px;
        color: #6bb0ff;
    }
    #netMoreTitle {
        display: inline-block;
    }
    .contentTitle{
        display: flex;
        justify-content: space-between;
        height: 48px;
        background-color: #F0F3FA;
        align-items: center;
        padding: 0 16px;
        &>span{
            line-height: 32px;
        }
        .protocolCtrlBox{
            .buttonClass{
                height: 32px !important;
                min-width: 96px;
                width: auto;
                border-radius: 1px;
                font-size: 18px;
                color: #FFFFFF;
                text-align: center;
                line-height: 22px;
                margin-top: 0;
                margin-bottom: 0 !important;
            }
            #protocolEditCancelBtn{
                margin-right: 16px;
                background-color: #fff;
                color: #282B33;
            }
        }
    }
}


:host{
    #netwotkProtocol{
        ::ng-deep{
            .ti3-form{
                width: 100%;
            }
            .ti3-form > tbody tr > td {
                vertical-align: initial;
            }
            .float-div .ti3-form > tbody tr > td:first-child{
                width: 0;
                padding: 0;
            }
            .standby-div .ti3-form > tbody tr > td:first-child{
                width: 0;
                padding: 0;
            }
            .IPv4-div .ti3-form > tbody tr > td:first-child{
                width: 0;
                padding: 0;
            }
            .IPv6-div .ti3-form > tbody tr > td:first-child{
                width: 0;
                padding: 0;
            }
            .float-div .ti3-form > tbody tr > td{
                padding-bottom: 20px;
            }
            .ti3-form .ti3-form-content {
                padding-bottom: 0px;
            }
            .ti3-form-content {
                min-width: 200px;
            }
            .IPv4-div .ti3-form, .IPv6-div .ti3-form{
                margin: 5px 0 0 0;
            }
            .ipv46Form {
                .ti3-form .ti3-form-content {
                    padding-bottom: 20px;
                }
                .ti3-form {
                    margin: 0px;
                    position: relative;
                }
                .ti3-form .ti3-form-list .ti3-form-label {
                    padding-left: 0px !important;
                }
                .ti3-form .ti3-form-label {
                    width: 100px !important;
                    padding-left: 0px !important;
                }
                .ti3-form .ti3-form-list .ti3-form-label {
                    min-width: 0px;
                }
            }
            .notInputting {
                .ti3-unifyvalid-tip-error-container{
                    display: none;
                }
            }
            .contentContent {
                .ti3-form .ti3-form-label {
                    width : 120px;
                }
            }
        }
    }
}