.boxDiv{
    display: flex;
    justify-content: space-between;
}
.box {
    display: flex;
    flex-direction: column;
    border: 1px solid #DCDFE6;
    border-radius: 1px;
    padding: 24px 23px;
    width: calc((50% - 11px));
    &:nth-child(1) {
        margin-right: 22px;
    }

    .sectionSdi {
        margin-top: 12px;
    }

    .title{
        height: 24px;
        margin-bottom: 5px;
        h3{
            display: inline-block;
            margin-right: 16px;
            vertical-align: top;
        }
    }

    .titlePCIe {
        display: inline-block;
        margin-right: 27px;
        vertical-align: top;
    }
    .descPCIe {
        color:  #9EA4B3;
        margin: 5px 0 10px 0;
    }
    .desc{
        margin-bottom: 20px;
        color:  #9EA4B3;
    }
    .section{
        height: 100px;
        display: flex;
        padding: 20px;
        background: #EFF3FB;
        .startImg{
            width: 56px;
        }
        .nameAndSize{
            flex: 1;
            color: #6C7280;
            font-size: 16px;
            opacity: 0.7;
            .name{
                margin-top: 4px;
                color:  #6C7280;
            }
            .size{
                margin-top: 4px;
                color: #9EA4B3;
            }
        }
        .endImg{
            width: 30px;
            line-height: 60px;
            cursor: pointer;
            .img{
                display: inline-block;
                width: 24px;
                height: 21px;
                background: url('^assets/common-assets/image/download.png') no-repeat center center;
                &:hover{
                    background-image: url('^assets/common-assets/image/download-blue.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
            .imgLoading {
                display: inline-block;
                width: 24px;
                height: 21px;
                background: url('^assets/common-assets/image/loading1.gif') no-repeat center center;
                background-size: 100%;
            }
        }
    }
}
/* NPU��־ */
#systemLogNPU {
    border:1px solid  #DCDFE6;
    border-radius: 1px;
    padding:24px;
    margin-top:25px;    
}
#systemLogNPU .mainTitle{
    font-size:16px;
    margin-bottom:0;
    font-weight: 700;
}
#systemLogNPU .subTitle{
    color: #9EA4B3;
    margin-top:20px;
    margin-bottom:5px;
}
#systemLogNPU .content{
    display: flex; 
    flex-wrap:wrap;
    justify-content: space-between;
}
#systemLogNPU .contentItem{
    margin-top:16px;
    background: #EFF3FB;
    border-radius: 1px;
    width: calc(50% - 36px);
    height: 100px;
    padding:16px;
    display: flex;
    justify-content: space-between;
}
#systemLogNPU .contentItem .left{
    display: flex;
}
#systemLogNPU .contentItem .left .fileInfo{
    margin-left:16px;
}
#systemLogNPU .contentItem .left .fileInfo .fileName{
    opacity: 0.7;
    font-size: 16px;
    color: #6C7280;
    text-align: left;
    margin: 10px 0 12px 0;
}
#systemLogNPU .contentItem .left .fileInfo .size{
    color: #9EA4B3;
    margin-top:5px;
    margin-bottom:5px;
}
#systemLogNPU .contentItem .left .fileInfo .progress{
    display:flex;
    width:240px;
}
#systemLogNPU .contentItem .left .fileInfo .progress .warnBg{
    background-color: #F66F6A;
}
#systemLogNPU .contentItem .left .fileInfo .percent{
    font-size:12px;
    color: #777777;
    position: relative;
    left:8px;
    top:-5px;
}
#systemLogNPU .contentItem .left .collectOk{
    font-size: 12px;
    color: #252B3A;
    line-height: 18px;
    padding-top: 37px;
    margin-left: 20px;
}
#systemLogNPU .contentItem .left .tiMsgIcon{
    font-size: 14px !important;
    margin-top: 3px;
    margin-right: 8px;
    margin-left: 10px;
}
#systemLogNPU .contentItem .left .checkCircle{
    color: #7ADFA0;;
}
#systemLogNPU .contentItem .left .collectErr{
    font-size: 12px;
    color: #DE504E;
    line-height: 18px;
    padding-top: 37px;
    margin-left: 20px;
}
#systemLogNPU .contentItemImg{
    width:42px;
    height: 56px;
}
#systemLogNPU .endImg{
    width: 30px;
    line-height: 60px;
    cursor: pointer;
    .img{
        display: inline-block;
        width: 24px;
        height: 21px;
        background: url('^assets/common-assets/image/download.png') no-repeat center center;
        &:hover{
            background-image: url('^assets/common-assets/image/download-blue.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .imgLoading {
        display: inline-block;
        width: 24px;
        height: 21px;
        background: url('^assets/common-assets/image/loading1.gif') no-repeat center center;
        background-size: 100%;
    }
}