.disabled {
    pointer-events: none;
}
.abledKvm{
    color: #6C92FA;
    cursor: pointer;
}
.lockKey {
    width: 80px;
    height: 32px !important;
    background: #FFFFFF;
    border: 1px solid #B8BECC;
    border-radius: 1px;
}
.autoOSClass{
    display: inline-block;
    margin-right: 20px
}
.buttonClass{
    margin-top: 12px;
}
:host ::ng-deep{
    .ti3-unifyvalid-tip-error-container{
        min-width: 300px;
        align-content: center;
        top: -8px;
        position: absolute;
        left: 398px;
    }
    .lockKeysClass .ti3-unifyvalid-tip-error-container{
        min-width: 300px;
        align-content: center;
        top: -8px;
        position: absolute;
        left: 436px;
    }
    .timeoutClass .ti3-unifyvalid-tip-error-container{
        min-width: 300px;
        align-content: center;
        top: -6px;
        position: absolute;
        left: 315px;
    }
    .ti3-form {
        margin: 20px 0 0 0;
    }
    .ti3-btn-primary {
        min-width: 120px !important;
    }
}