:host ::ng-deep {
    .warnIcon {
        color: #FA9841;
        margin-right: 10px;
        font-size: 24px;
        position: relative;
        top: 3px;
    }
    .warnText {
        color: #6C7280;
        line-height: 21px;
        margin-bottom: 16px;
    }
    .configRecoverySwi {
        color: #6C92FA;
    }
    .tableTitle {
        margin: 16px 0 10px 0;
    }
}