.labelVmm{
    margin-left: 16px;
    cursor: pointer;
    color: #6C92FA;
}
.abledVmm{
    color: #6C92FA;
}
.errPosition{
    position: relative;
}
.buttonClass{
    margin-top: 12px;
}
:host ::ng-deep{
    .ti3-unifyvalid-tip-error-container{
        min-width: 300px;
        align-content: center;
        top: -8px;
        position: absolute;
        left: 395px;
    }
    .ti3-form {
        margin: 20px 0 0 0;
    }
    .ti3-btn-primary {
        min-width: 120px !important;
    }
    .encryption {
        position: relative;
    }
    .alertStyle{
        position: absolute;
        left: 60px;
        top: -10px;
    }
}