$title-color: #fff;

:host {
    .serverTitle {
        font-size: 16px;
        color: $title-color;
    }
    .systemTitle {
        font-size: 16px;
        margin-bottom: 16px;
        color: $title-color;
        padding-left: 30px;
    }
    .serverContainer {
        padding: 65px 0 83px 0;
        display: flex;
        background: url('^assets/common-assets/image/home/grid.png');
    }
    .serverLeft {
        width: 55.78%;
    }
    .serverPic {
        padding-top: 35px;
        text-align: center;
        max-width: calc(100% - 50px);
        img {
        height: 302px;
        width: auto;
        }
    }
    .serverRight {
        width: 45.22%;

        .deviceInforTitle {
            margin-top: 56px;
        }
    }

    .serverRightGetData {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .deviceInforTitle {
            margin-top: 0;
        }
    }

    .deviceInfor {
        color: $title-color;
        padding-left: 10px;
    }
    .deviceInforTitle {
        margin-bottom: 24px;
        display: flex;
        justify-content: flex-start;
        .editControlIcon{
            display: inline-block;
            .sureEditIcon{
                margin: 0 10px;
            }
        }
    }
    ::ng-deep {
        .serverContainer{
            .ti3-form-label {
                color: #B8BECC;
                padding-bottom: 20px;
                font-size: 14px;
                line-height: 14px;
                padding-right: 32px;
            }
            .ti3-form-content {
                padding-bottom: 20px;
                font-size: 14px;
                line-height: 14px;
                color: #E6EBF5;
                word-break: break-all;
                min-width: 60px;
            }
            .tp-icon {
                cursor: pointer;
            }
            .tp-icon-cloud-action-edit:before{
                content: '';
            }
            .tp-icon-cloud-action-confirm:before{
                content: '';
            }
            .tp-icon-cloud-action-cancel:before{
                content: '';
            }
            canvas {
                cursor: pointer;
            }
        }
    }
    .systemMonitor {
        margin-top: 40px;
        color: $title-color;
    }
    .moreLink {
        color: #6C92FA;
        cursor: pointer;
    }
    .monitorChart {
        height: 170px;
        width: 25%;
    }
    .monitorContainer {
        display: flex;
    }
    .noData {
        margin-top: 25px;
        text-align: center;
    }
    .noDataText {
        color: #9EA4B3;
        font-size: 14px;
        margin-top: 17px;
    }
    .lastRefreshTime {
        font-size: 14px;
        text-align: right;
        margin-right: 5px;
        line-height: 25px;
    }
    .ctiFlRight {
        float: right;
    }
    .refreshIcon::after{
        content: "";
        width: 5px;
        height: 5px;
        border-bottom: 2px solid currentColor;
        border-left: 2px solid currentcolor;
        position: absolute;
        top: 8px;
        left: 0px;
        transform: rotate(59deg);
    }
    .refreshIcon{
        border-radius: 50%;
        width: 15px;
        height: 16px;
        cursor: pointer;
        border:2px solid currentColor;
        border-left:2px solid transparent;
        position: relative;
        margin-top: 4px;
    }
    .refreshIcon:hover{
        color: #39f;
    }
    .icon-disabled {
        cursor: not-allowed;
    }
}

.serverLeft-content {
    height: 100%;
    display: block;
}
