
:host ::ng-deep {
    .noDataBox{
        padding-top: 48px;
        text-align: center;
        font-size: 14px;
        color: #727885;
        .noData{
            text-align: center;
            background: url('^assets/common-assets/image/icon-no-data.png') no-repeat center center;
            width: 100%;
            height: 100px;
            margin-bottom: 12px;
        }
    }
}


