@import '../../../../../../../../assets/common-assets/scss/custom.scss';
.editRadio {
    display: inline-block;
    margin-right: 20px
}
#logicalSelect {
    width: 220px !important;
}

#firmwareSelect {
    width: 220px !important;
}
.ti3-modal-body {
    overflow-y: hidden;
}