$title-color: #fff;

:host {
    .serverTitle {
        font-size: 16px;
        color: $title-color;
    }
    .systemTitle {
        font-size: 16px;
        margin-bottom: 16px;
        color: $title-color;
        padding-left: 30px;
    }
    .serverContainer {
        background-color: #46506E;
        display: flex;
    }
    .serverLeft {
        width: 100%;
        height: 237px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .serverPic {
        padding-top: 35px;
        text-align: center;
        max-width: calc(100% - 50px);
        img {
        height: 302px;
        width: auto;
        }
    }
    .hostNameRig {
        width: 35%;
        display: inline;
        margin-left: 47px;
        div {
            margin-bottom: 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    #homeProductImage {
        max-width: 380px;
        max-height: 85%;
        margin-right: 20px;
    }
    #homeProductName {
        font-size: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #homeProductAlias {
        font-size: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @media (max-width: 1580px) {
        #homeProductImage {
            width: 342px;
        }
    }
    @media (max-width: 1366px) {
        #homeProductImage {
            width: 272px;
        }
    }
    .deviceInfor {
        color: $title-color;
        padding-left: 10px;
        margin-top: 16px;
        padding-right: 10px;
    }
    .deviceInforTitle {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
    }
    ::ng-deep {
        .ti3-form {
            width: 100%!important;
        }
        .ti3-form > tbody tr {
            vertical-align: inherit;
            box-shadow: 0 1px 0 0 #EFEFEF;
            height: 43px;
        }
        .ti3-form-label {
            color: #B8BECC;
            padding-bottom: 20px;
            font-size: 14px;
            line-height: 14px;
            padding-right: 32px;
            padding: 0px;
        }
        .ti3-form-content {
            padding-bottom: 20px;
            font-size: 14px;
            line-height: 14px;
            color: #333333;
            word-break: break-all;
            min-width: 60px;
            padding: 0px;
            text-align: right;
        }
        canvas {
            cursor: pointer;
        }
    }
    .moreLink {
        color: #FFF;
        background-color: #46506E;
        border: 1px solid #FFF;
        border-radius: 5px;
    }
}
