@import '../../../../../assets/common-assets/scss/common.scss';
:host {
    .workNote{
        height: 100%;
        .addButton {
            margin-bottom: 20px;
            font-size: 14px;
            height: 32px;
            padding: 0 14px!important;
        }
        .detailContents {
            display: flex;
            flex-wrap: wrap;
        }
        .detailNoteContainer {
            width: calc(50% - 16px);
            margin: 16px 16px 0 0;
        }
        .detailNote {
            width: 100%;
        }
    }
    .noData {
        margin-top: 68px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .noDataImg {
        width: 150px;
        height: 100px;
        background: url('^assets/common-assets/image/icon-no-data.png') no-repeat;
        background-size: contain;
    }
    .noDataText {
        font-size: 14px;
        color: #9EA4B3;
    }
}
