.ipv4Control {
    width: 320px;
}

:host {
    ::ng-deep {
        .ipv4Container {
            tr {
                td:nth-child(2) {
                    width: 120px;
                    word-break: break-all;
                }
            }
        }
    }
}