.container{
    display: flex;
    height: 100%;
    width: 100%;
    .ibmc-view{
        width:100%;
    }
}
.pageView {
    .contentDetails {
        .resetting {
            margin-left: 10px;
            cursor: pointer;
            font-size: 14px;
            color: #6C92FA;
            line-height: 14px;
            &:hover {
                color: #3D58A6;
            }
        }
        .inputClass{
            width: 300px;
            height:32px;
            border-radius: 1px;
            font-size: 14px;
        }
    }
    .buttonClass {
        height: 40px !important;
        padding: 0 10px !important;
        font-size: 18px;
    }
}
.icon_help {
    display: inline-block;
    height: 18px;
    width: 16px;
    background: url(^assets/common-assets/image/icon_help.png) no-repeat center center;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 8px;
}
.errPosition{
    position: relative;
}
.footOKButton {
    min-width: 96px;
    height: 32px;
    background: #6C92FA !important;
    border-color: #6C92FA !important;
    border-radius: 1px;
    font-size: 14px !important;
    color: #FFFFFF !important;
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
    &:hover{
        background: #5B7EDE !important;
        border-color: #5B7EDE !important;
    }
}
.footOKButton[disabled] {
    background: #E6EBF5 !important;
    border: 1px solid #D4D9E6 !important;
    color: #B8BECC !important;
}
.footCancelButton {
    height: 32px;
    background: #FFFFFF !important;
    border-radius: 1px;
    font-size: 14px;
    color: #282B33 !important;
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
}
:host ::ng-deep{
    ti-switch.ti3-switch-container {
        position: relative;
        top: 5px;
    }
    .ti3-error-icon {
        margin-top:2px;
    }
    .ti3-form .ti3-form-label{
        letter-spacing: 0;
        padding: 0 0 32px 0;
        line-height: 16px;
        white-space: nowrap;
    }
    .ti3-form .ti3-form-content{
        padding: 0 0 20px 32px !important;
    }
    .ti3-form > tbody tr > td {
        vertical-align: baseline;
    }
    .ti3-btn-primary {
        text-align: center;
        line-height: 18px;
    }
}
@import '../../../../assets/common-assets/scss/common.scss';
@import '../../../../assets/common-assets/scss/tiny.customize.scss';
