@import 'src/assets/common-assets/scss/common';
.systemLog{
    height: 100%;
    .title{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .eventBox{
        min-height: calc(100vh - 194px);
        background-color: #fff;
        padding: 32px;
        margin-bottom: 32px;
    }
}
