.home-frontViewAndRearView-component {
    height: 100%;
    display: flex;
    justify-content: space-evenly;

    .part-title {
        padding: 16px 0 0;
        text-align: center;
        color: #BAC3D5;
        font-size: 16px;
    }

    /* 前视图 后视图 */
    .front-view,
    .rear-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 355px;

        .content {
            height: 145px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        /* 前视图 内容区域 */
        .front-view-content {
            padding: 18px 20px 18px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background-image: url("^assets/emm-assets/image/home/homeFrontAndRearViewImgs/TCE_Pre_4U.png");
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.9);

            .front-item {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 24px;
                background-color: #828087;
            }
        }

        /* 后视图 内容区域 */
        .rear-view-content {
            padding: 20px 19px 20px 20px;
            display: flex;
            justify-content: space-between;
            background-image: url("^assets/emm-assets/image/home/homeFrontAndRearViewImgs/TCE_Back.png");
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.9);
            
            .left-MM {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                .mm-item {
                    display: inline-block;
                    width: 21px;
                    height: 51px;
                    background-color: #828087;

                    .PSU-item-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 100%;

                        .status-img {
                            margin-right: 0;
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                        }
                    }
                }

                .item-name {
                    writing-mode:vertical-rl;
                }
            }

            .right-PSU {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .PSU-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 71px;
                    height: 24px;
                    background-color: #828087;

                    .PSU-item-content {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            .center-part-box {
                flex: 1;
                padding-left: 1px;

                .fan-box {
                    display: flex;

                    .fan-item {
                        margin-left: 3px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 51px;
                        height: 51px;
                        background-color: #828087;

                        .fan-item-content {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            .status-img {
                                margin-right: 0;
                            }
                        }
                    }

                    .fan-item:nth-child(1) {
                        margin-left: 4px;
                    }
                    
                }

                .fan-box:nth-child(1) {
                    margin-bottom: 4px;
                }
            }
            
        }
    }

    .item-name {
        font-size: 12px;
        color: #BAC3D5;
    }

    .status-img {
        margin-right: 5px;
        display: inline-block;
        width: 10px;
        height: 10px;
    }

    .item-have-data {
        background-color: rgba(0,0,0,0) !important;
    }
}
