@import 'src/assets/common-assets/scss/custom.scss';
#raidInfo {
    .raidInfo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .row {
            width: 50%;
            display: flex;
            .rowLeft {
                display: flex;
                word-break: break-all;
                align-items: center;
            }
            .rowRight {
                display: flex;
                word-break: break-all;
                align-items: center;
            }
        }
    }
    .controlBtn{
        display: flex;
        justify-content: space-between;
    }
    .alert {
      width: 100% !important;
      margin-bottom: 20px;
      font-size: 12px;
  }
}
:host ::ng-deep {
  .ti3-icon-alert-warn-bg {
      margin-right: 8px !important;
  }
}