//此配置文件与gpp_header.c强配合，对配置文件进行修改请谨慎
//GPP TOP Header的相关配置
//GPP_MAX_SIZE: 配置GPP的大小，各个固件的位置, SIZE和SITE单位byte
//FW_NUM: GPP分区包含固件个数
//BOOT_SITE: BOOT固件在HPM的位置
//BOOT_SIZE: BOOT固件的大小（单位byte）
//ROOTFS_Header_SITE: ROOTFS SUB Header在HPM的位置
//ROOTFS_Header_SIZE：ROOTFS SUB Header的大小（单位byte,如果为-1代表可变不写,0代码按文件计算大小）
GPP_MAX_SIZE                =      384
FW_NUM                      =      3   
BOOT_NAME                   =      Hi1711_boot_4096.bin
BOOT_SITE                   =      512
BOOT_SIZE                   =      2097152
UBOOT_CMS_NAME              =      Hi1711_boot_pmode.bin
UBOOT_CMS_SITE              =      2097664
UBOOT_CMS_SIZE              =      1048576
ROOTFS_Header_NAME          =      rootfs_BOARNAME.img
ROOTFS_Header_SITE          =      3146240
ROOTFS_Header_SIZE          =      -1

//ROOTFS SUB HEADER的相关配置
//如果有签名，填入签名文件路径
//没有签名文件，为NULL
VendorRootPubkCertPath      =      rootca.der
VendorCMSSignaturePath      =      rootfs_BOARNAME.img.cms
VendorCRLPath               =      cms.crl
CustomerRootPubkCertPath    =      NULL
CustomerCMSSignaturePath    =      NULL
CustomerCRLPath             =      NULL
ROOTFSPath                  =      rootfs_iBMC.tar.gz
