:host {
    .loginInfor {
        position: fixed;
        bottom: 48px;
        right: 60px;
        background: #FFF;
        box-shadow: 0 0 12px 0 #ccc;
        text-align: left;
        padding: 32px;
        min-width: 321px;
    }
    .loginInforHead {
        margin-bottom: 12px;
        font-size: 18px;
        color: #282B33;
        font-weight: 600;
    }
    .loginContent {
        display: flex;
    }
    .labelContainer {
        color: #6C7280;
        font-size: 14px;
        margin-right: 32px;
        display: flex;
        flex-direction: column;
    }
    .contentContainer {
        color: #282B33;
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }
    .loginInforItem {
        margin-top: 20px;
    }

}
