.ipv6Batch {
    width: 320px;
    height: 32px;
    border: 1px solid #adb0b8;
    transition: all 0.2s;
    outline: none;
    padding: 0 10px;
    border-radius: 2px;
    &:hover {
        border-color: #575d6c;
    }
    &:focus, &:active {
        border-color: #6c92fa;
    }
}

:host {
    ::ng-deep {
        .ipv6Container {
            tr {
                td:nth-child(2) {
                    width: 120px;
                    word-break: break-all;
                }
            }
        }
    }
}