#configUpgrade {
    width: 100%;
    height: 100%;
    font-size: 14px;
    .moduleTitle {
        display: block;
        font-size: 20px;
        color: #333333;
        line-height: 20px;
        font-weight: bold;
        margin-bottom:20px !important;
    }
    .link {
        color: #6C92FA !important;
        cursor: pointer;
    }
    .import {
        margin-bottom:30px;
    }
    .alertStyle {
        max-width: 900px;
        width: auto;
        font-size: 12px;
        margin-bottom: 48px;
    }
    .configImportStyle, .inline{
        display: inline-block;
        vertical-align: top
    }
    .importBtn{
       margin: 0px 20px 0px 8px;
    }
    .exportProgress, .importProgressBar{
        width:300px;
        margin: 20px 5px 20px 0px;
    }
    .importFail {
        color: #f45c5e;
        font-size: 14px;
    }
    .progressIcon {
        position: relative;
        top: 3px;
    }
    .failIcon{
       margin-right: 5px;
       position: relative;
       top: 1px; 
    }
}
:host ::ng-deep {
    #configUpgrade .ti3-alert-prompt-container {
        background: #E2F1FC;
        border-color: #6CBFFF;
        border-radius: 2px;
        display: inline-block;
        width: auto;
    }
    #configUpgrade .ti3-alert-prompt-container .ti3-alert-circle{
        background: #6CBFFF;
    }
    #configUpgrade .ti3-alert-label .ti3-alert-label-with-typeIcon{
        display: inline-block;
        width: auto;
    }
    #configUpgrade .ti3-aui-file-field-container{
        height: 32px;
    }
    #configUpgrade .importBtn, #configUpgrade .exportBtn{
        width:88px;
        height: 32px;
    }
    .ti3-aui-file-state-general {
        display: none;
    }
    .ti3-aui-file-select-input{
        width: 1px;
    }
    .ti3-aui-upload-btn{
        height: 30px;
    }
}