@import 'src/assets/common-assets/scss/varible.scss';
#localuser{
    height: 100%;
    #add {
        min-width: 98px;
        height: 32px;
        font-size: 14px;
        color: #fff;
        border-radius: 1px;
        &:active, &:focus {
            color: #fff;
        }
    }
    .userContainer{
        .addContainer{
            margin-bottom: 15px;
            overflow: auto;
        }
        #userSearch{
            float: right;
            width: 296px;
        }
        #add{
            border-radius: 0;
            background: $btn_bg_color;
            border-color: $btn_bd_color;
            &:hover{
                background: $btn_bg_color_hover;
                border-color: $btn_bd_color_hover;
            }
        }
    }
    table.tbUsers{
        tr{            
            >td{
                .interfaceItem{
                    margin-right: 15px;
                }
                .operator{
                    margin-right: 14px;
                    color:  #6C92FA;
                    cursor: pointer;
                    &:hover{
                        color: #3D58A6;
                    }
                    &.disabled{
                        color: #999;
                        cursor: not-allowed;
                        text-decoration: none;
                    }
                }
            }
            .ti3-table-detail-container{
                overflow: hidden;
                .tableDetails{
                    float: left;
                    width: 50%;
                    tr{
                        td{
                            padding: 6px;
                            .ruleItem{
                                margin-right: 10px;
                            }
                            .sshKey{
                                margin-right: 20px;
                            }
                            .iconUpload{
                                text-decoration: none;
                                &:hover{
                                    color: #3D58A6;
                                }
                            }
                        }
                        td:nth-of-type(1){
                            color: #9EA4B3;
                            white-space: nowrap;
                            padding-right: 35px;
                        }
                        td:nth-of-type(2){
                            width: 99%;
                        }
                    }
                }
            }           
        }
    }   
}
