:host ::ng-deep{
    .tp-halfmodal-close {
        display: none;
    }
    .ti3-form .ti3-form-content{
        .ti3Date{
            width: 286px;            
        }
        input[type=text],input[type=password]{
            width: 286px !important;
            height: 32px;
            outline: none;
            border-radius: 1px;
            border: 1px solid #b8becc;
            padding: 0 15px;
        }
    }
    .ti3-autocomplete-container .ti3-autocomplete-input{
        width: 286px !important;
        font-size: 14px !important;
    }
    .extendField .ti3-form{
        margin-top: 20px;
    }
    .ti3-form .ti3-form-label{
        padding-top: 0px !important;
     }
    .addInputExtend{
        width: 452px;
        padding: 5px 0;
        border: 1px dashed #ccc;
        text-align: center;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 2px;
    }
    .addInputExtend:hover{
        border: 1px dashed #6C92FA;
    }
    .ti3-form .custom{
        input[type=text]{
            width:148px;
            height: 32px;
            outline: none;
            border-radius: 1px;
            border: 1px solid #b8becc;
            padding: 0 15px;
        }
    }
    .extfieldVal input[type=text]{
        width:286px;
        height:32px;
    }
    .clearIcon{
        margin-left: 10px;
        color: #999; 
        font-size: 13px;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            color: #333;
        }
    }
    .addInputDisabled {
        color: #ccc;
        cursor: not-allowed;
    }
}
   