.container{
    display: flex;
    height: 100%;
    width: 100%;
    .ibmc-view{
        width:100%;
    }
}
.pageView {
    width: 100%;
    height: 100%;
    font-size: 14px;
    .contentDetails {
        .contentTitle {
            display: block;
            font-weight: bold;
            margin-bottom: 20px;
            font-size: 16px;
            color: #282B33;
            line-height: 16px;
        }
        #firmwareUpdate, #versionTab {
            padding-top: 40px; 
        }
    }
    .buttonClass {
        height: 40px !important;
        margin-top: 40px;
        padding: 0px 35px !important;
    }
}
:host ::ng-deep{
    #firmwareView .ti3-form .ti3-form-label{
        font-size: 14px;
        color: #9EA4B3;
        letter-spacing: 0;
        line-height: 14px;
        padding: 20px 32px 0px 0;
    }
    #firmwareView .ti3-form .ti3-form-content{
        padding-bottom: 0px;
    }
    #firmwareView .ti3-form > tbody tr > td {
        vertical-align: baseline;
        white-space: normal;
    }
    .ti3-form > tbody tr > td {
        vertical-align: middle;
    }
    .ti3-btn-primary {
        width: 120px;
        height: 40px;
        border-radius: 1px;
        font-size: 18px;
        text-align: center;
        line-height: 18px;
    }
    .ti3-form .ti3-form-label{
        letter-spacing: 0;
        line-height: 14px;
        padding: 0 32px 32px 0;
    }
    .ti3-form .ti3-form-content{
        padding-bottom: 32px;
    }
    .ti3-switch[disabled].ti3-switch-on .ti3-switch-track, .ti3-switch[disabled].ti3-switch-off .ti3-switch-track {
        background-color: #E6EBF5;
    }
    .ti3-error-icon {
        margin-top:2px;
    }
}
@import '../../../../assets/common-assets/scss/common.scss';
@import '../../../../assets/common-assets/scss/tiny.customize.scss';

