.buttonClass {
    margin-top: 13px !important;
}
:host ::ng-deep {
    .ti3-unifyvalid-tip-error-container {
        min-width: 300px;
        align-content: center;
        top: -6px;
        position: absolute;
        left: 315px;
    }
    .ti3-form {
        margin: 20px 0 0 0;
    }
    .ti3-form .ti3-form-content {
        padding-bottom: 20px;
    }
}

