:host {
    .label {
        color: #6C7280;
        margin-right: 32px;
        line-height: 32px;
        display: flex;
    }
    .input {
        height: 32px;
        width: 297px;
    }
    .errorMsg {
        color: #f66f6a;
        max-width: 297px;
        margin-top: 8px;
    }
    .required {
        color: #F45C5E;
    }
    .saveParamBody {
        display: flex;
        margin-top: 4px;
        min-height: 64px;
    }
    .inputContainer {
        position: relative;
    }
    .button {
        min-width: 96px;
        height: 32px;
        font-size: 14px;
    }
    .confirmBtn:not([disabled]) {
        background-color: #6C92FA;
        border-color: #6C92FA;
        color: #fff;
    }
    .cancelBtn {
        margin-left: 16px;
        color: #282B33;
        &:hover {
            border: 1px solid #6C7280;
            color: #282B33;
        }
    }
}
