.trapComponent{
    .trapFun{
        padding-top: 4px;
    }
    .show {
        display: block;
    }
    .hide {
        display: none;
    }
    input{
        font-size: 14px;
        width: 300px;
        height: 32px;
    }
    
    #trap{
        margin-top: 7px;
    }
    .groupBox{
        position: relative;
    }
    #trapCancelBtn{
        margin-left: 10px;
    }
    .trapComponentSelect {
        width: 300px;
    }
}
:host ::ng-deep{
    .trapComponent .ti3-table-detail-container table{
        margin: 0;
        .ti3-form-label{
            line-height: 14px;
        }
    }
    .trapComponent table {
        margin-top: 15px;
        input {
            width: 300px;
            height: 32px;
            font-size: 14px;
            @media screen and (max-width: 1300px){
                width: 150px;
            }
        }
        ti-select{
            height: 32px;
            line-height: 28px;
        }
        .ti3-text-form-label{
            font-size: 14px;
            padding-right: 32px;
        }
    }
    .groupBox {
        .ti3-unifyvalid-error-container{
            position: absolute;
            left: 310px;
            top: -5px;
            min-width: 300px;
        }
    }
    .emailTable{
        table{
            margin: 0;
            thead{
                tr{
                    height: 32px;
                }
            }
            tbody{
                tr{
                    height: 48px;
                }
            }
        }
    }
    .alertStyle{
        position: relative;
        max-width: 600px;
        width: auto;
        top: 10px;
    }
}