#languageViewId {
    width: 100%;
    height: 100%;
    font-size: 14px;    
    .moduleTitle {
        display: block;
        font-size: 20px;
        color: #333333;
        line-height: 20px;
        font-weight: bold;
        margin-bottom:20px !important;
    }
    .link {
        color: #6C92FA !important;
        cursor: pointer;
    }
    .langTip {
        padding-bottom: 15px;
        span {
            font-size: 14px;
            color: #9EA4B3;
            letter-spacing: 0;
            line-height: 14px;
        }
    }
    .langTable {
        thead tr th {
            font-size: 12px;
            color: #333333;
        }
        tbody tr td {
            font-size: 14px;
            color: #333333;
            font-weight: normal;
        }
    }
}