.prefix {
    width: 100px;
}

ti-ip.ti_input_ip_container_ipv6 {
    width: 320px;
}

#ipv6BatchSetting {
    font-size: 14px;
}
.ipV6Text {
    font-size: 14px;
    width: 90%;
}
.saveBtn {
    min-width: 120px;
    height: 40px;
    font-size: 16px;
}

.bmcNetContainer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.slaacDetails {
    h3 {
        font-size: 14px;
        color:#282B33;
    }
    ul > li {
        margin-top: 10px;
        .title {
            color:#9EA4B3;
            margin-right: 36px;
        }
        .content {
            color:#6C92FA;
        }
    }
}
