@import 'src/assets/common-assets/scss/varible.scss';
.second-drop-ul{
    margin-left: -30px;
    li.active{
        color: #86A6FC;
    }
}
.baseContent{
    img{
        display: none;
        &.active{
            display: inline-block;
        }
    }
}
.dis-icon {
    cursor: not-allowed;
}