.beautiful{
    img {
        margin-bottom: 10px !important;
        width: 66px;
        height: 66px;
    }
    p {
        font-size: 16px;
        max-width: 100%;
        text-align: center;
        padding: 0px 5px;
    }
    ::ng-deep.accessResetModal {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 5px;
        color: #333;
    }
    .icon-disabled {
        cursor: not-allowed;
    }
    .homeQuickAccess {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .operationContent{
        margin-top: 0px !important;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        .operationContentDemo{
            margin-top: 32px;
            margin-bottom: 0px;
            padding: 0 0.5%;
        }
        .operationContentDemo.accessLess{
            width: 33%;
        }
        .operationContentDemo.accessMore{
            width: 25%;
        }
        .title{
            font-size: 18px;
            font-weight: 600;
        }
    }  
    .title {
        color: #474747 ;
        font-size: 18px;
        font-weight: 600;
        white-space: nowrap;
    }
}