#fdm {
    width: 100%;
    height: 100%;
    font-size: 14px;
    .moduleTitle {
        display: block;
        font-size: 20px;
        color: #333333;
        line-height: 20px;
        font-weight: bold;
    }
    .contentDetailsNoPadding{
        margin-top: 20px;
        background: #fff;
        min-height: calc(100vh - 192px);
        margin-bottom: 32px;
        display: flex;
        .buttonClass {
            margin-left: 140px;
        }
    }
    .fdmContentTree {
        width: 20%;
        display: inline-block;
        border-right: 1px solid #E6EBF5;
        min-height: 800px;
        padding:20px; 
        min-width: 250px;
    }
    .fdmContentDetail {
        width: 80%;
        display: inline-block;
        min-height: 800px;
        vertical-align: top;
        padding: 32px;
    }
}

:host ::ng-deep {
    .ti3-tree-parent-node {
        font-size: 14px !important;
    }
    .componentTitle {
        font-size: 16px;
        font-weight: bold;
        margin-bottom:20px;
    }
    .ti3-tree-item-leaf {
        margin-left: 0 ;
     }
     #fdmDetails .ti3-form .ti3-form-content {
        width: 50%;
    }
}