.tabContent{
    background-color: #fff;
    padding-top: 12px;
    .title{
        font-size: 16px;
        color: rgba(0,0,0,0.85);
        line-height: 18px;
        margin-right: 18px;
        margin-top: 32px;
        font-weight: bold;
    }
    .systemState{
        .title{
            margin-top: 12px;
        }
        .powerOn{
            font-size: 14px;
            color: #44D7B6;
            line-height: 14px;
        }
        .powerOff{
            color: #9EA4B3;
        }
    }
    .iconHelp{
        display: inline-block;
        height: 18px;
        width: 16px;
        background: url('^assets/common-assets/image/icon_help.png') no-repeat center center;
        cursor: pointer;
        vertical-align: middle;
        margin-left: 8px;
    }
    .virtualKeyContent{
        margin-top: 32px;
        .virtualKeyDiv{
            margin-top: 20px;
        }
        .virtualKeyTime{
            display: inline-block;
            margin-left: 32px;
            .checkBoxLabel {
                font-size: 14px;
                color: #6C7280;
                text-align: right;
                line-height: 16px;
            }
        }
        .virtualKey{
            width: 240px;
            height: 42px;
            color: #282B33;
            text-align: center;
            line-height: 18px;
        }
        .powerOffTimeEditor{
            margin-left: 16px;
        }
    }
    .panelBtn{
        .title{
            margin-bottom: 20px;
        }
        .label{
            font-size: 14px;
            color: #9EA4B3;
            text-align: right;
            line-height: 16px;
        }
    }
    .leakage{
        margin-top: 32px;
        span.label{
            font-size: 16px;
            font-weight: 600;
            vertical-align: top;
            margin-right: 20px;
        }
        span.tip{
            font-size: 14px;
            color: #999999;
            margin-left: 89px;
            vertical-align: top;
        }
    }
    .wakeOnLan{
        .title{
            margin-bottom: 20px;
        }
        .label{
            font-size: 14px;
            color: #9EA4B3;
            text-align: right;
            line-height: 16px;
        }
    }
    #panelPower{
        vertical-align: bottom;
        margin-left: 32px;
    }
    #wakeOnLan{
        vertical-align: bottom;
        margin-left: 32px;
    }
    .powerOnPolicy{
        .policyContent{
            margin-top: 20px;
            display: inline-block;
            margin-right: 32px
        }
    }
    .powerOnDelayed{
        .title{
            margin-bottom: 20px;
        }
        .delayedContent{
            .desc{
                margin-left: 32px;
                margin-right: 8px;
            }
            .info{
                font-size: 14px;
                color: #9EA4B3;
                letter-spacing: 0;
                line-height: 14px;
            }
        }
    }
    .saveBtn{
        margin-top: 12px;
    }
    .fcAlarmInfo{
        display: inline-block;
        margin-left: 20px;
        color:#6c92fa;
        max-width: 600px;
    }
}
:host ::ng-deep{
    .ti-switch .ti3-switch-container{
        height: 38px;
        vertical-align: bottom;
    }
    .ti3-form{
        margin: 0px;
    }
    .ti3-form .ti3-form-label,
    .ti3-form .ti3-form-content{
        line-height: 14px;
        padding-bottom: 20px !important;
        font-size: 14px;
    }
    .ti3-form .ti3-form-content{
        padding-left: 0px;
    }
    .ti3-form .ti3-form-label{
        padding-right: 0 !important;
        color: #9EA4B3;
    }
    .powerOnDelayed [tiText],
    .virtualKeyTime [tiText]{
        height: 32px;
        line-height: 32px;
        width: 80px;
    }
    .tabContent{
        .delayedContent .ti3-form{
            vertical-align: middle !important;
        }
        .ti3-btn-primary{
            font-size: 14px;
        }
    }
    
}