$padding: 32px;

:host {
    .container {
        margin-top: 24px;
        margin-left: 29px;
        margin-right: 29px;
        min-height: 650px;
        border-radius: 4px;
        position: relative;
    }
    .containerUp {
        display: flex;
    }
    .resourceContainer {
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    .title {
        font-size: 16px;
        color: #000000;
        line-height: 16px;
        font-weight:bold;
    }
    .bottomContainer {
        color: #282B33;
        margin-left: 16px;
        font-size: 20px;
        background: rgb(232, 232, 232);
        width: 74.5%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .detail {
        display: flex;
        justify-content: space-between;
        height: 300px;
        margin-left: 0px;
        margin-top: 16px;
    }
    .resource {
        padding: 12px 0 0 24px;
        background-color: #fff;
    }
    .virtualController {
        padding: 20px;
        background-color: #fff;
    }
    .homeDetail {
        width: 25.5%;
        padding: 24px;
        background: #FFFFFF;
        height: 559px;
        min-width: 390px;
    }
    @media (min-width: 1680px) {
        .resource {
            width: 100%;
        }
        .resouceContent {
            padding-left: 78px;
            padding-right: 110px;
        }
        .virtualController {
            width: 25.5%;
            position: absolute;
            top: 575px;
            height: 258px;
            min-width: 390px;
        }
    }
    @media (max-width: 1680px) {
        .resource {
            width: 100%;
        }
        .resouceContent {
            padding-left: 48px;
            padding-right: 80px;
        }
        .virtualController {
            width: 25.5%;
            position: absolute;
            top: 575px;
            height: 258px;
            min-width: 390px;
        }
    }
    @media (max-width: 1366px) {
        .resource {
            width: 100%;
        }
        .resouceContent {
            padding-left: 16px;
            padding-right: 48px;
        }
        .virtualController {
            width: 25.5%;
            position: absolute;
            top: 575px;
            height: 258px;
            min-width: 390px;
        }
    }
    .virtualContent {
        margin-top: -20px;
    }
    .resouceContent {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        transform: scale(1,0.9);
        margin-top: -5px;
    }
    .operation {
        margin-top: 16px;
        padding: 32px;
        background-color: #fff;
        margin-bottom: 32px;
        height: 258px;
    }
    .moreLink {
        color: #6C92FA;
        cursor: pointer;
    }
    
    .monitorContainer {
        display: flex;
        justify-content: space-between;
        .monitorChart {
            height: 245px;
            width: 254px;
            background: #FFFFFF;
            box-shadow: 0 0 4px 0 rgb(164 168 176 / 40%);
            border-radius: 2px;
            border-top: 6px solid #539FED;
        }
        .monitorChart:not(:first-child) {
            margin-left: 16px;
        }
    }
    .systemMonitorContain {
        border-radius: 4px;
        height: 243px;
    }
    ::ng-deep {
        .ti3-form-label {
            color: #B8BECC;
            padding-bottom: 20px;
            font-size: 14px;
            line-height: 14px;
            padding-right: 32px;
        }
        .ti3-form-content {
            padding-bottom: 20px;
            font-size: 14px;
            line-height: 14px;
            color: #E6EBF5;
            white-space: nowrap;
            min-width: 60px;
            span {
                width: 180px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
                color: #000000;
                text-align: right;
                line-height: 14px;
            }
        }
        canvas {
            cursor: pointer;
        }
    }
}
