.tabContent{
    background-color: #fff;
    padding: 32px 0px 0px;
    .bootSequenceValue{
        width: 240px;
        height: 132px;
        background: #FFFFFF;
        border: 1px solid #B8BECC;
        border-radius: 1px;
        .bootSequenceOption{
            width: 100%;
            height: 32px;
            line-height: 32px;
            padding-left: 16px;
            .icon{
                float: right;
                margin-right: 16px;
            }
        }
    }
    .nodata{
        width: 240px;
        background: #FFFFFF;
        border:1px solid #ddd;
        color: #999;
        border-radius: 1px;
        .bootSequenceOption{
            width: 100%;
            height: 32px;
            line-height: 32px;
            padding-left: 16px;
            .icon{
                float: right;
                margin-right: 16px;
            }
        }
    }
    .upEnable{
        display: inline-block;
        transform: rotate(180deg);
        line-height: 32px;
        height: 10px;
        width: 10px;
        margin-left: 4px;
        background: url('^assets/common-assets/image/moving_enable.png') no-repeat center center;
        cursor: pointer;
    }
    .downEnable{
        display: inline-block;
        transform: rotate(0deg);
        line-height: 32px;
        height: 10px;
        width: 10px;
        margin-left: 4px;
        background: url('^assets/common-assets/image/moving_enable.png') no-repeat center center;
        cursor: pointer;
    }
    .upDisable{
        display: inline-block;
        transform: rotate(0deg);
        line-height: 32px;
        height: 10px;
        width: 10px;
        margin-left: 4px;
        background: url('^assets/common-assets/image/moving_disable.png') no-repeat center center;
        cursor: not-allowed;
    }
    .downDisable{
        display: inline-block;
        transform: rotate(180deg);
        line-height: 32px;
        height: 10px;
        width: 10px;
        margin-left: 4px;
        background: url('^assets/common-assets/image/moving_disable.png') no-repeat center center;
        cursor: not-allowed;
    }
}
:host ::ng-deep{
    .ti3-form .ti3-form-label{
        padding: 0 0 32px 0;
        font-size: 14px;
        color: #9EA4B3;
        letter-spacing: 0;
        line-height: 16px
    }
    .ti3-form .ti3-form-content{
        padding: 0 0px 20px 32px !important;
    }
    input[type='radio'][tiRadio] + .ti3-radio{
        margin-right: 32px !important;
    }
    ti-select{
        margin-right: 32px !important;
        width: 240px;
    }
    .tabContent{
        .ti3-btn-primary{
            font-size: 14px;
        }
    }
}
#bootMediaIdExt {
    width: 240px;
    margin-right: 16px;
}
::ng-deep{
    .ti3-dropdown-container .tp-cascader-list {
        height: 100%;
        vertical-align: top;
    }
    .tp-cascader-list:not(:first-child) {
        border-left: none;
    }
}