.tableComponent{
    .pageNation{
        margin-top: 20px;
    }
    .tbNodata{
        text-align: center;
        .logNoData{
            margin: 50px 0 12px 0;
        }
    }
    .ti3-resize-wrapper{
        .whiteSpacePre{
            white-space: pre !important;

        }
    }
}
