#certUpdate {
  .content-details {
      background: #fff;
      min-height: calc(100vh - 194px);

      .resetting {
          margin-left: 8px;
          cursor: pointer;
          color: #6c92fa;

          &:hover {
              color: #3d58a6;
          }
      }

      .content-title {
          display: block;
          font-weight: bold;
          margin-bottom: 29px;
          font-size: 16px;
          color: #282b33;
          line-height: 16px;
      }

      .auto-update-enable {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 28px;

          > div {
              height: 20px;
          }
      }

      .center {
          display: flex;
          align-items: center;
      }

      .part2 {
          margin-top: 38px;

          .certificate-subject-box {
              display: inline-block;
              min-width: 648px;
              border: 1px solid #dcdfe6;
              border-radius: 1px;
              padding: 0 24px 20px 20px;
          }

          .session {
              margin-left: 32px;
          }

          .cer-box {
              display: inline-block;
              width: calc(50% - 32px);
              min-width: 300px;

              &.box {
                  margin-left: 20px;
                  vertical-align: top;
                  .uploadB-btn {
                      min-width: 98px;
                      height: 32px;
                      font-size: 14px;
                  }
              }

              .upload-dialog-label {
                  margin-right: 32px;
                  color: #9ea4b3;
              }
          }

          .btn {
              margin-top: 32px;
              min-width: 120px;
              height: 40px;
              font-size: 18px;
          }

          .btn-cancel {
              margin-left: 10px;
          }
      }
  }
}

ti-modal-body {
  .cerUpload ul.ti3-aui-file-items-container {
      height: 32px !important;
  }
  .cerPwd {
      width: 408px;
      height: 32px;
  }
}

:host ::ng-deep {
  ti-dominator.ti3-select-dominator-container {
      height: 32px;
  }

  .ti3-placeholder {
      line-height: 30px;
  }

  .ti3-overflow-padding {
      padding: 0px 10px;
      line-height: 30px;
  }

  .ti3-unifyvalid-tip-error-container {
      min-width: 300px;
      align-content: center;
      top: -8px;
      position: absolute;
      left: 398px;
  }

  .part2 .ti3-form {
      margin: 20px 0 0 0;
      width: 100%;

      .ti3-form-list {
          > td:nth-child(1),
          .ti3-form-require {
              width: 16px;
          }
      }

      .ti3-form-content {
          vertical-align: middle !important;

          ti-item {
              display: flex;

              .ti3-unifyvalid-error-container {
                  min-width: auto;
                  position: relative;
                  left: 15px;
                  top: 0;
              }
          }
      }
  }

  .ti3-btn-primary {
      min-width: 120px !important;
  }

  .update-cert-btn {
      min-width: auto !important;
  }

  ti-upload {
      display: inline-block;
      width: 98px;
      height: 32px;
      .ti3-file-btn {
          height: 32px;
          line-height: 29px;
          border-color: #b8becc;
          font-size: 14px;
          &[disabled] {
              cursor: not-allowed !important;
              background: #e6ebf5;
              border-color: #d4d9e6;
              color: #b8becc;
          }
      }
      .ti3-file-text {
          line-height: 30px;
      }
  }

  .cardTitle {
      line-height: 1;
      border-bottom: none;
  }

  .certificate .ti3-text-form tr td:nth-child(1){
      width: 0;
      max-width: 0;
      overflow: hidden;
  }

  .iconHelp{
      display: inline-block;
      height: 18px;
      width: 16px;
      background: url(^assets/common-assets/image/icon_help.png) no-repeat center center;
      cursor: pointer;
      vertical-align: middle;
      margin-left: 8px;
  }
}
