#emSwitch {
    width: 100%;
    height: 100%;
    font-size: 14px;
    .moduleTitle {
        display: block;
        font-size: 20px;
        color: #333333;
        line-height: 20px;
        font-weight: bold;
        margin-bottom: 20px!important;
    }
    .contentDetails {
        background: #fff;
        min-height: calc(100vh - 194px);
        padding: 32px 16px 32px 32px;
        .boardInfo{
            display: flex;
            margin-bottom: 24px;
            .board{
                margin-right: 48px;
            }
            .title{
                margin-left: 10px;
                margin-bottom: 16px;
                .iconOk{
                    display: inline-block;
                    height: 16px;
                    width: 16px;
                    border-radius: 8px;
                    background: url('^assets/common-assets/image/icon_ok.png') no-repeat center center;
                    cursor: pointer;
                    vertical-align: text-top;
                    margin-right: 8px;
                }
                .iconNo{
                    display: inline-block;
                    height: 16px;
                    width: 16px;
                    border-radius: 8px;
                    background: url('^assets/common-assets/image/icon_no.png') no-repeat center center;
                    cursor: pointer;
                    vertical-align: text-top;
                    margin-right: 8px;
                }
            }
            .boardImg{
                display: inline-block;
                width: 200px;
                cursor: pointer;
                vertical-align: text-top;
                margin-right: 18px;
            }
        }
        .changeBoardBtn{
            margin-left: 165px;
            height: 40px;
            font-size: 14px;
            color: #282B33;
            text-align: center;
            line-height: 14px;
        }
        .syncStatus{
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .lable{
                margin-right: 10px;
            }
        }
    }
    
    
}