$padding: 32px;

:host {
    .container {
        background-color: #f0f1f6;
        height: 100%;
    }
    .irmContainer {
        padding: 0 32px;
        margin-top: -50px;
        padding-bottom: 56px;
    }
    .irmContent {
        position: relative;
        margin-top: 0px;
        height: 692px;
        background: transparent;
        padding: 0;
        margin-right: 0;
        margin-bottom: 16px;
    }
    .pullLeft {
        float: left;
    }
    .pullRight {
        float: right;
    }
    .deviceTag {
        position: relative;
        width: 750px;
        margin-left: 0;
        margin-right: 16px;
        height: 692px;
        background: #fff;
        padding: $padding;
        padding-right: 0 !important;
    }
    .irmContentRM110 {
        height: 860px;
    }
    .overflow {
        overflow: hidden;
    }
    .shadow {
        box-shadow: 0 0 10px rgba(153, 153, 153, 0.2);
        padding: 32px;
    }
    .shadowEdit {
        box-shadow: 0 0 30px rgba(153, 153, 153, 0.5);
    }
    .assetStrapTop {
        width: 100%;
        background: #fff;
        margin-bottom: 16px;
    }
    .assetStrapBottom {
        width: 100%;
        background: #fff;
    }
    .iBMCDeviceStatus {
        height: 269px;
    }
    .iBMCQuickAccess {
        height: 407px;
    }
    .iBMCAssetLocatorBoard {
        height: 437px;
    }
    .assetStrap {
        width: 100%;
        height: 437px;
        padding: 32px;
        background-color: #fff;
        position: relative;
    }
    .title {
        font-size: 20px;
        font-weight: 600;
    }
    .operationContent {
        margin-top: 32px;
    }
    .operationContentIrm {
        margin-bottom: 30px;
        float: left;
        width: 32%;
        padding: 0 0.5%;
    }
    .resourceContainer {
        padding-top: 32px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}
