#sysInfoViewId {
    .bodyTitles {
        margin-bottom: 24px;
        .bodyTitle {
            display: inline-block;
            cursor: pointer;
        }
        .bodyTitle p{
            display: inline-block;
            margin-left:16px;
            font-size: 16px;
            color: #6D7278;
            padding-bottom: 8px;
            border-bottom: 3px solid #FFFFFF;
        }

        .bodyTitle:last-child::after {
            display: none !important;
        }

        .bodyTitle:first-child p{
            margin-left: 0 !important;
        }

        .bodyTitle:after {
            content: '';
            display: inline-block;
            margin-left: 16px;
            width: 1px;
            background-color: #D4D9E6;
            height: 14px;
        }

        .bodyTitle .activeTitle {
            color: #6C92FA;
            border-bottom: 3px solid #6C92FA;
        }
    }
}


