:host ::ng-deep{
    #upgradeLevel2Tabs {
        &.hideSPUpgrade{
            >.ti3-tabs-container1{
                display: none;
            }
        }
        .ti3-tabs-container1{
            padding: 5px 16px 0;
            background: #F7FAFF;
            border-bottom: 1px solid #E6EBF5;
            height: 44px;
            overflow: unset;
            .ti3-tabs{
                margin-bottom: 0;
                font-size: 14px;
                color: #6C7280;
                height: 38px !important;
                top: 1px;
            }
            .ti3-tab-li{
                padding: 0 24px;
                position: relative;
                display: block;
                margin-right: 0 !important;
                a{
                    border: none !important;
                    line-height: 38px !important;
                    font-size: 14px;
                }
                &:nth-of-type(2){
                    margin-left: 0 !important;
                }
            }
            .ti3-tab-active{
                background-color: #fff;
                border: 1px solid #E6EBF5;
                border-bottom: none;
                a{
                    line-height: 32px;
                    border: none;
                }
            }
            .ti3-tabs > li:not(:last-child):after{
                display: none;
            }
        }
        .ti3-tab-content{
            border-top: none;
        }
    }
}