#license {
    width: 100%;
    height: 100%;
    font-size: 14px;
    .moduleTitle {
        display: block;
        font-size: 20px;
        color: #333333;
        line-height: 20px;
        font-weight: bold;
        margin-bottom:20px !important;
    }
    .link {
        color: #6C92FA !important;
        cursor: pointer;
    }
    .licenseDiv4 {
        .esnValue {
            margin-top:20px;
            margin-bottom:20px;
        }
        .licenseCard{
            margin-bottom:32px;
            border: 1px solid #e2e2e2;
            #topDiv {
                background-color: #f1f8ff;
                height: 40px;
                padding:0px 20px 0px 20px;
                line-height: 38px;
                #licenseRevoke, #isBtnGroup{
                    display: inline-block;
                }
                .tabHeadLable1{
                    color: #7b7e84;
                }
                #isBtnGroup {
                    float: right;
                }
                .tabBtn {
                    margin:0px 5px 0px 5px;
                }
            }
            .contentDiv {
                padding:24px 20px 0px 20px;
            }
        }
        .noLicense {
            .noInstall {
                text-align: center;
            }
            margin:20px 0px 40px 0px;
            .licenseLabel3 {
                font-size: 18px;
                color: #d5dbe7;
            }
        }
    }

}

:host ::ng-deep {
    #licenseInstall .ti3-file-btn{
        background-color: #6C92FA;
        color: #fff;
        border: none;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        width: 100px;
    }
    #license .alertStyle {
        background: #E2F1FC;
        border-color: #6CBFFF;
        border-radius: 2px;
        width: auto;
        max-width: 900px;
        margin-bottom: 20px;
    }
    #license .textForm .ti3-form{
        margin-bottom: 4px !important;
    }
}