.webPortRight{
    display:inline-block;
    position:relative;
    left:34px;
    .webPortHttpInput{
        color:#9EA4B3;
        display:inline-block;
        margin-right:10px;
    }
    .inputClass{
        width: 190px !important;
    }
}
.clearCart {
    width: 100%;
    overflow: hidden;
    margin-top: 16px;
    .cardCart {
        margin-bottom: 0px !important;
    }
    .cardServerCart {
        background: #FFFFFF;
        border: 1px solid #DCDFE6;
        border-radius: 2px;
        width: calc(50% - 20px);
        margin-bottom: 20px;
        min-width: 635px;
        .webServerCart {
            padding: 13px 32px;
            border-bottom: 1px solid #DCDFE6;
            background-color: #F0F3FA;
            border-radius: 1px 1px 0 0;
            font-weight: bold;
            font-size: 16px;
            color: #000000;
            line-height: 16px;
            img{
                vertical-align: sub;
            }
            .webServerDetCart {
                padding-left: 8px;
            }
        }
        .webServerCert {
            margin: 15px 24px 5px !important;
            display:inline-block;
            .webServerDetails{
                cursor: pointer;
                width: 460px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
            }
        }
    }
}
.sessionClass {
    display: inline-block;
    margin-right: 20px
}
.webSslClass{
    margin-top: 50px;
}
.buttonSsl {
    min-width: 100px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #B8BECC;
    border-radius: 1px;
    font-size: 14px;
    color: #282B33;
    text-align: center;
    line-height: 14px;
}
#generateId {
    overflow-x: hidden;
    .inputClass {
        width: 360px;
        height:32px;
        border-radius: 1px;
        font-size: 14px;
    }
    .runningImg{
        position: relative;
        top:3px;
    }
}
.showCreMore {
    cursor: pointer;
}
.showMoreCredentialInfo01 {
    display: inline-block;
    margin: 15px 23%;
    position:relative;
    top: -1px;
    .showCreUp {
        cursor: pointer;
        display: inline-block;
        width: 15px;
        height: 9px;
        background: url('^assets/common-assets/image/upfold.png') no-repeat center center;
    }
    &:hover{
        .showCreUp {
            width: 15px;
            height: 9px;
            background: url('^assets/common-assets/image/unfoldHover.png');
        }
    }
}
.showMoreCredentialInfo02 {
    display: inline-block;
    margin: 15px 23%;
    position:relative;
    top: -21px;
    .showCreDown {
        cursor: pointer;
        display: inline-block;
        width: 15px;
        height: 9px;
        background: url('^assets/common-assets/image/unfold.png') no-repeat center center;
    }
    &:hover{
        .showCreDown {
            width: 15px;
            height: 9px;
            background: url('^assets/common-assets/image/upHover.png');
        }
    }
}
.showMoreCredentialInfo:hover {
    color: #6c92fa;
}
.showMoreCredentialInfo:hover div {
    color: #6c92fa;
}
.timodalwebSpan {
    display: inline-block;
    padding-right: 30px;
}
.webCSRFile {
    margin-bottom: 30px;
}
.generatRunning{
    float: right;
    padding-right: 20px;
    color: #3dcca6;
    position: relative;
}
.customStyleUpload{
    position: relative;
    margin: 8px 0;
    font-size: 12px;
    color: #9EA4B3;
    line-height: 12px;
}
.crewebdetial{
    margin-top: 5px;
}
.crePWDdetial{
    margin-bottom: 10px;
}
:host ::ng-deep {
    #webView .ti3-unifyvalid-tip-error-container {
        min-width: 300px;
        align-content: center;
        top: -1px;
        position: absolute;
        left: 326px;
    }
    #webView .timeoutClass .ti3-unifyvalid-tip-error-container {
        min-width: 300px;
        align-content: center;
        top: -6px;
        position: absolute;
        left: 315px;
    }
    .contentDetails{
        .ti3-form {
            margin: 20px 0 0 0;
            .ti3-form-label {
                padding: 0 0 32px !important;
            }
        }
    }
    .webServerCert .ti3-form {
        margin: 0 !important;
    }
    .webServerCert .ti3-form .ti3-form-label {
        padding: 0 26px 3px 5px !important;
    }
    .clearCart .ti3-form .ti3-form-content {
        padding: 0 5px 3px 5px !important;
    }
    .ti3-btn-primary {
        min-width: 120px !important;
    }

    ti-alert{
        width:fit-content;
        margin-top: 16px;
    }
}
