.tabContent{
    background-color: #fff;
    .powerSetting{
        margin-bottom: 16px;
    }
    .powerInfoItem{
        display: inline-block;
        width:calc(25% - 16px);
        margin-right: 16px;
    }
    @media (max-width:1680px) {
        .powerInfoItem{
            width:calc(33% - 16px);
        }
    }
    @media (max-width:1440px) {
        .powerInfoItem{
            width:calc(50% - 16px);
        }
    }
}
