.volumn-edit-class{
    height: 620px !important;
    .ti3-modal-content {
        height: 100%;
        .ti3-modal-body {
            max-height: none !important;
        }
    }
}
.row{
    .rowRight{
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
    }
}