#timeArea {
    .formTitle {
        padding-bottom: 14px;
    }
    .switchDiv {
        padding-top: 10px;
        display: inline-block;
        .tiSelect {
            vertical-align: middle;
        }
    }
}