#syslog{
    .cerBox{
        display: inline-block;
        width: calc(50% - 32px);
        min-width: 300px;
        &.box{
            margin-left: 20px;
            vertical-align: top;
            .uploadBtn{
                min-width: 98px;
                height: 32px;
                font-size: 14px;
            }
        }
    }
    #syslogCancelBtn{
        margin-left: 10px;
    }
    .syslogSelect {
        width: 300px;
    }
    .syslogRadio {
        margin-right: 20px
    }
}
ti-modal-body{
    .cerUpload ul.ti3-aui-file-items-container{
        height: 32px !important;
    }
    .cerPwd{
        width: 408px;
        height: 32px;
    }
}
ti-modal-footer{
    .statusBtn{
        width: auto;
        height: 32px;
    }
    [tiButton] {
        font-size: 14px !important;
    }
}
.ti3-modal-body{
    overflow: hidden;
}
:host ::ng-deep{
    .cerUpload ul.ti3-aui-file-items-container{
        min-height: 32px !important;
    }
    #syslog table {
        margin-top: 20px;
        width: 100%;
        input {
            height: 32px;
            font-size: 14px;
        }
        ti-select{
            height: 32px;
            line-height: 28px;
        }
        .cerBox .ti3-file-btn{
            &:hover {
                border: 1px solid #6c7280;
            }
        }
        ti-upload {
            display: inline-block;
            width: 98px;
            height: 32px;
            .ti3-file-btn{
                height: 32px;
                line-height: 29px;
                border-color: #B8BECC;
                font-size: 14px;
                &[disabled]{
                    cursor: not-allowed !important;
                    background: #E6EBF5;
                    border-color: #D4D9E6;
                    color: #B8BECC;
                }
            }
            .ti3-file-text {
                line-height: 30px;
            }
        }
        #syslogFlag {
            margin-top: 7px;
        }
        .ti3-text-form-label{
            font-size: 14px;
        }
        .uploadDialogLabel {
            margin-right: 32px;
            color: #9EA4B3;
        }
    }
    .alertStyle{
        display: inline-block;
        width: auto;
    }
}