:host {
    ti-modal-header:before {
        content: '';
        position: absolute;
        border-bottom: 1px solid #EEEEEE;
        width: calc(100% - 50px);
        top: 70px;
        left: 30px;
    }
    .integrationController {
        margin: 16px 0;
        color: #999;
    }
    .contenTitle {
        font-size: 15px;
    }
    .helpItem {
        line-height: 28px;
        cursor: pointer;
        color: #39f;
    }
    .errorHelp {
        padding-bottom: 20px;
        &:after {
            content: '';
            position: absolute;
            width: calc(100% - 50px);
            border-top: 1px solid #EEEEEE;
        }
    }
    .errorHelpContainer {
        margin: 16px 0;
    }
    .confirmBtn {
        min-width: 96px;
        height: 32px;
        font-size: 14px;
        background-color: #6C92FA;
        border-color: #6C92FA;
        color: #fff;
        &:hover {
            background-color: #5B7EDE;
            border-color: #5B7EDE;
        }
    }
    a, a:link, a:hover, a:visited, a:active{
        text-decoration: none;
        color: #009ee0;
    }
}
