#videoPicViewId {
    .contentTitle {
        display: block;
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 16px;
        color: #282B33;
        line-height: 16px;
    }
    .captureInfoArea {
        position: relative;
        margin-right: 10px;
        padding-bottom: 70px;
        display: inline-block;
        width: 380px;
        float: left;
        .captureInfo {
            margin-top: 12px;
            width: 376px;
            padding: 0px 15px;
            min-width: 300px;
            line-height: 90px;
            vertical-align: middle;
            height:83px;
            background:#F5F4F7;
            position:relative;
            margin-left:0.3%;
            .openStatus{
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 6px;
                box-shadow: 0 0 0 5px #6c92fa;
                position: relative;
                top: -3px;
            }
            .closeStatus{
                border: 4px solid #DDDDDD;
                width:12px;
                top:50%;
                height:12px;
                position: absolute;
                background: #fff;
                border-radius: 20px
            }
            .captureInfoDate{
                display: inline-block;
                font-size: 16px;
                padding-left: 22px;
            }
            .captureInfoImg {
                float: right;
                .smallImg {
                    border: 3px solid #FFFFFF;
                    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.10);
                    border-radius: 6px;
                    width: 75px;
                    height: 56px;
                    cursor: pointer;
                    vertical-align: middle;
                }
                .captureInfoIsNewLabel{
                    display: inline-block;
                    width: 20px;
                    position: absolute;
                    top:-20%;
                    right:-10%;
                    height: 20px;
                    background: #E41F2B;
                    border-radius: 6px 6px 6px 0;
                    .captureInfoIsNewLabelText{
                        font-size: 12px;
                        color: #FFFFFF;
                        letter-spacing: 0;
                        text-align: center;
                        line-height: 12px;
                    }
                }
            }
        }
        .captureTextBtn{
            font-size: 14px;
            color: #FFFFFF;
            text-align: right;
            line-height: 14px;
            cursor: pointer;
            width: 51px;
            height: 44px;
        }
        #outerdiv{
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.7);
            z-index: 9999;
            width: 100%;
            height: 100%;
            #imgs{
                border:5px solid #fff;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                cursor: pointer
            }
        }
    }
    .videoScreenCapture {
        display: inline-block;
        width: 400px;
        float: left;
        .captureSecondLevelTitleText{
            font-size: 14px;
            color: #7B7D80;
            line-height: 18px;
        }
        .videoScreenWrap{
            margin-top: 15px;
            width: 100%;
            min-width: 360px;
            .captrueImgArea {
                width:100%;
                height:271px;
                position:relative;
                border:1px dotted #ccc;
                border-radius: 1px;
                overflow: hidden;
                line-height: 298px;
                text-align: center;
                vertical-align: middle;
                #outerdiv1{
                    position: fixed;
                    top: 0;
                    left: 0;
                    background: rgba(0,0,0,0.7);
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    #bigimg{
                        border:5px solid #fff;
                    }
                    .posAb {
                        position: absolute !important;
                    }
                }
                .captrueImg {
                    height: 32px;
                    width: 100%;
                    line-height: 32px;
                    position: absolute;
                    bottom: 0;
                    background: #262626;
                    .time {
                        float: left;
                        margin-left: 16px;
                        color: #fff;
                    }
                }
                .btns {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 98px;
                    height: 36px;
                    border-radius: 4px;
                    color: #fff;
                    border: 1px solid #434343;
                    background-image: linear-gradient(180deg, rgba(51,51,52,1) 0%, rgba(31,31,32,1) 100%);
                    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50); 
                    .button1 {
                        display: inline-block;
                        border-radius: 4px;
                        padding: 3px 0;
                        height: 36px;
                        cursor: pointer;
                        .buttonCss1 {
                            color: #fff;
                            padding-left: 15px;
                            padding-right: 15px;
                            position: relative;
                            top: -133px;
                        }
                        .picborder {
                            border-right:1px solid #434343;
                            color: #434343;
                        }
                        #picShotLoading {
                            height: 16px;
                        }
                    }
                }
                .captureTextBtn {
                    cursor: pointer;
                }
            }
        }
    }
    .flex11{
        flex:1;
        clear: both;
    }
    .cover{
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}
:host ::ng-deep {
    .ti3-form {
        margin: 0 0 12px 0;
    }
}