.pCIECard {
    .ti3-table-detail-container {
        padding: 24px 26px;
        .title {
            font-size: 14px;
            color: #282B33;
            letter-spacing: 0;
            padding: 10px 0;
            font-weight:bold
        }
        .row {
            width: 50%;
            float: left;
            padding: 10px 0;
            font-size: 0; 
            line-height: normal;
            .rowLeft {
                width: 35%;
                display: inline-block;
                font-size: 14px;
                color: #9EA4B3;
            }
            .rowRight {
                width: 65%;
                display: inline-block;
                font-size: 14px;
                color: #282B33;
            }
        }
        .ports {
            padding: 10px 0;
        }
        .portTitle {
            cursor: pointer;
            .ti3-icon {
                margin-left: 8px;
            }
        }

        .table {
            display: table;
            width: 100%;

            .tr {
                display: table-row;
                
                .td {
                    display: table-cell;
                    padding: 10px 0;

                    .key-value {
                      display: flex;
                    }
                    
                    .key {
                        width: 35%;
                        color: #9EA4B3;
                        font-size: 14px;
                        min-width: 120px;
                    }
                    
                    .value {
                        width: 65%;
                        white-space: normal;
                        color:#282B33;
                        font-size: 14px;
                    }
                }
                
                
                .value:nth-last-child(1) {
                    padding-right: 0;
                }
            }
            
            .tr:nth-last-child(1) {
                .key,
                .value {
                    padding-bottom: 0;
                }
            } 
        }
    }
    .clearBoth {
        clear: both;
    }

    .otherTableTr {
        height: 32px !important;
        th {
            font-size: 12px !important;
            color: #282B33 !important;
        }
    }

    .otherBodyTr {
        height: 48px !important;
        td {
            font-size: 14px;
            color: #282B33;
        }
    }
}